<div class="content-header with-shadow">
  <div *ngIf="!showStepper" class="breadcrumb">
    <h4>Pending Appointment</h4>
  </div>
  <nb-stepper *ngIf="showStepper" orientation="horizontal" disableStepNavigation selectedIndex="2">
    <nb-step label="Talent Pool"></nb-step>
    <nb-step label="Pending Exam"></nb-step>
    <nb-step label="Pending Appointment"></nb-step>
    <nb-step label="Pending Interview"></nb-step>
    <nb-step label="Pending Sign Contract"></nb-step>
    <nb-step label="Onboard"></nb-step>
  </nb-stepper>
</div>

<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="input-group">
          <input type="text" [(ngModel)]="keyword" nbInput fullWidth placeholder="Search"
            (keyup.enter)="paging.pageIndex = 0; search(true)">
          <div class="input-group-addon" nbTooltip="Search">
            <nb-icon icon="search-outline" class="link" (click)="paging.pageIndex = 0; search(true)"></nb-icon>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 actions-block">
        <nb-actions size="small" class="h-100 pull-right">
          <nb-action class="link" icon="funnel-outline" nbTooltip="Filter" [ngClass]="{ 'active' : filter.isFilter }"
            (click)="filterToggle()">
          </nb-action>
          <nb-action class="link" icon="grid-outline" nbTooltip="Grid" [ngClass]="{ 'active' : isGridLayout }"
            (click)="changeLayout(true)">
          </nb-action>
          <nb-action class="link" icon="list-outline" nbTooltip="List" [ngClass]="{ 'active' : !isGridLayout }"
            (click)="changeLayout(false)"></nb-action>
        </nb-actions>
      </div>
    </div>
    <div *ngIf="filter.isFilter" class="filter-block">
      <label class="label">Filters:</label>
      <div class="row">
        <div class="col-md-4">
          <div class="form-control-group">
            <nb-select multiple fullWidth [(selected)]="filter.selected.departments"
              (selectedChange)="changeFilter(true)" placeholder="Department">
              <nb-option *ngFor="let option of filter.data.departments" [value]="option.value">
                {{ option.label }}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-control-group">
            <nb-select multiple fullWidth [(selected)]="filter.selected.divisions"
              (selectedChange)="changeFilter(false)" placeholder="Division">
              <nb-option *ngFor="let option of filter.data.divisions" [value]="option.value">
                {{ option.label }}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-control-group">
            <button nbButton status="default" nbTooltip="Clear Filter" (click)="clearFilter()">
              Clear Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!items.length" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body>
    <h5 *ngIf="!loading" class="text-no-data">No data found</h5>
  </nb-card-body>
</nb-card>

<div *ngIf="!loading && items.length">

  <!-- Grid Layout -->
  <div *ngIf="isGridLayout">
    <div class="row">
      <div class="col-lg-6" *ngFor="let item of items;">
        <nb-card style="margin-bottom: 1rem;">
          <nb-card-header class="link" (click)="edit(item)">
            <div class="title">
              <label class="link" [nbTooltip]="item.refJD?.position">{{ item.refJD?.position }}</label>
            </div>
            <div class="actions">
              <span class="label" [ngClass]="{ 'label-danger' : item.pending, 'label-gray' : !item.pending }">
                <span>{{ item.pending }}</span>
                <span *ngIf="item.pendingAll">/{{ item.pendingAll }}</span>
              </span>
              <nb-icon icon="arrow-ios-forward-outline" class="link"></nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="text-group">
              <label class="label">Department</label>
              <span>{{ item.departmentName || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Division</label>
              <span>{{ item.divisionName || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Days before expire</label>
              <span [ngClass]="{ 'text-red' : item.daysBeforeExpire > 0 && item.daysBeforeExpire <= 15 }">
                {{ item.daysBeforeExpire > 0 ? item.daysBeforeExpire : '-' }}
              </span>
            </div>
            <div class="text-group">
              <label class="label">Status</label>
              <span [nbTooltip]="item.refStatus.name" class="label"
                [ngClass]="utilitiesService.getJrStatusClass(item.refStatus.status)">{{ item.refStatus.name || '-' }}
              </span>
            </div>
            <div class="text-right ">
              <span class="link" nbTooltip="See more detail" (click)="info(item)">
                <nb-icon icon="info-outline"></nb-icon> See more detail
              </span>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-sm-12">
        <mat-paginator *ngIf="paging.length > minPageSize" [length]="paging.length" [pageIndex]="paging.pageIndex"
          [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
          (page)="pageEvent = changePaging($event)">
        </mat-paginator>
      </div>
    </div>
  </div>

  <!-- List Layout -->
  <nb-card *ngIf="!isGridLayout">
    <nb-card-body>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col" style="width: 200px;">Department</th>
              <th scope="col" style="width: 150px;">Division</th>
              <th scope="col" style="width: 90px;">Status</th>
              <th scope="col" style="width: 110px;">Days before expire</th>
              <th scope="col" style="width: 70px;">Pending</th>
              <th scope="col" style="width: 110px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items;">
              <td [ngClass]="{'text-left' : item.refJD.position }">
                <span class="link" [nbTooltip]="item.refJD?.position" (click)="edit(item)">
                  {{ item.refJD?.position || '-' }}
                </span>
              </td>
              <td>
                <span [nbTooltip]="item.departmentName">
                  {{ item.departmentName || '-' }}
                </span>
              </td>
              <td>
                <span [nbTooltip]="item.divisionName">
                  {{ item.divisionName || '-' }}
                </span>
              </td>
              <td>
                <span [nbTooltip]="item.refStatus.name" class="label"
                  [ngClass]="utilitiesService.getJrStatusClass(item.refStatus.status)">{{ item.refStatus.name || '-' }}
                </span>
              </td>
              <td>
                <span [ngClass]="{ 'text-red' : item.daysBeforeExpire > 0 && item.daysBeforeExpire <= 15 }">
                  {{ item.daysBeforeExpire > 0 ? item.daysBeforeExpire : '-' }}
                </span>
              </td>
              <td>
                <span class="label" [ngClass]="{ 'label-danger' : item.pending, 'label-gray' : !item.pending }">
                  <span>{{ item.pending }}</span>
                  <span *ngIf="item.pendingAll">/{{ item.pendingAll }}</span>
                </span>
              </td>
              <td class="actions">
                <button nbButton status="info" size="tiny" nbTooltip="See more detail" (click)="info(item)">
                  <nb-icon icon="info-outline"></nb-icon>
                </button>
                <button nbButton status="primary" size="tiny" nbTooltip="Preview" (click)="edit(item)">
                  <nb-icon icon="arrowhead-right-outline"></nb-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator [length]="paging.length" [pageIndex]="paging.pageIndex" [pageSize]="paging.pageSize"
        [pageSizeOptions]="paging.pageSizeOptions" (page)="pageEvent = changePaging($event)">
      </mat-paginator>
    </nb-card-body>
  </nb-card>

</div>