<div id="resume">

  <div *ngIf="loading" class="container">
    <div class="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="Loading Document...">
    </div>
  </div>

  <div *ngIf="submitted" class="container submitted">
    <div class="card">
      <div class="card-body">
        <div class="topic">
          <mat-icon>check_circle_outline</mat-icon>
          <p>{{ 'SUBMIT_SUCCESS' | translate }}</p>
          <br>
          <div>{{ 'SUBMIT_CONTENT' | translate }}</div>
          <div>{{ 'SUBMIT_THANK' | translate }}</div>
        </div>
        <button mat-flat-button type="button" color="primary" (click)="closeWindow()">
          {{ 'CLOSE' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !submitted">

    <div class="nav-bar" [style.background]="template.bgColor">
      <div class="nav-brand">
        <mat-icon>account_box</mat-icon>
        <div class="title" [style.color]="template.titleColor">{{ template.title }}</div>
        <div class="sub-title" [style.color]="template.subTitleColor">{{ template.subTitle }}</div>
      </div>
      <div class="nav-right">
        <span class="lang" [ngClass]="{ 'active' : language === 'en' }" [style.color]="template.titleColor"
          (click)="setLang('en')">ENG</span>
        |
        <span class="lang" [ngClass]="{ 'active' : language === 'th' }" [style.color]="template.titleColor"
          (click)="setLang('th')">ไทย</span>
      </div>
    </div>

    <form class="container" (ngSubmit)="save()">

      <!-- JR -->
      <div class="card" *ngIf="jrs.length > 0">
        <div class="card-body">
          <div class="topic">
            <mat-icon>notifications_active</mat-icon>
            <p>{{ 'JOB_OPENINGS' | translate }}</p>
            <!-- <span>{{ 'JOB_OPENINGS' | translate }}</span> -->
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <mat-form-field appearance="outline" class="fit-content">
                <mat-label>{{ 'SELECT_ANSWER' | translate }}</mat-label>
                <mat-select [(ngModel)]="appForm.refJR" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let option of jrs" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                  <mat-option [value]="'OTHERS'">
                    {{ 'JOB_OTHERS' | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="appForm.refJR === 'OTHERS'">
                <mat-label>{{ 'JOB_OTHERS' | translate }}</mat-label>
                <input matInput type="text" id="otherJob" name="otherJob" [(ngModel)]="appForm.otherJob"
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Personal Details -->
      <div class="card" *ngIf="template.personalDetail.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>account_circle</mat-icon>
            <p>{{ 'PERSONAL_DETAILS' | translate }}</p>
          </div>
          <div class="row">
            <div class="col-md-6" *ngIf="template.personalDetail.firstname.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
                <input matInput type="text" id="firstname" name="firstname" [(ngModel)]="appForm.firstname"
                  [required]="template.personalDetail.firstname.required" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="template.personalDetail.lastname.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
                <input matInput type="text" id="lastname" name="lastname" [(ngModel)]="appForm.lastname"
                  [required]="template.personalDetail.lastname.required" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="template.personalDetail.birth.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'BIRTHDAY' | translate }}</mat-label>
                <input matInput type="text" id="birth" name="birth" [matDatepicker]="birthDate"
                  [(ngModel)]="appForm.birth" readonly (click)="birthDate.open()"
                  (dateInput)="onChangeBirthday($event.target.value)"
                  [required]="template.personalDetail.birth.required" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2" *ngIf="template.personalDetail.age.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'AGE' | translate }}</mat-label>
                <input matInput type="number" id="age" name="age" [(ngModel)]="appForm.age"
                  [required]="template.personalDetail.age.required" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="template.personalDetail.phone.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'PHONE' | translate }}</mat-label>
                <input matInput type="text" id="phone" name="phone" [(ngModel)]="appForm.phone"
                  [required]="template.personalDetail.phone.required" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="template.personalDetail.email.visible">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'EMAIL' | translate }}</mat-label>
                <input matInput type="text" id="email" name="email" [(ngModel)]="appForm.email"
                  [required]="template.personalDetail.email.required" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>
          <div class="box-dashed" *ngIf="template.personalDetail.address.visible" style="padding-bottom: 0;">
            <p>{{ 'ADDRESS' | translate }}</p>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ADDRESS_NO' | translate }}</mat-label>
                  <input matInput type="text" id="addressNo" name="addressNo" [(ngModel)]="appForm.addressNo"
                    [required]="template.personalDetail.address.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'ROAD' | translate }}</mat-label>
                  <input matInput type="text" id="road" name="road" [(ngModel)]="appForm.road"
                    [required]="template.personalDetail.address.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'DISTRICT' | translate }}</mat-label>
                  <input matInput type="text" id="district" name="district" [(ngModel)]="appForm.district"
                    [required]="template.personalDetail.address.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PROVINCE' | translate }}</mat-label>
                  <input matInput type="text" id="province" name="province" [(ngModel)]="appForm.province"
                    [required]="template.personalDetail.address.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'POSTCODE' | translate }}</mat-label>
                  <input matInput type="text" id="postcode" name="postcode" [(ngModel)]="appForm.postcode"
                    [required]="template.personalDetail.address.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Work Experience -->
      <div class="card" *ngIf="template.workExperience.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>work</mat-icon>
            <p>{{ 'WORK_EXP' | translate }}</p>
            <span>{{ 'WORK_EXP_SUB' | translate }}</span>
          </div>
          <div *ngFor="let work of appForm.workExperience.work; let i = index" class="box-dashed m-b-10">
            <p>
              {{ 'WORK_EXP' | translate }} ({{ i + 1 }})
              <button mat-icon-button type="button" class="text-gray" (click)="work.deletion = true"
                [disabled]="work.deletion">
                <mat-icon>delete</mat-icon>
              </button>
            </p>
            <div *ngIf="work.deletion" class="deletion">
              <span>{{ 'DELETION' | translate }}</span>
              <button mat-button type="button" color="warn" (click)="removeWorkExperience(i)">
                {{ 'REMOVE' | translate }}
              </button>
              <button mat-stroked-button type="button" (click)="work.deletion = false">
                {{ 'CANCEL' | translate }}
              </button>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="template.workExperience.position.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'POSITION' | translate }}</mat-label>
                  <input matInput type="text" id="position{{i}}" [(ngModel)]="work.position"
                    [required]="template.workExperience.position.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="template.workExperience.company.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'COMPANY' | translate }}</mat-label>
                  <input matInput type="text" id="company{{i}}" [(ngModel)]="work.company"
                    [required]="template.workExperience.company.required" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" *ngIf="template.workExperience.start.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PERIOD_FROM' | translate }}</mat-label>
                  <input matInput type="text" id="start{{i}}" name="start" [matDatepicker]="startDate"
                    [(ngModel)]="work.start" readonly (click)="startDate.open()"
                    [required]="template.workExperience.start.required" [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2 checkbox-margin" *ngIf="template.workExperience.start.visible">
                <mat-checkbox [(ngModel)]="work.isPresent" [ngModelOptions]="{standalone: true}">
                  {{ 'PRESENT' | translate }}</mat-checkbox>
              </div>
              <div *ngIf="template.workExperience.end.visible && !work.isPresent" class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PERIOD_TO' | translate }}</mat-label>
                  <input matInput type="text" id="end{{i}}" name="end" [matDatepicker]="endDate" [(ngModel)]="work.end"
                    readonly (click)="endDate.open()" [required]="template.workExperience.end.required"
                    [ngModelOptions]="{standalone: true}">
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" *ngIf="template.workExperience.duty.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'RESPONSIBILITY' | translate }}</mat-label>
                  <textarea matInput type="text" id="duty{{i}}" rows="3" [(ngModel)]="work.duty"
                    [required]="template.workExperience.duty.required" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="add-more">
            <button mat-flat-button type="button" color="primary" (click)="addWorkExperience()">
              <mat-icon>add</mat-icon>
              {{ 'ADD_WORK_EXP' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="card" *ngIf="template.education.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>school</mat-icon>
            <p>{{ 'EDUCATION' | translate }}</p>
            <span>{{ 'EDUCATION_SUB' | translate }}</span>
          </div>
          <div *ngFor="let education of appForm.education; let i = index" class="box-dashed m-b-10">
            <p>
              {{ 'EDUCATION' | translate }} ({{ i + 1 }})
              <button mat-icon-button type="button" class="text-gray" (click)="education.deletion = true"
                [disabled]="education.deletion">
                <mat-icon>delete</mat-icon>
              </button>
            </p>
            <div *ngIf="education.deletion" class="deletion">
              <span>{{ 'DELETION' | translate }}</span>
              <button mat-button type="button" color="warn" (click)="removeEducation(i)">
                {{ 'REMOVE' | translate }}
              </button>
              <button mat-stroked-button type="button" (click)="education.deletion = false">
                {{ 'CANCEL' | translate }}
              </button>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="template.education.refDegree.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'DEGREE' | translate }}</mat-label>
                  <mat-select *ngIf="language === 'en'" id="refDegree{{i}}" [(ngModel)]="education.refDegree"
                    [ngModelOptions]="{ standalone: true }" [required]="template.education.refDegree.required">
                    <mat-option *ngFor="let degree of degreesEN" [value]="degree.value">
                      {{ degree.label }}
                    </mat-option>
                  </mat-select>
                  <mat-select *ngIf="language === 'th'" id="refDegree{{i}}" [(ngModel)]="education.refDegree"
                    [ngModelOptions]="{ standalone: true }" [required]="template.education.refDegree.required">
                    <mat-option *ngFor="let degree of degreesTH" [value]="degree.value">
                      {{ degree.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="template.education.gpa.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GPA' | translate }}</mat-label>
                  <input matInput type="text" id="gpa{{i}}" [(ngModel)]="education.gpa"
                    [ngModelOptions]="{standalone: true}" [required]="template.education.gpa.required">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" *ngIf="template.education.university.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'UNIVERSITY' | translate }}</mat-label>
                  <input matInput type="text" id="university{{i}}" [(ngModel)]="education.university"
                    [ngModelOptions]="{standalone: true}" [required]="template.education.university.required">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="template.education.major.visible">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'MAJOR' | translate }}</mat-label>
                  <input matInput type="text" id="major{{i}}" [(ngModel)]="education.major"
                    [ngModelOptions]="{standalone: true}" [required]="template.education.major.required">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="add-more">
            <button mat-flat-button type="button" color="primary" (click)="addEducation()">
              <mat-icon>add</mat-icon>
              {{ 'ADD_EDUCATION' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Hard Skills -->
      <div class="card" *ngIf="template.hardSkill.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>highlight</mat-icon>
            <p>{{ 'HARD_SKILLS' | translate }}</p>
            <span>{{ 'HARD_SKILLS_SUB' | translate }}</span>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'HARD_SKILL' | translate }}</mat-label>
                <input matInput (keyup.enter)="addHardSkill()" [(ngModel)]="hardSkill.keyword"
                  [ngModelOptions]="{standalone: true}" [disabled]="appForm.hardSkill.length === 20">
                <mat-hint align="end">{{ 'MAX_HARD_SKILLS' | translate }}</mat-hint>
                <mat-hint align="start" class="text-red">
                  <span *ngIf="hardSkill.required">{{ 'HARD_SKILLS_REQUIRED' | translate }}</span>
                  <span *ngIf="hardSkill.duplication">{{ 'HARD_SKILLS_DUPLICATE' | translate }}</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="add-more">
            <button mat-flat-button type="button" color="primary" (click)="addHardSkill()"
              [disabled]="appForm.hardSkill.length === 20">
              <mat-icon>add</mat-icon>
              {{ 'ADD_HARD_SKILL' | translate }}
            </button>
          </div>
          <div class="text-right text-gray">
            <span>{{ appForm.hardSkill.length }}/20</span>
          </div>
          <div class="box-dashed">
            <mat-chip-list>
              <mat-chip color="primary" selected>{{ 'HARD_SKILLS' | translate }}</mat-chip> :
              <mat-chip *ngFor="let value of appForm.hardSkill; let i = index">
                {{ value }}
                <mat-icon matChipRemove (click)="removeHardSkill(i)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>

      <!-- Soft Skills -->
      <div class="card" *ngIf="template.softSkill.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>highlight</mat-icon>
            <p>{{ 'SOFT_SKILLS' | translate }}</p>
            <span>{{ 'SOFT_SKILLS_SUB' | translate }}</span>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'SOFT_SKILL' | translate }}</mat-label>
                <input matInput (keyup.enter)="addSoftSkill()" [(ngModel)]="softSkill.keyword"
                  [ngModelOptions]="{standalone: true}" [disabled]="appForm.softSkill.length === 20">
                <mat-hint align="end">{{ 'MAX_SOFT_SKILLS' | translate }}</mat-hint>
                <mat-hint align="start" class="text-red">
                  <span *ngIf="softSkill.required">{{ 'SOFT_SKILLS_REQUIRED' | translate }}</span>
                  <span *ngIf="softSkill.duplication">{{ 'SOFT_SKILLS_DUPLICATE' | translate }}</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="add-more">
            <button mat-flat-button type="button" color="primary" (click)="addSoftSkill()"
              [disabled]="appForm.softSkill.length === 20">
              <mat-icon>add</mat-icon>
              {{ 'ADD_SOFT_SKILL' | translate }}
            </button>
          </div>
          <div class="text-right text-gray">
            <span>{{ appForm.softSkill.length }}/20</span>
          </div>
          <div class="box-dashed">
            <mat-chip-list>
              <mat-chip color="primary" selected>{{ 'SOFT_SKILLS' | translate }}</mat-chip> :
              <mat-chip *ngFor="let value of appForm.softSkill; let i = index">
                {{ value }}
                <mat-icon matChipRemove (click)="removeSoftSkill(i)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>

      <!-- Certifications -->
      <div class="card" *ngIf="template.certificate.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>turned_in</mat-icon>
            <p>{{ 'CERTIFICATIONS' | translate }}</p>
            <span>{{ 'CERTIFICATIONS_SUB' | translate }}</span>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'CERTIFICATION' | translate }}</mat-label>
                <input matInput (keyup.enter)="addCertificate()" [(ngModel)]="certificate.keyword"
                  [ngModelOptions]="{standalone: true}" [disabled]="appForm.certificate.length === 5">
                <mat-hint align="end">{{ 'MAX_CERT' | translate }}</mat-hint>
                <mat-hint align="start" class="text-red">
                  <span *ngIf="certificate.required">{{ 'CERT_REQUIRED' | translate }}</span>
                  <span *ngIf="certificate.duplication">{{ 'CERT_DUPLICATE' | translate }}</span>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="add-more">
            <button mat-flat-button type="button" color="primary" (click)="addCertificate()"
              [disabled]="appForm.certificate.length === 5">
              <mat-icon>add</mat-icon>
              {{ 'ADD_CERT' | translate }}
            </button>
          </div>
          <div class="text-right text-gray">
            <span>{{ appForm.certificate.length }}/5</span>
          </div>
          <div class="box-dashed">
            <mat-chip-list>
              <mat-chip color="primary" selected>{{ 'CERTIFICATIONS' | translate }}</mat-chip> :
              <mat-chip *ngFor="let value of appForm.certificate; let i = index">
                {{ value }}
                <mat-icon matChipRemove (click)="removeCertificate(i)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>

      <!-- Resume -->
      <div class="card" *ngIf="template.uploadCV.active">
        <div class="card-body">
          <div class="topic">
            <mat-icon>account_box</mat-icon>
            <p>{{ 'RESUME' | translate }}</p>
            <span>{{ 'RESUME_SUB' | translate }}</span>
          </div>
          <div class="upload-file box-dashed">
            <p class="file-preview">
              <mat-icon>insert_drive_file</mat-icon>
              <span *ngIf="!appForm.attachment.name">{{ 'NO_FILE' | translate }}</span>
              <span *ngIf="appForm.attachment.name">{{ appForm.attachment.name }}</span>
              <mat-icon *ngIf="appForm.attachment.name" class="delete"
                (click)="appForm.attachment = initialAttahment(); fileInput.value = ''">
                cancel
              </mat-icon>
            </p>
            <p><small>{{ 'ATTACH_RESUME' | translate }} (pdf, doc, docx, jpeg, png -
                {{ 'MAX_UPLOAD' | translate }})</small></p>
            <button mat-flat-button type="button" color="primary" (click)="fileInput.click()">
              <mat-icon>cloud_upload</mat-icon> {{ 'UPLOAD_RESUME' | translate }}
              <input #fileInput type="file" (change)="uploadFile(appForm.attachment, $event.target.files)" accept="*"
                style="display:none;" />
            </button>
          </div>
        </div>
      </div>

      <!-- Questions -->
      <div id="question{{iQuestion}}" class="card" *ngFor="let question of appForm.questions; let iQuestion = index;">
        <div class="card-body">

          <div class="topic" *ngIf="question.type === InputType.Label" style="margin-bottom: 1rem;">
            <p>{{ question.title }} <span class="text-red" *ngIf="question.required">*</span></p>
            <span *ngIf="question.showSubTitle">{{ question.subTitle }}</span>
          </div>
          <div class="topic" *ngIf="question.type !== InputType.Label">
            <mat-icon>help_outline</mat-icon>
            <p>{{ question.title }} <span class="text-red" *ngIf="question.required">*</span></p>
            <span *ngIf="question.showSubTitle">{{ question.subTitle }}</span>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
              <div *ngIf="question.imgaeURL" class="question-image">
                <img [src]="question.imgaeURL" class="w-100">
              </div>
            </div>
          </div>

          <div *ngIf="question.type === InputType.Input">
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <mat-form-field appearance="outline">
                  <input matInput type="text" [(ngModel)]="question.answer.input" [required]="question.required"
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="question.type === InputType.TextArea">
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <mat-form-field appearance="outline">
                  <textarea matInput type="text" [(ngModel)]="question.answer.textArea" rows="3"
                    [required]="question.required" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="question.type === InputType.Radio">
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <mat-radio-group [(ngModel)]="question.answer.selected" [required]="question.required"
                  [ngModelOptions]="{standalone: true}">
                  <div class="row">
                    <div *ngFor="let option of question.answer.options; let i = index" class="m-b-15"
                      [ngClass]="{ 'col-md-6' : option.imgaeURL, 'col-md-12': !option.imgaeURL}">
                      <div *ngIf="option.imgaeURL" class="answer-image"
                        [ngClass]="{ 'active': question.answer.selected === i.toString() }"
                        (click)="question.answer.selected = i.toString()">
                        <img [src]="option.imgaeURL">
                      </div>
                      <mat-radio-button [value]="i.toString()">
                        {{ option.label }}
                      </mat-radio-button>
                    </div>
                    <div class="col-md-12">
                      <mat-radio-button *ngIf="question.answer.hasOther"
                        [value]="question.answer.options.length.toString()">
                        {{ question.answer.otherLabel }}
                      </mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
                <mat-form-field appearance="outline"
                  *ngIf="question.answer.selected === question.answer.options.length.toString()">
                  <mat-label>{{ question.answer.otherLabel }}</mat-label>
                  <input matInput type="text" [(ngModel)]="question.answer.otherInput" required
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="question.type === InputType.ChcekBox">
            <div class="row">
              <div class="offset-lg-2 col-lg-8">
                <div class="row">
                  <div *ngFor="let option of question.answer.options; let i = index" class="m-b-15"
                    [ngClass]="{ 'col-md-6' : option.imgaeURL, 'col-md-12': !option.imgaeURL}">
                    <div *ngIf="option.imgaeURL" class="answer-image" [ngClass]="{ 'active': option.checked }"
                      (click)="option.checked = !option.checked">
                      <img [src]="option.imgaeURL">
                    </div>
                    <mat-checkbox [(ngModel)]="option.checked" [ngModelOptions]="{standalone: true}">{{ option.label }}
                    </mat-checkbox>
                  </div>
                  <div *ngIf="question.answer.hasOther" class="col-md-12">
                    <mat-checkbox [(ngModel)]="question.answer.otherChecked" [ngModelOptions]="{standalone: true}">
                      {{ question.answer.otherLabel }}
                    </mat-checkbox>
                    <mat-form-field appearance="outline" *ngIf="question.answer.otherChecked">
                      <mat-label>{{ question.answer.otherLabel }}</mat-label>
                      <input matInput type="text" [(ngModel)]="question.answer.otherInput" required
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="question.type === InputType.Dropdown" class="row">
            <div class="offset-lg-2 col-lg-8">
              <mat-form-field appearance="outline" class="fit-content">
                <mat-label>{{ 'SELECT_ANSWER' | translate }}</mat-label>
                <mat-select [(ngModel)]="question.answer.selected" [required]="question.required"
                  [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let option of question.answer.options; let i = index" [value]="i.toString()">
                    {{ option.label }}
                  </mat-option>
                  <mat-option *ngIf="question.answer.hasOther" [value]="question.answer.options.length.toString()">
                    {{ question.answer.otherLabel }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline"
                *ngIf="question.answer.selected === question.answer.options.length.toString()">
                <mat-label>{{ question.answer.otherLabel }}</mat-label>
                <input matInput type="text" [(ngModel)]="question.answer.otherInput" required
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>

      <div class="terms">
        <mat-checkbox [(ngModel)]="term" [ngModelOptions]="{standalone: true}"></mat-checkbox>
        <span>{{ 'TERMS' | translate }}</span>
        <button mat-icon-button type="button">
          <mat-icon class="showPhoto">help_outline</mat-icon>
        </button>
      </div>

      <div *ngIf="!isPreview" class="footer">
        <button mat-flat-button type="button" (click)="closeWindow()">
          <mat-icon>close</mat-icon> {{ 'CLOSE' | translate }}
        </button>
        <button mat-flat-button color="primary" type="submit" [disabled]="!term">
          <mat-icon>send</mat-icon> {{ 'SUBMIT' | translate }}
        </button>
      </div>
      <div *ngIf="isPreview" class="footer-right">
        <button mat-flat-button type="button" color="primary" (click)="closeWindow()">
          <mat-icon>close</mat-icon> {{ 'CLOSE_PREVIEW' | translate }}
        </button>
      </div>

    </form>
  </div>

</div>