<div class="content-header with-shadow">
  <h3>Reject Stage</h3>
</div>

<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body>
    <h5 *ngIf="!loading" class="text-no-data">No data found</h5>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!loading">
  <nb-card-body>
    <nb-accordion multi>
      <nb-accordion-item expanded="true">
        <nb-accordion-item-header class="txt-header">
          Talent Pool
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of talentPoolList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item *ngIf="!isHybrid">
        <nb-accordion-item-header class="txt-header">
          Pending Exam
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of examList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item *ngIf="!isHybrid">
        <nb-accordion-item-header class="txt-header">
          Pending Appointment
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of appointmentList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item *ngIf="!isHybrid">
        <nb-accordion-item-header class="txt-header">
          Pending Interview
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of interviewList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item *ngIf="!isHybrid">
        <nb-accordion-item-header class="txt-header">
          Pending Sign Contract
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of signList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item *ngIf="!isHybrid">
        <nb-accordion-item-header class="txt-header">
          Onboard
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of onboardList;">
              <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                {{ item.label }}
              </nb-checkbox>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>

    </nb-accordion>
  </nb-card-body>
  <nb-card-footer *ngIf="role.refAuthorize.configuration.rejection.editable">
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>

<!-- <nb-card *ngIf="!loading" accent="success">
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6 col-lg-6 col-md-6">

        <nb-accordion multi>
          <nb-accordion-item expanded="true">
            <nb-accordion-item-header class="txt-header">
              Talent Pool
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of talentPoolList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header class="txt-header">
              Pending Exam
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of examList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header class="txt-header">
              Pending Appointment
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of appointmentList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

      <div class="col-sm-6 col-lg-6 col-md-6">

        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header class="txt-header">
              Pending Interview
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of interviewList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header class="txt-header">
              Pending Sign Contract
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of signList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header class="txt-header">
              Onboard
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-lg-6" *ngFor="let item of onboardList;">
                  <nb-checkbox [(ngModel)]="item.value" class="txt-body" [disabled]="!item.active">
                    {{ item.label }}
                  </nb-checkbox>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="role.refAuthorize.configuration.rejection.editable">
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card> -->