<div class="card">
  <img class="login-image" width="80px" height="80px" src="https://s3-ap-southeast-1.amazonaws.com/img-in-th/55613ac85c767ce0c72fc9825f111d0e.png" />
  <h6 class="text-center">Buddy Recruit</h6>
  <br>
  <form *ngIf="!changeText" [formGroup]="paawordForm" (ngSubmit)="changePass(paawordForm.value)">
    <div class="form-control-group">
      <label class="label">New Password</label>
      <input type="password" [formControl]="newPassword" nbInput fullWidth placeholder="password">
    </div>
    <div class="form-control-group">
      <label class="label">Confirm Password</label>
      <input type="password" [formControl]="confirmPassword" nbInput fullWidth placeholder="password">
      <!-- <small *ngIf="touched && confirmPassword.errors" class="text-red">{{ sErrorPassword }}</small> -->
    </div>
    <button nbButton fullWidth status="success" type="submit" class="m-b-10">Submit</button>
  </form>
  <div *ngIf="changeText">
    <div class="title text-warning" style="text-align: center"><b>Change Password Complete</b></div>
  </div>
  <small>
    <a [routerLink]="'/employer/login'"><b>Back to login</b></a>
  </small>
</div>