<div class="content-header with-shadow">
  <h3>Job Description <small class="text-cap">({{ state }})</small></h3>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="color:#8f9bb3">
        Description
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedJobPo }">
              <label class="label">Job Position <span style="color:red">*</span></label>
              <input type="text" name="position" [(ngModel)]="jd.position" [disabled]="checkPreview" nbInput
                fullWidth />
              <small *ngIf="touchedJobPo" class="text-red">{{ sErrorPosition }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedJobMail }">
              <label class="label">Job Position in email <span style="color:red">*</span></label>
              <nb-select [(ngModel)]="jd.refPosition" [ngModelOptions]="{ standalone: true }" [disabled]="checkPreview"
                fullWidth>
                <nb-option [disabled]="checkPreview" *ngFor="let position of positionMaster" [value]="position.value">
                  {{ position.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touchedJobMail" class="text-red">{{ sErrorrefCheck }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedCV }">
              <label ng-disabled="true" class="label">Keyword to search in CV <span style="color:red">*</span></label>
              <tag-input [disable]="checkPreview" [(ngModel)]="jd.keywordSearch" secondaryPlaceholder="Enter a keyword"
                placeholder="+" [ngModelOptions]="{ standalone: true }">
              </tag-input>
              <small *ngIf="touchedCV" class="text-red">{{ sErrorKey }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="label">Job Description</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="text" [(ngModel)]="jd.attachment.originalname" disabled name="originalname" nbInput
                    fullWidth />
                </div>
                <div class="input-group-append">
                  <button (click)="fileInput.click()" [disabled]="!modeEditable || checkPreview"
                    class="btn btn-outline-upload">
                    <input #fileInput type="file" name="jd" (change)="onHandleFileInput($event.target.files)"
                      ng2FileSelect [uploader]="uploader" [(ngModel)]="jd.attachment.originalname" accept="image/*"
                      style="display:none;" />
                    Browse File
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button nbButton status="primary" size="small" class="m-r-5"
                [disabled]="!jd.attachment.originalname || !modeEditable || checkPreview"
                (click)="clearAttachFile()">Clear File
              </button>
              <button nbButton status="primary" size="small"
                [disabled]="!jd.attachment.originalname || !jd.attachment.uploadName"
                (click)="downloadFilePress()">Download
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedDep }">
              <label class="label" for="name">Department <span style="color:red">*</span></label>
              <nb-select [disabled]="checkPreview" [(ngModel)]="jd.departmentId" [ngModelOptions]="{ standalone: true }"
                fullWidth (selectedChange)="onChangeDepartment($event)">
                <nb-option [disabled]="checkPreview" *ngFor="let department of departMentAdmin"
                  [value]="department.value">
                  {{ department.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touchedDep || !jd.departmentId" class="text-red">{{ sErrorDe }}</small>
            </div>
          </div>
          <div class="col-md-6" *ngIf="checkDivision">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedDi }">
              <label class="label" for="name">Division <span style="color:red">*</span></label>
              <nb-select [disabled]="divisionOptions.length <= 1 || checkPreview" [(ngModel)]="jd.divisionId"
                [ngModelOptions]="{ standalone: true }" fullWidth>
                <nb-option [disabled]="checkPreview" *ngFor="let option of divisionOptions" [value]="option.value">
                  {{ option.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touchedDi || !jd.departmentId" class="text-red">{{ sErrorDivision }}</small>
            </div>
          </div>
        </div>
        <hr>
        <h5>Score (%)</h5>
        <div class="row">
          <!-- Work Experience -->
          <div class="col-sm-4 col-md-4">
            <div class="form-group">
              <label class="label" for="inputEXP">
                Work Experience <span style="color:red">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="0.00" max="100.00" step="1.00" name="exp"
                  (input)="onChangeScore($event, 'WORKEXP')" [(ngModel)]="jd.weightScore.workExperience.total"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly>
                <div class="input-group-addon" nbTooltip="Edit">
                  <nb-icon icon="settings-2" class="link" (click)="open(ExperienceBox)"></nb-icon>
                </div>
              </div>
            </div>
            <!-- HARD SKILL -->
            <div class="form-group">
              <label class="label" for="inputEXP">
                Hard Skill<span style="color:red">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="0.00" max="100.00" step="1.00" name="hard"
                  (input)="onChangeScore($event, 'HARDSKILL')" [(ngModel)]="jd.weightScore.hardSkill.total"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                <div class="input-group-addon" nbTooltip="Edit">
                  <nb-icon icon="settings-2" class="link" (click)="open(HardSkillBox)"></nb-icon>
                </div>
              </div>
            </div>
          </div>
          <!-- Education  -->
          <div class="col-sm-4 col-md-4">
            <div class="form-group">
              <label class="label" for="inputEXP">
                Education <span style="color:red">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="0.00" max="100.00" step="1.00" name="edu"
                  (input)="onChangeScore($event, 'EDUCATION')" [(ngModel)]="jd.weightScore.education.total"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                <div class="input-group-addon" nbTooltip="Edit">
                  <nb-icon icon="settings-2" class="link" (click)="open(EducationBox)"></nb-icon>
                </div>
              </div>
            </div>
            <!-- SOFT SKILL -->
            <div class="form-group">
              <label class="label" for="inputEXP">
                Soft Skill <span style="color:red">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="0.00" max="100.00" step="1.00" name="soft"
                  (input)="onChangeScore($event, 'SOFTSKILL')" [(ngModel)]="jd.weightScore.softSkill.total"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                <div class="input-group-addon" nbTooltip="Edit">
                  <nb-icon icon="settings-2" class="link" (click)="open(SoftSkillBox)"></nb-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <!--Certificate-->
            <div class="form-group">
              <label class="label" for="inputEXP">
                Certificate <span style="color:red">*</span>
              </label>
              <div class="input-group">
                <input type="number" min="0.00" max="100.00" step="1.00" name="cert"
                  (input)="onChangeScore($event, 'CERTIFICATE')" [(ngModel)]="jd.weightScore.certificate.total"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                <div class="input-group-addon" nbTooltip="Edit">
                  <nb-icon icon="settings-2" class="link" (click)="open(CertificateBox)"></nb-icon>
                </div>
              </div>
            </div>
            <div class="form-group">
              <br />
              <label for="inputEXP">
                Total {{ sTotal }} %
              </label>
            </div>
          </div>
        </div>
        <small class="pull-right" *ngIf="touched || touchedOut" style="color: red">{{ SErrorAll }}</small>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="default" (click)="back()">Cancel</button>
        <button *ngIf="!checkPreview" nbButton status="success" (click)="saveAll()">Save</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<!-- ExperienceBox -->
<ng-template #ExperienceBox let-data let-ref="dialogRef">
  <nb-card [style.max-height.px]="innerHeight" [style.width.px]="innerWidth">
    <nb-card-header>
      <div>
        <span style="color:#8f9bb3">
          Work Experience ( Max {{ jd.weightScore.workExperience.total }} % )
        </span>
        <div *ngIf="!checkPreview" class="pull-right">
          <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
            (click)="addOption('WORKEXP')" [disabled]="!isAddWork || checkPreview">ADD</button>
        </div>
        <br> <small>( % of Work experience must not exceed {{ jd.weightScore.workExperience.total }} % )</small>
      </div>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let workEXPline of jd.weightScore.workExperience.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'WORKEXP')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 form-group">
                <label class="control-label">Exp. From
                </label><br>
                <input type="number" min="0" max="100" name="low" value="workEXPline.low" [(ngModel)]="workEXPline.low"
                  [disabled]="checkPreview || i != 0" onKeyPress="if(this.value.length==3) return false;" nbInput
                  fullWidth appNumberDirective pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
              <div class="col-4 col-sm-4 col-md-4 form-group">
                <label class="control-label">Exp. To
                </label><br>
                <input (input)="onChanheWork(i)" type="number" min="0" max="100" name="high" value="workEXPline.high"
                  [(ngModel)]="workEXPline.high" [disabled]="checkPreview"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
              <div class="col-4 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label>
                <input type="number" min="0" max="100" value="workEXPline.percent" [(ngModel)]="workEXPline.percent"
                  [disabled]="checkPreview" [ngClass]="{
                    'has-error': workEXPline.flagError,
                    'has-success': !workEXPline.flagError
                  }" onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Exp. From <span style="color:red">*</span></th>
              <th>Exp. To <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let workEXPline of jd.weightScore.workExperience.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <div class="input-group">
                  <input type="number" min="0" max="100" name="low" value="workEXPline.low"
                    [(ngModel)]="workEXPline.low" [disabled]="checkPreview || i != 0"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input (input)="onChanheWork(i)" type="number" min="0" max="100" name="high" value="workEXPline.high"
                    [(ngModel)]="workEXPline.high" [disabled]="checkPreview"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input type="number" min="0" max="100" value="workEXPline.percent" [(ngModel)]="workEXPline.percent"
                    [disabled]="checkPreview" [ngClass]="{
                        'has-error': workEXPline.flagError,
                        'has-success': !workEXPline.flagError
                      }" onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td>
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'WORKEXP')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxW }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('WORKEXP')">Cancel</button>
      <button nbButton status="success" (click)="save('WORKEXP')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- SoftSkillBox -->
<ng-template #SoftSkillBox let-data let-ref="dialogRef">
  <nb-card [style.max-width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Soft skill ( Total {{ jd.weightScore.softSkill.total }} % , Current
        {{ iTotalSoftSkill }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('SOFTSKILL')" [disabled]="!isAddSoft || checkPreview">ADD</button>
      </div>
      <br>
      <small> ( A summary of all soft skills (%) you've entered must be equal to
        calculated "Total Soft Skill (%)" )</small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let ss of jd.weightScore.softSkill.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'SOFTSKILL')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Skill
                </label><br>
                <input nbInput type="text" value="ss.skill" [(ngModel)]="ss.skill"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="ss.percent" [(ngModel)]="ss.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentSoftSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <tag-input placeholder="Keyword" [(ngModel)]="ss.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let ss of jd.weightScore.softSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="ss.skill" [(ngModel)]="ss.skill"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" value="ss.percent" min="0" max="100" [(ngModel)]="ss.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentSoftSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="ss.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'SOFTSKILL')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxS }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('SOFTSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('SOFTSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- HardSkillBox -->
<ng-template #HardSkillBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Hard skill ( Total {{ jd.weightScore.hardSkill.total }} % , Current
        {{ iTotalHardSkill }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('HARDSKILL')" [disabled]="!isAddHard || checkPreview">ADD</button>
      </div>
      <br>
      <small>
        ( A summary of all hard skills (%) you've entered must be equal to
        calculated "Total Hard Skill (%)" )
      </small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let hs of jd.weightScore.hardSkill.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'HARDSKILL')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Skill
                </label><br>
                <input nbInput type="text" value="hs.skill" [(ngModel)]="hs.skill"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="hs.percent" [(ngModel)]="hs.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentHardSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <tag-input placeholder="Keyword" [(ngModel)]="hs.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let hs of jd.weightScore.hardSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="hs.skill" [(ngModel)]="hs.skill"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" min="0" max="100" value="hs.percent" [(ngModel)]="hs.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentHardSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="hs.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'HARDSKILL')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxH }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('HARDSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('HARDSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- CertificateBox -->
<ng-template #CertificateBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Certificate ( Total {{ jd.weightScore.certificate.total }} % , Current
        {{ iTotalCertificate }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('CERTIFICATE')" [disabled]="!isAddCert">ADD</button>
      </div>
      <br>
      <small>
        ( A summary of all certificate (%) you've entered must be equal to
        calculated "Total Certificate (%)" )
      </small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let cert of jd.weightScore.certificate.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'CERTIFICATE')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Name
                </label><br>
                <input nbInput type="text" value="cert.skill" [(ngModel)]="cert.name"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="cert.percent" [(ngModel)]="cert.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentCertificate()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <tag-input placeholder="Keyword" [(ngModel)]="cert.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Name <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let cert of jd.weightScore.certificate.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="cert.name" [(ngModel)]="cert.name"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" value="cert.percent" min="0" max="100" [(ngModel)]="cert.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentCertificate()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="cert.keyword" [removable]="modeEditable"
                  [editable]="modeEditable || checkPreview" [disable]="!modeEditable"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'CERTIFICATE')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxC }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('CERTIFICATE')">Cancel</button>
      <button nbButton status="success" (click)="save('CERTIFICATE')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- EducationBox -->
<ng-template #EducationBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Education ( Max {{ jd.weightScore.education.total }} % )
      </label>
      <small>( % of Education must not exceed {{ jd.weightScore.education.total }} % )</small>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Degrees</th>
              <th>% <span style="color:red">*</span></th>
              <!-- <th></th> -->
            </tr>
            <tr *ngFor="let edu of jd.weightScore.education.weight; let i = index;">
              <td>{{ i + 1 }}.</td>
              <td class="col-left">{{ edu.name }}</td>
              <td>
                <input type="number" min="0" max="100" value="edu.percent" [(ngModel)]="edu.percent"
                  [disabled]="!modeEditable || checkPreview" onKeyPress="if(this.value.length==3) return false;" nbInput
                  appNumberDirective pattern="[0-9]*" inputmode="numeric" digitOnly />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>

    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>

    <nb-card-footer>
      <button nbButton status="default" (click)="close('EDUCATION')">Cancel</button>
      <button nbButton status="success" (click)="save('EDUCATION')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>