<div class="content-header with-shadow">
  <h3>
    <span class="link text-gray" (click)="back()">
      <nb-icon icon="arrow-ios-back-outline" class="font-inherit"></nb-icon>
    </span>
    Job Description <small *ngIf="state" class="text-cap">({{ state }})</small>
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="color:#8f9bb3">
        Description
      </nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group">
              <label class="label">Job ID
              </label>
              <input type="text" name="jobID" [(ngModel)]="jd.job_id" [disabled]="checkPreview || isHybrid" nbInput
                fullWidth />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedJobPo }">
              <label class="label">Job Name
              </label>
              <input type="text" name="position" [(ngModel)]="jd.position" [disabled]="checkPreview || isHybrid" nbInput
                fullWidth />
              <small *ngIf="touchedJobPo" class="text-red">{{ sErrorPosition }}</small>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'has-error': f.nameTH.invalid,'select-disabled': editCheck || checkPreview }">
              <label class="label">Public Job Name (TH) </label>
              <input type="text" [formControl]="f.nameTH" name="nameTH" [(ngModel)]="jd.publicJobName.th" nbInput
                fullWidth />
              <small *ngIf="f.nameTH.invalid" class="text-red">Please enter public job name (th)</small>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'has-error': f.nameEN.invalid,'select-disabled': editCheck || checkPreview }">
              <label class="label">Public Job Name (EN) </label>
              <input type="text" [formControl]="f.nameEN" name="nameEN" [(ngModel)]="jd.publicJobName.en" nbInput
                fullWidth />
              <small *ngIf="f.nameEN.invalid" class="text-red">Please enter public job name (en)</small>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group">
              <label class="label">Group (can change)</label>
              <input type="text" name="group" [(ngModel)]="jd.group" nbInput [disabled]="checkPreview" fullWidth />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group">
              <label class="label">Job Type</label>
              <mat-form-field [color]="primary" appearance="outline">
                <mat-select [disabled]="checkPreview" [(ngModel)]="jd.refJobType._id">
                  <mat-option *ngFor="let option of jobTypeList" (click)="getQuestionList(option.type)"
                    [value]="option.value">
                    {{option.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-control-group">
              <label class="label">Job Description
              </label>
              <!-- <textarea type="text" name="description" [(ngModel)]="jd.job_description" [disabled]="checkPreview"
                nbInput fullWidth></textarea> -->
              <angular-editor [(ngModel)]="jd.job_description" [config]="editorConfig">
              </angular-editor>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'select-red': touchedDep,'select-disabled': checkPreview }">
              <label class="label">Company
              </label>
              <input type="text" name="section" [(ngModel)]="jd.sectionName" [disabled]="checkPreview || isHybrid"
                nbInput fullWidth />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group">
              <label class="label">Division
              </label>
              <input type="text" name="division" [(ngModel)]="jd.department_name" [disabled]="checkPreview || isHybrid"
                nbInput fullWidth />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'select-red': touchedDep,'select-disabled': checkPreview }">
              <label class="label">Department
              </label>
              <input type="text" name="department" [(ngModel)]="jd.departmentName" [disabled]="checkPreview || isHybrid"
                nbInput fullWidth />
            </div>
          </div>
        </div>

        <!-- Set Question Blue First -->
        <div *ngIf="isHybrid && jd.refJobType">
          <label class="label">Question List</label>
          <div class="score-body">
            <label [ngClass]="{ 'link' : !checkPreview }" class="label" (click)="selectAll()">Select All</label> /
            <label [ngClass]="{ 'link' : !checkPreview }" class="label" (click)="unSelectAll()">Unselect All</label>
            <div *ngFor="let ques of questionList;let iQuest = index;" [ngClass]="{'pt05': iQuest > 0}">
              <div>
                <label>
                  <mat-checkbox [(ngModel)]="ques.isWeightScore" [disabled]="checkPreview">
                    {{ ques.question.en || ques.question.th || ques.question_no }}
                  </mat-checkbox>
                </label>
                <div *ngIf="ques.isWeightScore">
                  <div *ngFor="let opt of ques.options; let iOtion = index" [ngClass]="{'pt1': iOtion > 0}">
                    <span class="score-scale-left">
                      <input type="number" [(ngModel)]="opt.score" digitOnly pattern="[0-9]*" inputmode="numeric"
                        placeholder="Score" [disabled]="checkPreview" nbInput />&nbsp;&nbsp;{{ iOtion + 1 }}.
                      {{ opt.option.en || opt.option.th }}
                      <!-- <span class="score-scale-right">
                        {{ opt.option.en || opt.option.th }} Score: <input type="text" [(ngModel)]="opt.score" nbInput />
                      </span> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isExpress && !isHybrid">
          <br>
          <h5 class="m-0">Score <span style="color:red">*</span>
            <small class="label"> (Total 100%) </small>
            <div class="pull-right label m-t-10">
              <span style="font-size: 1.2rem;">{{ sTotal }}</span>/100%
            </div>
          </h5>
          <div class="m-b-20">
            <nb-progress-bar [value]="sTotal" [status]="getProgressBarStatus()" size="tiny">
              {{ sTotal }}%
            </nb-progress-bar>
          </div>
          <div class="row">
            <!-- Work Experience -->
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label class="label" for="inputEXP">
                  Work Experience *
                </label>
                <div class="input-group">
                  <input type="number" min="0.00" max="100.00" step="1.00" name="exp"
                    (input)="onChangeScore($event, 'WORKEXP')" [(ngModel)]="jd.weightScore.workExperience.total"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly>
                  <div *ngIf="!checkPreview && jd.weightScore.workExperience.total > 0" class="input-group-addon"
                    nbTooltip="Edit">
                    <nb-icon icon="settings-2" class="link" (click)="open(ExperienceBox)"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!-- Education  -->
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label class="label" for="inputEXP">
                  Education *
                </label>
                <div class="input-group">
                  <input type="number" min="0.00" max="100.00" step="1.00" name="edu"
                    (input)="onChangeScore($event, 'EDUCATION')" [(ngModel)]="jd.weightScore.education.total"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                  <div *ngIf="!checkPreview && jd.weightScore.education.total > 0" class="input-group-addon"
                    nbTooltip="Edit">
                    <nb-icon icon="settings-2" class="link" (click)="open(EducationBox)"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!-- HARD SKILL -->
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label class="label" for="inputEXP">
                  Hard Skill *
                </label>
                <div class="input-group">
                  <input type="number" min="0.00" max="100.00" step="1.00" name="hard"
                    (input)="onChangeScore($event, 'HARDSKILL')" [(ngModel)]="jd.weightScore.hardSkill.total"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                  <div *ngIf="!checkPreview && jd.weightScore.hardSkill.total > 0" class="input-group-addon"
                    nbTooltip="Edit">
                    <nb-icon icon="settings-2" class="link" (click)="open(HardSkillBox)"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!-- SOFT SKILL -->
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label class="label" for="inputEXP">
                  Soft Skill *
                </label>
                <div class="input-group">
                  <input type="number" min="0.00" max="100.00" step="1.00" name="soft"
                    (input)="onChangeScore($event, 'SOFTSKILL')" [(ngModel)]="jd.weightScore.softSkill.total"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                  <div *ngIf="!checkPreview && jd.weightScore.softSkill.total > 0" class="input-group-addon"
                    nbTooltip="Edit">
                    <nb-icon icon="settings-2" class="link" (click)="open(SoftSkillBox)"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!--Certificate-->
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label class="label" for="inputEXP">
                  Certificate *
                </label>
                <div class="input-group">
                  <input type="number" min="0.00" max="100.00" step="1.00" name="cert"
                    (input)="onChangeScore($event, 'CERTIFICATE')" [(ngModel)]="jd.weightScore.certificate.total"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    [disabled]="checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
                  <div *ngIf="!checkPreview && jd.weightScore.certificate.total > 0" class="input-group-addon"
                    nbTooltip="Edit">
                    <nb-icon icon="settings-2" class="link" (click)="open(CertificateBox)"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total -->
            <!-- <div class="col-sm-6 col-md-4">
            <div class="form-group">
              <br />
              <label for="inputEXP">
                Total {{ sTotal }} %
              </label>
            </div>
          </div> -->
          </div>
        </div>
        <small class="pull-right" *ngIf="touched || touchedOut" style="color: red">{{ SErrorAll }}</small>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="default" (click)="back()">Cancel</button>
        <button *ngIf="!checkPreview" nbButton status="success" (click)="saveAll()">Save</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<!-- ExperienceBox -->
<ng-template #ExperienceBox let-data let-ref="dialogRef">
  <nb-card [style.max-height.px]="innerHeight" [style.width.px]="innerWidth">
    <nb-card-header>
      <div>
        <span style="color:#8f9bb3">
          Work Experience ( Max {{ jd.weightScore.workExperience.total }} % )
        </span>
        <div *ngIf="!checkPreview" class="pull-right">
          <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
            (click)="addOption('WORKEXP')" [disabled]="!isAddWork || checkPreview">ADD</button>
        </div>
        <br> <small>( % of Work experience must not exceed {{ jd.weightScore.workExperience.total }} % )</small>
      </div>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let workEXPline of jd.weightScore.workExperience.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'WORKEXP')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Exp. From
                </label><br>
                <input type="number" min="0" max="100" name="low" value="workEXPline.low" [(ngModel)]="workEXPline.low"
                  [disabled]="checkPreview || i != 0" onKeyPress="if(this.value.length==3) return false;" nbInput
                  fullWidth appNumberDirective pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Exp. To
                </label><br>
                <input (input)="onChanheWork(i)" type="number" min="0" max="100" name="high" value="workEXPline.high"
                  [(ngModel)]="workEXPline.high" [disabled]="checkPreview"
                  onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label>
                <input type="number" min="0" max="100" value="workEXPline.percent" [(ngModel)]="workEXPline.percent"
                  [disabled]="checkPreview" [ngClass]="{
                    'has-error': workEXPline.flagError,
                    'has-success': !workEXPline.flagError
                  }" onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                  pattern="[0-9]*" inputmode="numeric" digitOnly />
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Exp. From <span style="color:red">*</span></th>
              <th>Exp. To <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th *ngIf="!checkPreview"></th>
            </tr>
            <tr *ngFor="let workEXPline of jd.weightScore.workExperience.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <div class="input-group">
                  <input type="number" min="0" max="100" name="low" value="workEXPline.low"
                    [(ngModel)]="workEXPline.low" [disabled]="checkPreview || i != 0"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input (input)="onChanheWork(i)" type="number" min="0" max="100" name="high" value="workEXPline.high"
                    [(ngModel)]="workEXPline.high" [disabled]="checkPreview"
                    onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input type="number" min="0" max="100" value="workEXPline.percent" [(ngModel)]="workEXPline.percent"
                    [disabled]="checkPreview" [ngClass]="{
                        'has-error': workEXPline.flagError,
                        'has-success': !workEXPline.flagError
                      }" onKeyPress="if(this.value.length==3) return false;" nbInput fullWidth appNumberDirective
                    pattern="[0-9]*" inputmode="numeric" digitOnly />
                </div>
              </td>
              <td *ngIf="!checkPreview">
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'WORKEXP')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxW }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('WORKEXP')">Cancel</button>
      <button nbButton status="success" (click)="save('WORKEXP')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- SoftSkillBox -->
<ng-template #SoftSkillBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Soft skill ( Total {{ jd.weightScore.softSkill.total }} % , Current
        {{ iTotalSoftSkill }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('SOFTSKILL')" [disabled]="!isAddSoft || checkPreview">ADD</button>
      </div>
      <br>
      <small> ( A summary of all soft skills (%) you've entered must be equal to
        calculated "Total Soft Skill (%)" )</small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let ss of jd.weightScore.softSkill.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'SOFTSKILL')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Skill
                </label><br>
                <input nbInput type="text" value="ss.skill" [(ngModel)]="ss.skill"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="ss.percent" [(ngModel)]="ss.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentSoftSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="ss.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of ss.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(ss.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(ss.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th *ngIf="!checkPreview"></th>
            </tr>
            <tr *ngFor="let ss of jd.weightScore.softSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="ss.skill" [(ngModel)]="ss.skill"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" value="ss.percent" min="0" max="100" [(ngModel)]="ss.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentSoftSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="ss.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of ss.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(ss.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(ss.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </td>
              <td *ngIf="!checkPreview">
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'SOFTSKILL')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxS }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('SOFTSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('SOFTSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- HardSkillBox -->
<ng-template #HardSkillBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Hard skill ( Total {{ jd.weightScore.hardSkill.total }} % , Current
        {{ iTotalHardSkill }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('HARDSKILL')" [disabled]="!isAddHard || checkPreview">ADD</button>
      </div>
      <br>
      <small>
        ( A summary of all hard skills (%) you've entered must be equal to
        calculated "Total Hard Skill (%)" )
      </small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let hs of jd.weightScore.hardSkill.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'HARDSKILL')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Skill
                </label><br>
                <input nbInput type="text" value="hs.skill" [(ngModel)]="hs.skill"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="hs.percent" [(ngModel)]="hs.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentHardSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="hs.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of hs.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(hs.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(hs.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th *ngIf="!checkPreview"></th>
            </tr>
            <tr *ngFor="let hs of jd.weightScore.hardSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="hs.skill" [(ngModel)]="hs.skill"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" min="0" max="100" value="hs.percent" [(ngModel)]="hs.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentHardSkill()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="hs.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of hs.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(hs.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(hs.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </td>
              <td *ngIf="!checkPreview">
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'HARDSKILL')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxH }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('HARDSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('HARDSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- CertificateBox -->
<ng-template #CertificateBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Certificate ( Total {{ jd.weightScore.certificate.total }} % , Current
        {{ iTotalCertificate }} %)
      </label>
      <div *ngIf="!checkPreview" class="pull-right">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('CERTIFICATE')" [disabled]="!isAddCert">ADD</button>
      </div>
      <br>
      <small>
        ( A summary of all certificate (%) you've entered must be equal to
        calculated "Total Certificate (%)" )
      </small>
    </nb-card-header>
    <nb-card-body class="dialog-body">
      <!-- Mobile -->
      <div *ngIf="devices.isMobile">
        <nb-card *ngFor="let cert of jd.weightScore.certificate.weight; let i = index">
          <nb-card-header>
            <div class="title">
              <label>{{ i + 1 }}</label>
            </div>
            <div class="actions">
              <nb-icon *ngIf="modeEditable && !checkPreview" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="deleteOption(i, 'CERTIFICATE')">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">Name
                </label><br>
                <input nbInput type="text" value="cert.skill" [(ngModel)]="cert.name"
                  [disabled]="!modeEditable || checkPreview" fullWidth />
              </div>
              <div class="col-12 col-sm-4 col-md-4 form-group">
                <label class="control-label">%
                </label><br>
                <input nbInput type="number" min="0" max="100" value="cert.percent" [(ngModel)]="cert.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentCertificate()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <label class="control-label">Keyword
                </label>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="cert.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of cert.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(cert.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(cert.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <!-- Desktop -->
      <div class="modal-body" *ngIf="!devices.isMobile">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Name <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th>Keyword <span style="color:red">*</span></th>
              <th *ngIf="!checkPreview"></th>
            </tr>
            <tr *ngFor="let cert of jd.weightScore.certificate.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input nbInput type="text" value="cert.name" [(ngModel)]="cert.name"
                  [disabled]="!modeEditable || checkPreview" />
              </td>
              <td>
                <input nbInput type="number" value="cert.percent" min="0" max="100" [(ngModel)]="cert.percent"
                  [disabled]="!modeEditable || checkPreview" (input)="onChangePercentCertificate()"
                  onKeyPress="if(this.value.length==3) return false;" appNumberDirective pattern="[0-9]*"
                  inputmode="numeric" digitOnly />
              </td>
              <td>
                <!-- <tag-input placeholder="Keyword" [(ngModel)]="cert.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input> -->
                <mat-form-field appearance="outline">
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let keyword of cert.keyword; let iKeyword = index;"
                      [selectable]="modeEditable && !checkPreview" [removable]="modeEditable && !checkPreview"
                      (removed)="removeKeyword(cert.keyword, iKeyword)">
                      {{ keyword }}
                      <mat-icon *ngIf="modeEditable && !checkPreview" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                      (matChipInputTokenEnd)="addKeyword(cert.keyword, $event)"
                      [disabled]="!modeEditable || checkPreview">
                  </mat-chip-list>
                </mat-form-field>
              </td>
              <td *ngIf="!checkPreview">
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'CERTIFICATE')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBoxC }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('CERTIFICATE')">Cancel</button>
      <button nbButton status="success" (click)="save('CERTIFICATE')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- EducationBox -->
<ng-template #EducationBox let-data let-ref="dialogRef">
  <nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight">
    <nb-card-header>
      <label style="color:#8f9bb3">
        Education ( Max {{ jd.weightScore.education.total }} % )
      </label>
      <small>( % of Education must not exceed {{ jd.weightScore.education.total }} % )</small>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Degrees</th>
              <th>% <span style="color:red">*</span></th>
              <!-- <th></th> -->
            </tr>
            <tr *ngFor="let edu of jd.weightScore.education.weight; let i = index;">
              <td>{{ i + 1 }}.</td>
              <td class="col-left">{{ edu.name }}</td>
              <td>
                <input type="number" min="0" max="100" value="edu.percent" [(ngModel)]="edu.percent"
                  [disabled]="!modeEditable || checkPreview" onKeyPress="if(this.value.length==3) return false;" nbInput
                  appNumberDirective pattern="[0-9]*" inputmode="numeric" digitOnly />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>

    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>

    <nb-card-footer>
      <button nbButton status="default" (click)="close('EDUCATION')">Cancel</button>
      <button nbButton status="success" (click)="save('EDUCATION')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>