  
nb-card-body.dialog-body {
  overflow-y: scroll;
}

nb-card-footer input {
  width: calc(100% - 125px) !important;
  max-width: 100% !important;
}
.btn-outline-upload{
  height: 40px;
  margin-top: -1px;
  color: var(--color-gray);
  background-color: transparent;
  background-image: none;
  border-color: #edf1f7
}
.btn-outline-upload:disabled{
  color: var(--color-light-gray);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-light-gray);
  cursor: not-allowed;
}
[nbButton]:disabled {
cursor: not-allowed;
}

.score-body {
  padding: 1rem;
  border-radius: 5px;
  border-style: dashed;
  border-width: 1px;
  border-color: var(--color-light-gray);

  .score-scale-left {
    color: var(--color-gray);
    margin-left: 8px;
  }
  .score-scale-right {
    color: var(--color-gray);
    float: right;
    margin-right: 8px;
  }
  .h-36 {
    height: 36px;
  }
  .pt1{ 
    padding-top: 1rem;
  }
  .pt05{ 
    padding-top: 0.5rem;
  }
}