<div class="content-header with-shadow">
  <h3>Job Description <small class="text-cap">({{ state }})</small></h3>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Description
      </nb-card-header>
      <nb-card-header>
        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group">
              <label class="label">Job Position <span style="color:red">*</span></label>
              <input type="text" name="position" [(ngModel)]="jd.position" [disabled]="checkPreview" nbInput
                fullWidth />
              <small *ngIf="touched" class="text-red">{{ sErrorPosition }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group">
              <label class="label">Job Position in email <span style="color:red">*</span></label>
              <nb-select [(ngModel)]="jd.refPosition" [ngModelOptions]="{ standalone: true }" [disabled]="checkPreview"
                fullWidth>
                <nb-option *ngFor="let position of positionMaster" [value]="position.value">
                  {{ position.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touched" class="text-red">{{ sErrorrefCheck }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-control-group">
              <label class="label">Keyword to search in CV <span style="color:red">*</span></label>
              <tag-input [disabled]="checkPreview" [(ngModel)]="jd.keywordSearch" secondaryPlaceholder="Enter a Keyword"
                placeholder="+" [ngModelOptions]="{ standalone: true }">
              </tag-input>
              <small *ngIf="touched" class="text-red">{{ sErrorKey }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="label">Job Description</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="text" [(ngModel)]="jd.attachment.originalname" class="form-control" disabled
                    name="originalname" nbInput fullWidth />
                </div>
                <div class="input-group-append">
                  <label for="file-upload" class="label custom-file-upload">
                    Browse File
                  </label>
                  <input id="file-upload" type="file" name="jd" (change)="onHandleFileInput($event.target.files)"
                    ng2FileSelect [uploader]="uploader" [disabled]="!modeEditable"
                    [(ngModel)]="jd.attachment.originalname" nbInput />
                </div>
                <span *ngIf="!modeEditable" class="input-group-addon right">Browse File</span>
              </div>
              <button nbButton [disabled]="!jd.attachment.originalname || !modeEditable || checkPreview" type="button"
                (click)="clearAttachFile()">Clear File
              </button>
              <button nbButton [disabled]="!jd.attachment.originalname || !jd.attachment.uploadName" type="button"
                (click)="downloadFilePress()">Download
              </button>
            </div>
            <div class="form-control-group">
              <label class="label">Department <span style="color:red">*</span></label>
              <nb-select [disabled]="checkPreview" (onClick)="getDepart()" [(ngModel)]="jd.departmentId"
                [ngModelOptions]="{ standalone: true }" fullWidth (selectedChange)="onChangeDepartment($event)">
                <nb-option *ngFor="let department of departMentAdmin" [value]="department.value">
                  {{ department.label }}
                </nb-option>
              </nb-select>
              <!-- <small *ngIf="touched || !jd.departmentId" class="text-red">{{ sErrorrefCheck }}</small> -->
            </div>
            <div class="form-control-group">
              <label class="label">Division <span style="color:red">*</span></label>
              <nb-select [disabled]="divisionOptions.length <= 1" [(ngModel)]="jd.divisionId"
                [ngModelOptions]="{ standalone: true }" fullWidth>
                <nb-option *ngFor="let option of divisionOptions" [value]="option.value">
                  {{ option.label }}
                </nb-option>
              </nb-select>
              <!-- <small *ngIf="touched || !jd.departmentId" class="text-red">{{ sErrorrefCheck }}</small> -->
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-header>
        Score (%)
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <!-- Work Experience -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Work Experience <span style="color:red">*</span>
              </label>
              <div class="input-group-append">
                <div class="col-md-11">
                  <div class="input-group">
                    <input class="form-control" type="number" min="0.00" max="100.00" step="1.00" name="exp"
                      (input)="onChangeScore($event, 'WORKEXP')" [(ngModel)]="jd.weightScore.workExperience.total"
                      pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" nbInput
                      appNumberDirective [disabled]="checkPreview" />
                    <span class="custom-file-upload2" (click)="open(ExperienceBox)">
                      <span class="fa fa-cog"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- HARD SKILL -->
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Hard Skill<span style="color:red">*</span>
              </label>
              <div class="input-group-append">
                <div class="col-md-11">
                  <div class="input-group">
                    <input class="form-control" type="number" min="0.00" max="100.00" step="1.00" name="hard"
                      (input)="onChangeScore($event, 'HARDSKILL')" [(ngModel)]="jd.weightScore.hardSkill.total"
                      pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" nbInput
                      appNumberDirective [disabled]="checkPreview" />
                    <span class="custom-file-upload2" (click)="open(HardSkillBox)">
                      <span class="fa fa-cog"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--Certificate-->
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Certificate <span style="color:red">*</span>
              </label>
              <div class="input-group-append">
                <div class="col-md-11">
                  <div class="input-group">
                    <input class="form-control" type="number" min="0.00" max="100.00" step="1.00" name="cert"
                      (input)="onChangeScore($event, 'CERTIFICATE')" [(ngModel)]="jd.weightScore.certificate.total"
                      pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" nbInput
                      appNumberDirective [disabled]="checkPreview" />
                    <span class="custom-file-upload2" (click)="open(CertificateBox)">
                      <span class="fa fa-cog"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Education  -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Education <span style="color:red">*</span>
              </label>
              <div class="input-group-append">
                <div class="col-md-11">
                  <div class="input-group">
                    <input class="form-control" type="number" min="0.00" max="100.00" step="1.00" name="edu"
                      (input)="onChangeScore($event, 'EDUCATION')" [(ngModel)]="jd.weightScore.education.total"
                      pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" nbInput
                      appNumberDirective [disabled]="checkPreview" />
                    <span class="custom-file-upload2" (click)="open(EducationBox)">
                      <span class="fa fa-cog"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- SOFT SKILL -->
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Soft Skill <span style="color:red">*</span>
              </label>
              <div class="input-group-append">
                <div class="col-md-11">
                  <div class="input-group">
                    <input class="form-control" type="number" min="0.00" max="100.00" step="1.00" name="soft"
                      (input)="onChangeScore($event, 'SOFTSKILL')" [(ngModel)]="jd.weightScore.softSkill.total"
                      pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" nbInput
                      appNumberDirective [disabled]="checkPreview" />
                    <span class="custom-file-upload2" (click)="open(SoftSkillBox)">
                      <span class="fa fa-cog"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label" for="inputEXP">
                Total {{ sTotal }} %
              </label>
            </div>
          </div>
        </div>
      </nb-card-body>
      <small *ngIf="touched" class="text-red-right">{{ SErrorAll }}</small>
      <nb-card-footer>
        <button nbButton status="default" (click)="back()">Cancel</button>
        <button nbButton status="success" (click)="saveAs()" [disabled]="checkPreview">Save</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<!-- ExperienceBox -->
<ng-template #ExperienceBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Work Experience ( Max {{ jd.weightScore.workExperience.total }} % )
      <small>( % of Work experience must not exceed {{ jd.weightScore.workExperience.total }} % )</small>
      <div class="modal-tools">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('WORKEXP')" [disabled]="!isAddWork || checkPreview">ADD</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Exp. From <span style="color:red">*</span></th>
              <th>Exp. To <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let workEXPline of jd.weightScore.workExperience.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <div class="input-group">
                  <div class="input-group-addon left">
                    <span class="fa fa-greater-than-equal"></span>
                  </div>
                  <input type="number" min="0" max="100" name="low" value="workEXPline.low"
                    [(ngModel)]="workEXPline.low" [disabled]="checkPreview" class="form-control"
                    pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <div class="input-group-addon left">
                    <span class="fa fa-trash"></span>
                  </div>
                  <input type="number" min="0" max="100" name="high" value="workEXPline.high"
                    [(ngModel)]="workEXPline.high" [disabled]="checkPreview" class="form-control"
                    pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
                </div>
              </td>
              <td>
                <input type="number" min="0" max="100" value="workEXPline.percent" [(ngModel)]="workEXPline.percent"
                  [disabled]="checkPreview" class="form-control" [ngClass]="{
                        'has-error': workEXPline.flagError,
                        'has-success': !workEXPline.flagError
                      }" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;"
                  appNumberDirective />
              </td>
              <td>
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'WORKEXP')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="   close('WORKEXP')">Cancel</button>
      <button nbButton status="success" (click)="save('WORKEXP')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- SoftSkillBox -->
<ng-template #SoftSkillBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> Soft skill ( Total {{ jd.weightScore.softSkill.total }} % , Current
      {{ iTotalSoftSkill }} %)
      <small> ( A summary of all soft skills (%) you've entered must be equal to
        calculated "Total Soft Skill (%)" )</small>
      <div class="modal-tools">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('SOFTSKILL')" [disabled]="!isAddSoft || checkPreview">ADD</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th style="width:50%">Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let ss of jd.weightScore.softSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input type="text" value="ss.skill" [(ngModel)]="ss.skill" [disabled]="!modeEditable || checkPreview"
                  class="form-control" />
              </td>
              <td>
                <input type="number" value="ss.percent" min="0" max="100" [(ngModel)]="ss.percent"
                  [disabled]="!modeEditable || checkPreview" class="form-control" (input)="onChangePercentSoftSkill()"
                  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="ss.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" [disabled]="checkPreview" class="btn btn-danger"
                  (click)="deleteOption(i, 'SOFTSKILL')">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('SOFTSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('SOFTSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- HardSkillBox -->
<ng-template #HardSkillBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> Hard skill ( Total {{ jd.weightScore.hardSkill.total }} % , Current
      {{ iTotalHardSkill }} %)
      <small>
        ( A summary of all hard skills (%) you've entered must be equal to
        calculated "Total Hard Skill (%)" )
      </small>
      <div class="modal-tools">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('HARDSKILL')" [disabled]="!isAddHard || checkPreview">ADD</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Skill <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th style="width:50%">Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let hs of jd.weightScore.hardSkill.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input type="text" value="hs.skill" [(ngModel)]="hs.skill" [disabled]="!modeEditable || checkPreview"
                  class="form-control" />
              </td>
              <td>
                <input type="number" min="0" max="100" value="hs.percent" [(ngModel)]="hs.percent"
                  [disabled]="!modeEditable || checkPreview" class="form-control" (input)="onChangePercentHardSkill()"
                  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="hs.keyword" [removable]="modeEditable"
                  [editable]="modeEditable" [disable]="!modeEditable || checkPreview"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'HARDSKILL')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('HARDSKILL')">Cancel</button>
      <button nbButton status="success" (click)="save('HARDSKILL')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- CertificateBox -->
<ng-template #CertificateBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> Certificate ( Total {{ jd.weightScore.certificate.total }} % , Current
      {{ iTotalCertificate }} %)
      <small>
        ( A summary of all certificate (%) you've entered must be equal to
        calculated "Total Certificate (%)" )
      </small>
      <div class="modal-tools">
        <button nbButton *ngIf="modeEditable" class="btn btn-sm btn-success" status="primary"
          (click)="addOption('CERTIFICATE')" [disabled]="!isAddCert">ADD</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Name <span style="color:red">*</span></th>
              <th>% <span style="color:red">*</span></th>
              <th style="width:50%">Keyword <span style="color:red">*</span></th>
              <th></th>
            </tr>
            <tr *ngFor="let cert of jd.weightScore.certificate.weight; let i = index">
              <td>{{ i + 1 }}.</td>
              <td>
                <input type="text" value="cert.name" [(ngModel)]="cert.name" [disabled]="!modeEditable || checkPreview"
                  class="form-control" />
              </td>
              <td>
                <input type="number" value="cert.percent" min="0" max="100" [(ngModel)]="cert.percent"
                  [disabled]="!modeEditable || checkPreview" class="form-control" (input)="onChangePercentCertificate()"
                  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
              </td>
              <td>
                <tag-input placeholder="Keyword" [(ngModel)]="cert.keyword" [removable]="modeEditable"
                  [editable]="modeEditable || checkPreview" [disable]="!modeEditable"
                  [ngModelOptions]="{ standalone: true }">
                </tag-input>
              </td>
              <td>
                <button *ngIf="modeEditable" class="btn btn-danger" (click)="deleteOption(i, 'CERTIFICATE')"
                  [disabled]="checkPreview">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('CERTIFICATE')">Cancel</button>
      <button nbButton status="success" (click)="save('CERTIFICATE')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!-- EducationBox -->
<ng-template #EducationBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Education ( Max {{ jd.weightScore.education.total }} % )
      <small>( % of Education must not exceed {{ jd.weightScore.education.total }} % )</small>
    </nb-card-header>
    <nb-card-body>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>No.</th>
              <th>Degrees</th>
              <th>% <span style="color:red">*</span></th>
              <!-- <th></th> -->
            </tr>
            <tr *ngFor="let edu of jd.weightScore.education.weight; let i = index;">
              <td>{{ i + 1 }}.</td>
              <td class="col-left">{{ edu.name }}</td>
              <td>
                <input type="number" min="0" max="100" value="edu.percent" [(ngModel)]="edu.percent"
                  [disabled]="!modeEditable || checkPreview" class="form-control" pattern="/^-?\d+\.?\d*$/"
                  onKeyPress="if(this.value.length==2) return false;" appNumberDirective />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
    <small *ngIf="touched" class="text-red-right">{{ sErrorBox }}</small>
    <nb-card-footer>
      <button nbButton status="default" (click)="close('EDUCATION')">Cancel</button>
      <button nbButton status="success" (click)="save('EDUCATION')" [disabled]="checkPreview">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>