<div class="content-header with-shadow">
  <div class="row">
    <div class="col-sm-8 col-md-9 col-lg-10">
      <h3>Job Request</h3>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
      <button *ngIf="role.refAuthorize.jr.editable" nbButton fullWidth status="success" nbTooltip="Create"
        [routerLink]="'/employer/jr/detail/create'" [disabled]="isOverQuota">
        <nb-icon icon="plus-outline"></nb-icon>Create
      </button>
    </div>
  </div>
</div>

<nb-alert *ngIf="showTips" status="warning" closable (close)="showTips = !showTips">
  <span>
    ไม่สามารถสร้าง JR เพิ่มได้ เนื่องจากจำนวน JR ครบที่กำหนดแล้ว, หากต้องการความช่วยเหลือ!
    <a class="link underline m-l-5"><b>ติดต่อเรา</b></a>
  </span>
</nb-alert>

<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" [(ngModel)]="keyword" nbInput fullWidth placeholder="Search"
            (keyup.enter)="paging.pageIndex = 0; search(true)">
          <div class="input-group-addon" nbTooltip="Search">
            <nb-icon icon="search-outline" class="link" (click)="paging.pageIndex = 0; search(true)"></nb-icon>
          </div>
        </div>
      </div>
      <div class="col-md-6 actions-block">
        <nb-actions size="small" class="h-100 pull-right">
          <nb-action class="link" icon="grid-outline" nbTooltip="Grid" [ngClass]="{ 'active' : isGridLayout }"
            (click)="changeLayout(true)">
          </nb-action>
          <nb-action class="link" icon="list-outline" nbTooltip="List" [ngClass]="{ 'active' : !isGridLayout }"
            (click)="changeLayout(false)"></nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="!items.length" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body>
    <h5 *ngIf="!loading" class="text-no-data">No data found</h5>
  </nb-card-body>
</nb-card>

<div *ngIf="!loading && items.length">

  <!-- Grid Layout -->
  <div *ngIf="isGridLayout">
    <div class="row">
      <div class="col-lg-6 col-md-6" *ngFor="let item of items;">
        <nb-card>
          <nb-card-header>
            <div class="title">
              <label class="link" [routerLink]="'/employer/jr/detail/preview/'+item._id"
                [nbTooltip]="item.refJD?.position">
                {{ item.refJD?.position }}
              </label>
            </div>
            <div *ngIf="role.refAuthorize.jr.editable" class="actions">
              <nb-icon *ngIf="item.refStatus.name === 'Active' || (item.refStatus.name === 'Inactive' && !isOverQuota)"
                class="link" nbTooltip="{{   item.refStatus.name === 'Active' ? 'Inactive' : 'Active' }}"
                icon="{{   item.refStatus.name === 'Active' ? 'pause-circle-outline' : 'play-circle-outline' }}"
                (click)="switchActive(item)">
              </nb-icon>
              <nb-icon *ngIf="item.canEdit" icon="edit-outline" class="link" nbTooltip="Edit"
                [routerLink]="'/employer/jr/detail/edit/'+item._id">
              </nb-icon>
              <nb-icon *ngIf="item.canDelete" icon="trash-2-outline" class="link" nbTooltip="Delete"
                (click)="delete(item)"></nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="text-group">
              <label class="label">Department</label>
              <span>{{ item.department?.name || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Capacity</label>
              <span>{{ item.capacity }}</span>
            </div>
            <div class="text-group">
              <label class="label">End Date</label>
              {{ utilitiesService.convertDate(item.duration.endDate) || '-'}}
            </div>
            <div class="text-group">
              <label class="label">Exam</label>
              <nb-icon *ngIf="item.requiredExam" icon="checkmark-outline" class="text-green"></nb-icon>
              <nb-icon *ngIf="!item.requiredExam" icon="close-outline" class="text-red"></nb-icon>
            </div>
            <div class="text-group">
              <label class="label">Status</label>
              <span class="label"
                [ngClass]="utilitiesService.getJrStatusClass(item.refStatus.status)">{{ item.refStatus.name}}</span>
            </div>
            <i class="text-gray">
              <div class="text-group">
                <label class="label">Last update by</label>
                <span>
                  {{ item.lastChangedInfo.refUser.firstname }}
                  {{ item.lastChangedInfo.refUser.lastname }}
                </span>
              </div>
              <div class="text-group">
                <label class="label">Last update date</label>
                <span>{{ utilitiesService.convertDateTimeFromSystem(item.lastChangedInfo.date) || '-' }}</span>
              </div>
            </i>
          </nb-card-body>
          <nb-card-footer *ngIf="role.refHero.isHR && item.refStatus.name === 'Waiting for HR Confirm'">
            <button nbButton status="danger" (click)="Reject(item,dialog)">REJECT</button>
            <button nbButton status="success" (click)="Approve(item)">APPROVE</button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
    <mat-paginator *ngIf="paging.length > minPageSize" [length]="paging.length" [pageIndex]="paging.pageIndex"
      [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions" (page)="pageEvent = changePaging($event)">
    </mat-paginator>
  </div>

  <!-- List Layout -->
  <nb-card *ngIf="!isGridLayout">
    <nb-card-body>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-left">Job Request</th>
              <th scope="col">Department</th>
              <th scope="col">Division</th>
              <th scope="col">Capacity</th>
              <th scope="col">End Date</th>
              <th scope="col">Exam</th>
              <th scope="col">Status</th>
              <th *ngIf="role.refAuthorize.jr.editable" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items;">
              <td class="text-left">
                <span class="link" [routerLink]="'/employer/jr/detail/preview/'+item._id"
                  [nbTooltip]="item.refJD?.position">{{ item.refJD?.position }}</span>
              </td>
              <td>
                <span>{{ item.department?.name || '-' }}</span>
              </td>
              <td>
                <span>{{ item.division.name || '-' }}</span>
              </td>
              <td>
                <span>{{ item.capacity }}</span>
              </td>
              <td>
                <span>{{ utilitiesService.convertDate(item.duration.endDate) || '-'}}</span>
              </td>
              <td>
                <nb-icon *ngIf="item.requiredExam" icon="checkmark-outline" class="text-green"></nb-icon>
                <nb-icon *ngIf="!item.requiredExam" icon="close-outline" class="text-red"></nb-icon>
              </td>
              <td>
                <span class="label"
                  [ngClass]="utilitiesService.getJrStatusClass(item.refStatus.status)">{{ item.refStatus.name}}</span>
              </td>
              <td *ngIf="role.refAuthorize.jr.editable" class="actions">
                <button *ngIf="item.refStatus.name === 'Active' || item.refStatus.name === 'Inactive'" nbButton
                  status="warning" size="tiny" nbTooltip="Edit" (click)="switchActive(item)"
                  nbTooltip="{{   item.refStatus.name === 'Active' ? 'Inactive' : 'Active' }}"
                  [disabled]="item.refStatus.name === 'Inactive' && isOverQuota">
                  <nb-badge *ngIf="item.refStatus.name === 'Inactive'" nbTooltip="Agree start date is not arrived yet"
                    text="!" status="warning" position="top right">
                  </nb-badge>
                  <nb-icon
                    icon="{{   item.refStatus.name === 'Active' ? 'pause-circle-outline' : 'play-circle-outline' }}">
                  </nb-icon>
                </button>
                <button *ngIf="item.canEdit" nbButton status="primary" size="tiny" nbTooltip="Edit"
                  [routerLink]="'/employer/jr/detail/edit/'+item._id">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button *ngIf="item.canDelete" nbButton status="danger" size="tiny" nbTooltip="Delete"
                  (click)="delete(item)">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <button *ngIf="role.refHero.isHR && item.refStatus.name === 'Waiting for HR Confirm'" nbButton
                  status="danger" outline size="tiny" (click)="Reject(item,dialog)" nbTooltip="Reject">
                  <nb-icon icon="close-circle"></nb-icon>
                </button>
                <button *ngIf="role.refHero.isHR && item.refStatus.name === 'Waiting for HR Confirm'" nbButton
                  status="success" outline size="tiny" (click)="Approve(item)" nbTooltip="Approve">
                  <nb-icon icon="checkmark-circle-2"></nb-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator *ngIf="paging.length > minPageSize" [length]="paging.length" [pageIndex]="paging.pageIndex"
        [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
        (page)="pageEvent = changePaging($event)">
      </mat-paginator>
    </nb-card-body>
  </nb-card>

</div>

<!-- dialogPopup -->
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Reason of Rejection</nb-card-header>
    <nb-card-body>
      <div class="form-control-group">
        <label class="label">Remark</label>
        <textarea type="" [(ngModel)]="itemSelected.rejectRemark" nbInput fullWidth placeholder="Remark"></textarea>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="default" (click)="ref.close()">Cancel</button>
      <button nbButton status="success" (click)="RejectSave()">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>