//label layout
.label1 {
    display: inline;
    padding: .5em 1.5em .5em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
    font-family: sukhumvit;
  }
  .label1-circle {
    border-radius: 50%;
    padding: .6em;
  }
  .label1-primary {
    background-color: rgba(27, 116, 182, 0.1) !important;
    color: var(--color-blue) !important;
  }
  .label1-success {
    background-color: rgba(0, 176, 156, 0.1) !important;
    color: var(--color-green) !important;
  }
  .label1-danger {
    background-color: rgba(237, 81, 84, 0.1) !important;
    color: var(--color-red) !important;
  }
  .label1-warning {
    background-color: rgba(255, 200, 22, 0.1) !important;
    color: var(--color-orange) !important;
  }
  .label1-info {
    background-color: rgba(107, 202, 242, 0.1) !important;
    color: var(--color-aqua) !important;
  }
  .label1-purple {
    background-color: rgba(150, 117, 204, 0.1) !important;
    color: var(--color-purple) !important;
  }
  .label1-black {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: var(--color-black) !important;
  }
  .label1-white {
    background-color: rgba(112, 112, 112, 0.1) !important;
    color: var(--color-black) !important;
  }
  .label1-gray {
    background-color: rgba(112, 112, 112, 0.1) !important;
    color: var(--color-gray) !important;
  }
  .label1-green {
    background-color: rgba(52, 183, 107, .1) !important;
    color: var(--color-dark-green) !important;
  }
  .label1-100 {
    font-size: 100%;
  }