<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
    <nb-card-header>
        <div class="title">
        </div>
        <div class="actions">
            <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body class="dialog-body">
        <label>History</label><br>
        <label>Position: {{ item.latest.position || '-' }}</label><br>
        <label>Hub: {{ item.latest.hub.province || '-' }} <span *ngIf="item.latest.hub.area"> -
                {{ item.latest.hub.area || '-' }}</span>
        </label><br>
        <label>Stage: {{ item.latest.stage || '-' }}</label><br>
        <label>Date: {{ utilitiesService.convertDateTimeFromSystem(item.latest.date) || '-' }}</label>
    </nb-card-body>
</nb-card>