<nb-card [style.max-width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading..." style="border-radius: 25px;">
    <nb-card-header>
        <div class="title">
        </div>
        <div class="actions">
            <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body class="dialog-body">
        <label style="font-weight: bold;font-size: 1.25rem;">History</label><br>
        <label class="label">Position: </label> <span> {{ item.latest.position || '-' }}</span><br>
        <label class="label">Hub: </label> <span> {{ item.latest.hub.province || '-' }}</span> <span
            *ngIf="item.latest.hub.area">
            -
            <span> {{ item.latest.hub.area || '-' }}</span></span>
        <br>
        <label class="label">Stage: </label> <span> {{ item.latest.stage || '-' }}</span><br>
        <label class="label">Date: </label>
        <span> {{ utilitiesService.convertDateTimeFromSystem(item.latest.date) || '-' }}</span>
    </nb-card-body>
</nb-card>