<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div>
      <span class="label-grey"
        [nbTooltip]="items.candidateFlow?.refJR?.refJD?.position">{{items.candidateFlow?.refJR?.refJD?.position}}</span>
      <div class="pull-right">
        <button size="small" nbButton status="success" (click)="changeMode()">
          <span class="fa" [ngClass]="{ 'fa-eye': editable, 'fa-pencil-alt': !editable }"></span>
          {{ buttonText.toUpperCase() }}
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body *ngIf="!loading" class="dialog-body">
    <div class="title">
      <label class="label" nbTooltip="Personal Details">Personal Details</label>
    </div>
    <div class="border-all box-pad box-header with-border">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-control-group">
            <label class="label">Name
              <span class="fas fa-check" (click)="toggleCheck('Name', 'firstname')" [matTooltip]="Checked"
                matTooltipPosition="above" [ngClass]="{
                'icon-green': colorStatus.nameSuccess,
                'icon-default': !colorStatus.nameSuccess }"></span>
              <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Name', 'firstname')"
                [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                  'icon-red': colorStatus.nameBug,
                  'icon-default': !colorStatus.nameBug }"></span>
            </label>
            <input type="text" [(ngModel)]="items.firstname" nbInput fullWidth [disabled]="!editable">
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="form-control-group">
            <label class="label">Surname
              <span class="fas fa-check" (click)="toggleCheck('Surname', 'lastname')" [matTooltip]="Checked"
                matTooltipPosition="above" [ngClass]="{
                'icon-green': colorStatus.lastSuccess,
                'icon-default': !colorStatus.lastSuccess }"></span>
              <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Surname', 'lastname')"
                [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                  'icon-red': colorStatus.lastBug,
                  'icon-default': !colorStatus.lastBug }"></span>
            </label>
            <input type="text" [(ngModel)]="items.lastname" nbInput fullWidth [disabled]="!editable">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="form-control-group">
            <label class="label">Birthday
              <span class="fas fa-check" (click)="toggleCheck('Birthday', 'birthDay')" [matTooltip]="Checked"
                matTooltipPosition="above" [ngClass]="{
                'icon-green': colorStatus.dobSuccess,
                'icon-default': !colorStatus.dobSuccess }"></span>
              <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Birthday', 'birthDay')"
                [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                  'icon-red': colorStatus.dobBug,
                  'icon-default': !colorStatus.dobBug }"></span>
            </label>
            <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
            <input [nbDatepicker]="startDate" [(ngModel)]="items.birth" nbInput fullWidth placeholder="dd/mm/yyyy"
              [disabled]="!editable">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-control-group">
            <label class="label">Age
              <span class="fas fa-check" (click)="toggleCheck('Age', 'age')" [matTooltip]="Checked"
                matTooltipPosition="above" [ngClass]="{
                'icon-green': colorStatus.ageSuccess,
                'icon-default': !colorStatus.ageSuccess }"></span>
              <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Age', 'age')"
                [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                  'icon-red': colorStatus.ageBug,
                  'icon-default': !colorStatus.ageBug }"></span>
            </label>
            <input type="text" [(ngModel)]="items.age" nbInput fullWidth [disabled]="!editable">
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="form-control-group">
            <label class="label">Phone
              <span class="fas fa-check" (click)="toggleCheck('Phone', 'phone')" [matTooltip]="Checked"
                matTooltipPosition="above" [ngClass]="{
                'icon-green': colorStatus.phoneSuccess,
                'icon-default': !colorStatus.phoneSuccess }"></span>
              <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Phone', 'phone')"
                [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                'icon-red': colorStatus.phoneBug,
                'icon-default': !colorStatus.phoneBug }"></span>
            </label>
            <input type="text" [(ngModel)]="items.phone" nbInput fullWidth [disabled]="!editable">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label class="label">Email
            <span class="fas fa-check" (click)="toggleCheck('Email', 'email')" [matTooltip]="Checked"
              matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.emailSuccess,
              'icon-default': !colorStatus.emailSuccess }"></span>
            <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Email', 'email')"
              [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                'icon-red': colorStatus.emailBug,
                'icon-default': !colorStatus.emailBug }"></span>
          </label>
          <input type="text" [(ngModel)]="items.email" nbInput fullWidth [disabled]="!editable">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label class="label">Address
            <span class="fas fa-check" (click)="toggleCheck('Address', 'address')" [matTooltip]="Checked"
              matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.addressSuccess,
              'icon-default': !colorStatus.addressSuccess }"></span>
            <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Address', 'address')"
              [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
                'icon-red': colorStatus.addressBug,
                'icon-default': !colorStatus.addressBug }"></span>
          </label>
          <input type="text" [(ngModel)]="items.address" nbInput fullWidth [disabled]="!editable">
        </div>
      </div>
    </div>
    <!-- <div class="border-all"></div> -->

    <!-- CV Score -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">CV Score
          <span class="fas fa-check" (click)="toggleCheck('CV Score', 'CV Score')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.cvSuccess,
              'icon-default': !colorStatus.cvSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('CV Score', 'CV Score')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.cvBug,
              'icon-default': !colorStatus.cvBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore?.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore?.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <div class="progress-group">
          <span class="label">Experience</span>
          <span class="pull-right">
            <b>{{ items.candidateFlow?.weightScore?.workExperience?.accumulativeScore }}</b>
            /{{ items.candidateFlow?.weightScore?.workExperience?.total }}
          </span>
          <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                items.candidateFlow?.weightScore?.workExperience?.accumulativeScore,
                items.candidateFlow?.weightScore?.workExperience?.total)" status="primary" size="tiny">
          </nb-progress-bar>
        </div>
        <div class="progress-group">
          <span class="label">Education</span>
          <span class="pull-right">
            <b>{{ items.candidateFlow?.weightScore?.education.accumulativeScore }}</b>
            /{{ items.candidateFlow?.weightScore?.education.total }}
          </span>
          <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                    items.candidateFlow?.weightScore?.education?.accumulativeScore,
                    items.candidateFlow?.weightScore?.education?.total)" status="info" size="tiny">
          </nb-progress-bar>
        </div>
        <div class="progress-group">
          <span class="label">Hard Skill</span>
          <span class="pull-right">
            <b>{{ items.candidateFlow?.weightScore?.hardSkill.accumulativeScore }}</b>
            /{{ items.candidateFlow?.weightScore?.hardSkill.total }}
          </span>
          <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                items.candidateFlow?.weightScore?.hardSkill?.accumulativeScore,
                items.candidateFlow?.weightScore?.hardSkill?.total)" status="success" size="tiny">
          </nb-progress-bar>
        </div>
        <div class="progress-group">
          <span class="label">Soft Skill</span>
          <span class="pull-right">
            <b>{{ items.candidateFlow?.weightScore?.softSkill.accumulativeScore }}</b>
            /{{ items.candidateFlow?.weightScore?.softSkill.total }}
          </span>
          <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                items.candidateFlow?.weightScore?.softSkill?.accumulativeScore,
                items.candidateFlow?.weightScore?.softSkill?.total)" status="warning" size="tiny">
          </nb-progress-bar>
        </div>
        <div class="progress-group">
          <span class="label">Certificate</span>
          <span class="pull-right">
            <b>{{ items.candidateFlow?.weightScore?.certificate.accumulativeScore }}</b>
            /{{ items.candidateFlow?.weightScore?.certificate.total }}
          </span>
          <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                items.candidateFlow?.weightScore?.certificate?.accumulativeScore,
                items.candidateFlow?.weightScore?.certificate?.total)" status="danger" size="tiny">
          </nb-progress-bar>
        </div>
      </div>
    </div>

    <!-- EXAM -->
    <div class="border-padtop" *ngIf="items.candidateFlow?.pendingExamScoreInfo.flag">
      <div class="title">
        <label class="label">Exam Score </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.pendingExamScoreInfo.examScore }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <textarea nbInput fullWidth disabled>{{ items.candidateFlow?.pendingExamScoreInfo.examRemark }}</textarea>
      </div>
    </div>

    <!-- ATIITUDE SCORE -->
    <div class="border-padtop" *ngIf="items.candidateFlow?.pendingExamScoreInfo.flag">
      <div class="title">
        <label class="label">Attitude Score </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.pendingExamScoreInfo.attitudeScore }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <textarea nbInput fullWidth disabled>{{ items.candidateFlow?.pendingExamScoreInfo.attitudeRemark }}
        </textarea>
      </div>
    </div>

    <!-- InterView -->
    <div class="border-padtop">
      <div class="title" *ngIf="items.candidateFlow?.pendingInterviewInfo.flag">
        <label class="label">Comments</label>
      </div>
      <div class="border-all box-pad box-header with-border">
        <nb-card *ngFor="let comment of items.candidateFlow?.pendingInterviewInfo.comments; let i = index">
          <nb-card-header>
            <div class="title">
              <nb-user size="medium" [name]="utilitiesService.setFullname(comment.refUser)"
                [title]="utilitiesService.convertDate(comment.date)"
                src="https://previews.123rf.com/images/solargaria/solargaria1709/solargaria170900008/85425363-user-icon-male-with-beard-icon-hipster-flat-icon-avatar-of-man-with-beard-flat-internet-icon-in-roun.jpg">
              </nb-user>
            </div>
          </nb-card-header>
          <nb-card-body>
            <!-- <div class="row">
              <div class="label-pad">
                <img class="img-circle"
                  src="https://previews.123rf.com/images/solargaria/solargaria1709/solargaria170900008/85425363-user-icon-male-with-beard-icon-hipster-flat-icon-avatar-of-man-with-beard-flat-internet-icon-in-roun.jpg"
                  alt="user image">
              </div>
              <div class="txt-padTop">
                <span class="username"> {{ comment.refUser.firstname }} {{comment.refUser.lastname}}</span>
                <div> <span class="label">{{ utilitiesService.convertDate(comment.date) }}</span>
                </div>
              </div>
            </div>
            <p>{{ comment.message }}</p> -->
            {{ comment.message }}
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!-- Work Experience -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">Work Experience
          <span class="fas fa-check" (click)="toggleCheck('Work Experience', 'Work Experience')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.workSuccess,
              'icon-default': !colorStatus.workSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Work Experience', 'Work Experience')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.workBug,
              'icon-default': !colorStatus.workBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore?.workExperience?.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore?.workExperience?.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <div class="row">
          <div class="col-md-2 col-lg-2">
            <div class="form-control-group">
              <label class="label">Year</label>
              <input type="text" [(ngModel)]="totalYear" nbInput fullWidth [disabled]="!editable">
            </div>
          </div>
          <div class="col-md-2 col-lg-2">
            <div class="form-control-group">
              <label class="label">Month</label>
              <input type="text" [(ngModel)]="totalMonth" nbInput fullWidth [disabled]="!editable">
            </div>
          </div>
        </div>
        <div *ngFor="let exp of items.workExperience?.work" class="row">
          <nb-icon icon="arrow-right-outline" class="text-light-gray"></nb-icon>
          <span>{{ utilitiesService.convertWorkExpToText(exp) }} </span>
        </div>
      </div>
    </div>

    <!-- Education -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">Education
          <span class="fas fa-check" (click)="toggleCheck('Education', 'Education')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.eduSuccess,
              'icon-default': !colorStatus.eduSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Education', 'Education')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.eduBug,
              'icon-default': !colorStatus.eduBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore.education.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore.education.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <nb-card *ngFor="let education of items.education;let i = index">
          <nb-card-header>
            <div class="actions">
              <nb-icon *ngIf="editable" class="fa fa-times-circle ng-star-inserted link" status="danger"
                nbTooltip="Delete" (click)="removeEducation(i)">
              </nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="control-label">Degree
                </label>
                <nb-select [(ngModel)]="education.refDegree._id" [ngModelOptions]="{ standalone: true }"
                  [disabled]="!editable" Faria-hidden="true" fullWidth>
                  <nb-option *ngFor="let degree of degreeMaster" [value]="degree.value">{{ degree.label }}</nb-option>
                </nb-select>
              </div>
              <div class="col-md-2 form-group">
                <label class="control-label">GPA
                </label>
                <input type="text" [(ngModel)]="education.gpa" [disabled]="!editable"
                  [ngModelOptions]="{standalone: true}" nbInput />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="control-label">University
                </label>
                <input type="text" [(ngModel)]="education.university" [disabled]="!editable"
                  [ngModelOptions]="{standalone: true}" nbInput fullWidth />
              </div>
              <div class="col-md-6 form-group">
                <label class="control-label">Major
                </label>
                <input type="text" [(ngModel)]="education.major" [disabled]="!editable"
                  [ngModelOptions]="{standalone: true}" nbInput fullWidth />
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <div *ngIf="editable" class="box-body text-center">
          <button nbButton type="button" status="success" size="small" (click)="addEducation()"
            [disabled]="items.education.length === 5">
            Add more education
          </button>
        </div>
      </div>
    </div>
    <!-- Hard Skill -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">Hard Skill
          <span class="fas fa-check" (click)="toggleCheck('Hard Skill', 'Hard Skill')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.hardSuccess,
              'icon-default': !colorStatus.hardSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Hard Skill', 'Hard Skill')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.hardBug,
              'icon-default': !colorStatus.hardBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore.hardSkill.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore.hardSkill.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <div class="row">
          <div class="col-lg-6">
            <tag-input [(ngModel)]="items.hardSkill" [removable]="editable" [editable]="editable" [disable]="!editable"
              [maxItems]="15" secondaryPlaceholder="Hard SKill" placeholder="+" [ngModelOptions]="{ standalone: true }">
            </tag-input>
          </div>
          <div class="col-lg-6">
            <div class="progress-group" *ngFor="
                let item of items.candidateFlow?.weightScore.hardSkill.weight;">
              <span class="label">{{ item.skill }}</span>
              <span class="pull-right"><b>{{ item.score }}</b>/{{ item.percent }}</span>
              <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.score,item.percent)" status="warning" size="tiny">
              </nb-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Soft Skill -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">Soft Skill
          <span class="fas fa-check" (click)="toggleCheck('Soft Skill', 'Soft Skill')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.softSuccess,
              'icon-default': !colorStatus.softSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Soft Skill', 'Soft Skill')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.softBug,
              'icon-default': !colorStatus.softBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore.softSkill.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore.softSkill.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <div class="row">
          <div class="col-lg-6">
            <tag-input [(ngModel)]="items.softSkill" [removable]="editable" [editable]="editable" [disable]="!editable"
              [maxItems]="15" secondaryPlaceholder="Soft SKill" placeholder="+" [ngModelOptions]="{ standalone: true }">
            </tag-input>
          </div>
          <div class="col-lg-6">
            <div class="progress-group" *ngFor="
                let item of items.candidateFlow?.weightScore.softSkill.weight;
                let i = index
              ">
              <span class="label">{{ item.skill }}</span>
              <span class="pull-right"><b>{{ item.score }}</b>/{{ item.percent }}</span>
              <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.score,item.percent)" status="warning" size="tiny">
              </nb-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Certificate -->
    <div class="border-padtop">
      <div class="title">
        <label class="label">Certificate
          <span class="fas fa-check" (click)="toggleCheck('Certificate', 'Certificate')" [matTooltip]="Checked"
            matTooltipPosition="above" [ngClass]="{
              'icon-green': colorStatus.cerSuccess,
              'icon-default': !colorStatus.cerSuccess }"></span>
          <span class="fas fa-times" style="padding-left: 5px" (click)="bugReport('Certificate', 'Certificate')"
            [matTooltip]="bugTooltip" matTooltipPosition="above" [ngClass]="{
              'icon-red': colorStatus.cerBug,
              'icon-default': !colorStatus.cerBug }"></span>
        </label>
        <small class="label pull-right bg-gray">
          {{ items.candidateFlow?.weightScore.certificate.accumulativeScore }} /
          {{ items.candidateFlow?.weightScore.certificate.total }}
        </small>
      </div>
      <div class="border-all box-pad box-header with-border">
        <div class="row">
          <div class="col-lg-6">
            <tag-input [(ngModel)]="items.certificate" [removable]="editable" [editable]="editable"
              [disable]="!editable" [maxItems]="15" secondaryPlaceholder="Hard SKill" placeholder="+"
              [ngModelOptions]="{ standalone: true }">
            </tag-input>
          </div>
          <div class="col-lg-6">
            <div class="progress-group" *ngFor="
                let item of items.candidateFlow?.weightScore.certificate.weight;
                let i = index
              ">
              <span class="label">{{ item.name }}</span>
              <span class="pull-right"><b>{{ item.score }}</b>/{{ item.percent }}</span>
              <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.score,item.percent)" status="warning" size="tiny">
              </nb-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="txt-left" size="small" nbButton status="success" (click)="checkCV(items._id)"
      [disabled]="!items.applicationForm">Original CV</button>
    <button class="txt-left" size="small" nbButton ghost (click)="bugReport('All','all')">Feedback</button>
    <button *ngIf="editable" nbButton size="small" status="success" (click)="edit()">SAVE</button>
    <button nbButton status="default" size="small" (click)="ref.close(true)">CLOSE</button>
  </nb-card-footer>
</nb-card>