.border-all{
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
}
.border-padtop{
    border-top: 1px solid #edf1f7;
    padding-top: 25px;
}
.txt-left{
    float: left;
}
.img-circle{
    padding: 3px;
    border: none;
    position: relative;
    margin: 10px auto 10px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--color-green);

}
.txt-padTop{
    padding-top: 13px;
    padding-left: 13px;
}