<div class="homepage">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="navbar-brand d-flex align-items-center">
            <img src="../../../assets/images/logo.png" class="d-inline-block align-middle" alt="Buddy Recruit Logo" />
            <strong class="pl-2 d-none d-sm-block">
                <span class="text-green">B</span>uddy
                <span class="text-green">R</span>ecruit
            </strong>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;" [routerLink]="'/index'">หน้าเเรก<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;"
                        (click)="changePath('second')">เกี่ยวกับ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;"
                        (click)="changePath('com')">บริษัทของเรา</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-family" [ngClass]="{ 'nav-shadow': navFeature }" style="cursor: pointer;"
                        (click)="scrollToElement(top,'top')">คุณสมบัติ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;" (click)="changePath('package')">ราคา</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;" [routerLink]="'/blog'">บทความ</a>
                </li> -->
                <!-- <li class="nav-item active">
                    <a class="nav-link font-family" style="cursor: pointer;" [routerLink]="'/blog'">บทความ</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link font-family" [ngClass]="{ 'nav-shadow': navContact }" style="cursor: pointer;"
                        (click)="scrollToElement(contact,'contact')">ติดต่อเรา</a>
                </li>
                <button style="text-align: center;font-family: kanit;" nbButton outline status="success"
                    [routerLink]="'/employer/login'"><span *ngIf="!role">Sign In</span><span
                        *ngIf="role">ย้อนกลับ</span>
                </button>
            </ul>
        </div>
    </nav>
    <div #top id="top"></div>
    <nb-card style="margin-bottom: 0px;">
        <nb-card-body style="margin-top: 5.5rem;padding-bottom: 5rem;">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" style="text-align: center;">
                            <h2>คุณสมบัติของ Buddy Recruit</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-lg-2"></div>
                        <div class="col-md-3 col-lg-3" style="text-align: center;">
                            <img class="img-show" style="cursor: none;" [src]="item.icon"><br>
                            <label style="font-size: 1.25rem;">{{ item.name || '' }}</label>
                        </div>
                        <div class="col-md-7 col-lg-7" style="padding-top: 1rem;">
                            <label style="font-size: 1.5rem; line-height: 40px; color: gray;">
                                {{ item.description || '' }}
                            </label>
                        </div>
                    </div>
                    <div class="row padd-top">
                        <div class="col-md-12 col-lg-12" style="text-align: center;">
                            <video autoplay width="500" height="500" [src]="item.url" controls>
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                    </div>
                </div>
                <!-- list -->
                <div class="col-md-4 col-lg-4">
                    <div style="text-align: center;" class="row">
                        <div *ngFor="let feat of features;let i = index;" class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div *ngIf="itemIndex !== i">
                                <img class="img-default link" (click)="selectFeature(i,top)" [src]="feat.icon"><br>
                                <label class="laShake link" (click)="selectFeature(i,top)">{{ feat.name || '' }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- list -->
            <!-- <div class="row" style="padding-top: 5rem;text-align: center;">
                <div *ngFor="let feat of features;let i = index;" class="col-4 col-sm-4 col-md-3 col-lg-2">
                    <div *ngIf="itemIndex !== i && !devices.isMobile">
                        <img class="img-default link" (click)="selectFeature(i,top)" [src]="feat.icon"><br>
                        <label>{{ feat.name || '' }}</label>
                    </div> -->
            <!-- mobile -->
            <!-- <div *ngIf="itemIndex !== i && devices.isMobile">
                        <img class="img-default-mobile link" (click)="selectFeature(i,top)" [src]="feat.icon"><br>
                        <label>{{ feat.name || '' }}</label>
                    </div>
                </div>
            </div> -->
        </nb-card-body>
    </nb-card>

    <!-- Footer -->
    <footer #contact id="contact">
        <div class="container">
            <div class="row text-mob">
                <div class="col-md-4 m-b-20">
                    <div class="sitemap">
                        <h6>Sitemap</h6>
                        <a class="nav-link font-family" style="cursor: pointer;" [routerLink]="'/index'">หน้าเเรก<span
                                class="sr-only">(current)</span></a>
                        <a class="nav-link font-family" style="cursor: pointer;"
                            (click)="changePath('second')">เกี่ยวกับ</a>
                        <a class="nav-link font-family" style="cursor: pointer;"
                            (click)="changePath('com')">บริษัทของเรา</a>
                        <a class="nav-link font-family" style="cursor: pointer;"
                            (click)="scrollToElement(top,'top')">คุณสมบัติ</a>
                        <a class="nav-link font-family" style="cursor: pointer;"
                            (click)="changePath('package')">ราคา</a>
                        <!-- <a class="nav-link font-family" style="cursor: pointer;" [routerLink]="'/blog'">บทความ</a> -->
                    </div>
                </div>
                <div class="col-md-4 m-b-20">
                    <div class="footer-address">
                        <h6>ZYGEN COMPANY LIMITED</h6>
                        <p>65/60 Chamnan Phenjati Business Center Tower,</p>
                        <p>6 th Floor, Rama 9 Road, Huay Kwang, Bangkok, 10310</p>
                        <p>Tel : +662 643 8016, +662 612 2116-7</p>
                        <p>Mail : center@zygencenter.com</p>
                    </div>
                </div>
                <div class="col-md-4 m-b-20">
                    <div class="section-title wow fadeInDown animated" style="visibility: visible;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.364182712334!2d100.56648731474904!3d13.756898200881906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29e8b5f598f1b%3A0xa91f1d97bdb4cb81!2zWnlHZW4gQ29tcGFueSBMaW1pdGVkIHwg4Lia4Lij4Li04Lip4Lix4LiXIOC5hOC4i-C5gOC4iOC5h-C4mSDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1532082801978"
                            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <div id="copyright">
                <span class="created-by">Copyright &copy; 2018-2019
                    <a class="text-green" target="_blank" href="http://www.zygencenter.com/">ZyGen Company Limited</a>.
                    All rights reserved.
                </span>
            </div>
        </div>
    </footer>

</div>