.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.circle.circle-primary {
  background-color: var(--color-blue);
}
.circle.circle-success {
  background-color: var(--color-green);
}
.circle.circle-danger {
  background-color: var(--color-red);
}
.cell-totals {
  margin: 5px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}

table {
  td.icon {
    width: 35px;
    vertical-align: top;
  }
  td.content {
    padding-bottom: 10px;
  }
}
.icon-microsoft {
  color: #0078d4;
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}
.icon-google {
  color: #ea4335;
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}