.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.circle.circle-primary {
  background-color: var(--color-blue);
}
.circle.circle-success {
  background-color: var(--color-green);
}
.circle.circle-danger {
  background-color: var(--color-red);
}
.circle.circle-warning {
  background-color: var(--color-orange);
}
.circle.circle-default {
  background-color: var(--color-light-gray);
}
.cell-totals {
  margin: 5px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}

table {
  td.icon {
    width: 35px;
    vertical-align: top;
  }
  td.content {
    padding-bottom: 10px;
  }
}
.sync-container {
  position: relative;
  display: flex;
  align-items: center;  
}
.sync-icon {
  font-size: 2.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.sync-content {
  width: -webkit-fill-available;

  small {
    display: block;
  }
}
.icon-microsoft {
  color: #0078d4;
}
.icon-google {
  color: #ea4335;
}