<!-- <nb-alert *ngIf="showTips" status="warning" closable (close)="showTips = !showTips">
  Your working days is not configured to calendar!
</nb-alert> -->

<!-- <div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body style="min-height: auto;">
        <span class="fab fa-microsoft icon-microsoft"></span>
        Sign in with Outlook Calendar
        <button *ngIf="!outlook.signIn" nbButton status="success" size="small" class="float-right"
          (click)="signInOutlook()" [nbSpinner]="outlook.loading" nbSpinnerSize="tiny">
          Sign in
        </button>
        <button *ngIf="outlook.signIn" nbButton status="success" size="small" class="float-right"
          [nbSpinner]="outlook.loading" nbSpinnerSize="tiny" disabled>
          <nb-icon icon="checkmark-outline" style="font-size: 1rem;"></nb-icon>
          Sign in
        </button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body style="min-height: auto;">
        <span class="fab fa-google icon-google"></span>
        Sign in with Google Calendar
        <button *ngIf="!gmail.signIn" nbButton status="success" size="small" class="float-right"
          (click)="signInGoogle()" [nbSpinner]="gmail.loading" nbSpinnerSize="tiny">
          Sign in
        </button>
        <button *ngIf="gmail.signIn" nbButton status="success" size="small" class="float-right"
          [nbSpinner]="gmail.loading" nbSpinnerSize="tiny" disabled>
          <nb-icon icon="checkmark-outline" style="font-size: 1rem;"></nb-icon>
          Sign in
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->

<nb-card>
  <nb-card-header>
    CALENDAR
    <div class="pull-right">
      <button *ngIf="!byWorkingDays" nbButton status="success" size="small" (click)="callPopupAvailableDate()"
        [disabled]="!dialogDate">
        Add Available Date
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <button nbButton ghost status="success" size="small" nbTooltip="Previous" mwlCalendarPreviousView
            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
            [excludeDays]="excludeDays">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
          </button>
          <button nbButton status="success" size="small" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </button>
          <button nbButton ghost status="success" size="small" nbTooltip="Next" mwlCalendarNextView [view]="view"
            [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" [excludeDays]="excludeDays">
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <button nbButton status="primary" size="small" class="m-r-5 active" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Month
          </button>
          <button nbButton status="primary" size="small" class="m-r-5" (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week">
            Week
          </button>
          <button nbButton status="primary" size="small" (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day">
            Day
          </button>
        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
        [excludeDays]="excludeDays" [cellTemplate]="customCellTemplate"
        (beforeViewRender)="beforeMonthViewRender($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)" [excludeDays]="excludeDays">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
    <div class="text-gray m-t-10">
      <span class="circle circle-success"></span>
      <small>Available Date</small>
      <span class="circle circle-danger m-l-10"></span>
      <small>Interview Meetings</small>
      <span class="circle circle-warning m-l-10"></span>
      <small>Other Meetings</small>
    </div>
  </nb-card-body>
</nb-card>
<!-- 
<nb-tabset>
  <nb-tab tabTitle="Calendar" tabIcon="calendar-outline">
    <nb-card>
      <nb-card-header>
        <div class="pull-left">
          <label class="label">Available Days :</label>
          <nb-radio-group [(ngModel)]="byWorkingDays" class="inline m-l-10" (valueChange)="changeCalendarType($event)">
            <nb-radio [value]="true">By Working Days</nb-radio>
            <nb-radio [value]="false">Customize</nb-radio>
          </nb-radio-group>
        </div>
        <div class="pull-right">
          <button *ngIf="!byWorkingDays" nbButton status="success" (click)="callPopupAvailableDate()"
            [disabled]="!dialogDate">
            Add Available Date
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <button nbButton ghost status="success" size="small" nbTooltip="Previous" mwlCalendarPreviousView
                [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"
                [excludeDays]="excludeDays">
                <nb-icon icon="arrow-ios-back-outline"></nb-icon>
              </button>
              <button nbButton status="success" size="small" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </button>
              <button nbButton ghost status="success" size="small" nbTooltip="Next" mwlCalendarNextView [view]="view"
                [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" [excludeDays]="excludeDays">
                <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
              </button>
            </div>
          </div>
          <div class="col-md-4">
            <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <button nbButton status="primary" size="small" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
              </button>
              <button nbButton status="primary" size="small" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
              </button>
              <button nbButton status="primary" size="small" (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day">
                Day
              </button>
            </div>
          </div>
        </div>
        <br />
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            [excludeDays]="excludeDays" [cellTemplate]="customCellTemplate"
            (beforeViewRender)="beforeMonthViewRender($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" [excludeDays]="excludeDays">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
        <div class="text-gray m-t-10">
          <span class="circle circle-success"></span>
          <small>Available</small>
          <span class="circle circle-danger m-l-10"></span>
          <small>Unavailable</small>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-tab>

  <nb-tab tabTitle="Working Days" tabIcon="clock-outline" [disabled]="!byWorkingDays">
    <nb-card>
      <nb-card-header>
        <div class="title">
          Working Days
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngFor="let workingDay of workingDays; let wIndex = index" class="m-b-20">
          <mat-checkbox [(ngModel)]="workingDay.isActive">{{ workingDay.day }}</mat-checkbox>
          <div style="padding-left: 1rem;">
            <div *ngFor="let period of workingDay.periods; let pIndex = index" class="form-control-group">
              <ngb-timepicker [(ngModel)]="period.startTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
                [disabled]="!workingDay.isActive"></ngb-timepicker>
              <span class="label m-l-10 m-r-10">To</span>
              <ngb-timepicker [(ngModel)]="period.endTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
                [disabled]="!workingDay.isActive"></ngb-timepicker>
              <nb-icon *ngIf="workingDay.periods.length > 1 && workingDay.isActive" icon="minus-square-outline"
                class="link text-red m-l-5" (click)="removePeriod(wIndex, pIndex)">
              </nb-icon>
              <nb-icon *ngIf="workingDay.periods.length - 1 === pIndex && workingDay.isActive"
                icon="plus-square-outline" class="link m-l-5" (click)="addPeriod(wIndex)"></nb-icon>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="success" nbTooltip="save" (click)="saveWorkingDays()">
          <nb-icon icon="save-outline"></nb-icon> Save
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-tab>
</nb-tabset> -->

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
    <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
      {{ group[1].length }}
    </span>
  </div>
</ng-template>

<ng-template #dialogInfo let-data let-ref="dialogRef">
  <nb-card [style.max-height.px]="innerHeight" [style.width.px]="innerWidth">
    <nb-card-header>
      <div class="title">
        <label [nbTooltip]="candidateFlow.refJR?.refJD?.position || '-'">
          {{ candidateFlow.refJR?.refJD?.position || '-' }}
        </label>
        <small class="status">
          <span>{{ utilitiesService.convertDate(event?.start) || '-' }}</span>
          <span> ⋅ </span>
          <span>{{ utilitiesService.convertTime(event?.start) }}</span>
          <span> - </span>
          <span>{{ utilitiesService.convertTime(event?.end) }}</span>
        </small>
      </div>
      <div class="actions">
        <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close()"></nb-icon>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <td class="icon">
            <nb-icon icon="pin-outline" nbTooltip="Location"></nb-icon>
          </td>
          <td class="content">
            <div>{{ candidateFlow.pendingInterviewInfo?.refLocation?.name || '-' }}</div>
            <div>
              <small class="text-gray">{{ candidateFlow.pendingInterviewInfo?.refLocation?.address }}</small>
            </div>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <nb-icon icon="people-outline" nbTooltip="Users"></nb-icon>
          </td>
          <td class="content">
            <div *ngFor="let user of users"
              [ngClass]="{ 'text-green' : user.active, 'text-light-gray' : !user.active }">
              <span>{{ user.name }}</span>
              <nb-icon *ngIf="user.active" icon="checkmark-outline" class="text-green"></nb-icon>
            </div>
          </td>
        </tr>
      </table>
      <div class="label text-light-gray m-t-5 m-b-10">Candidate Info</div>
      <table>
        <tr>
          <td class="icon">
            <nb-icon icon="person-outline" nbTooltip="Name"></nb-icon>
          </td>
          <td class="content">
            {{ utilitiesService.setFullname(candidateFlow.refCandidate) || '-' }}
          </td>
        </tr>
        <tr>
          <td class="icon">
            <nb-icon icon="phone-outline" nbTooltip="Phone"></nb-icon>
          </td>
          <td class="content">
            {{ candidateFlow.refCandidate?.phone || '-' }}
          </td>
        </tr>
        <tr>
          <td class="icon">
            <nb-icon icon="email-outline" nbTooltip="Email"></nb-icon>
          </td>
          <td class="content">
            {{ candidateFlow.refCandidate?.email || '-' }}
          </td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>
</ng-template>