<div class="content-header with-shadow">
  <div class="row">
    <div [ngClass]="{ 
        'col-sm-6':role.refAuthorize.configuration.user.editable,
        'col-sm-8':!role.refAuthorize.configuration.user.editable }">
      <h3>User</h3>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="keyword" nbInput fullWidth placeholder="Search"
          (keyup.enter)="paging.pageIndex = 0; search(true)">
        <div class="input-group-addon" nbTooltip="Search">
          <nb-icon icon="search-outline" class="link" (click)="paging.pageIndex = 0; search(true)"></nb-icon>
        </div>
      </div>
    </div>
    <div *ngIf="role.refAuthorize.configuration.user.editable" class="col-sm-2">
      <button nbButton fullWidth status="success" nbTooltip="Create" [routerLink]="'/employer/setting/user-detail'"
        [disabled]="isOverQuota">Create</button>
    </div>
  </div>
</div>

<nb-alert *ngIf="showTips" status="warning" closable (close)="showTips = !showTips">
  <span>
    ไม่สามารถสร้าง User เพิ่มได้ เนื่องจากจำนวน User ครบที่กำหนดแล้ว, หากต้องการความช่วยเหลือ!
    <a class="link underline m-l-5"><b>ติดต่อเรา</b></a>
  </span>
</nb-alert>

<div class="row">
  <div class="col-lg-6" *ngFor="let item of items;">
    <nb-card [accent]="item.active ? 'success' : 'default'">
      <nb-card-header>
        <div class="title">
          <label [nbTooltip]="item.firstname + ' ' + item.lastname">{{ item.firstname }} {{ item.lastname }}</label>
        </div>
        <div class="actions">
          <nb-icon *ngIf="role.refAuthorize.configuration.department.editable" icon="edit-outline" class="link"
            nbTooltip="Edit" [routerLink]="'/employer/setting/user-detail/'+item._id">
          </nb-icon>
          <nb-icon icon="trash-2-outline" class="link" nbTooltip="Delete" (click)="delete(item)" *ngIf="!item.active">
          </nb-icon>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="text-group">
          <label class="label">Username</label>
          <span>{{ item.username }}</span>
        </div>
        <div class="text-group">
          <label class="label">Department</label>
          <span>{{ item.thisDepartments?.name || '-' }}</span>
        </div>
        <div class="text-group">
          <label class="label">Division</label>
          <span>{{ item.thisDivision?.name || '-' }}</span>
        </div>
        <div class="text-group">
          <label class="label">User Role</label>
          <span>{{ item.refHero?.name || '-' }}</span>
        </div>
        <div class="text-group">
          <label class="label">Notify Email</label>
          <span>{{ item.notifyEmail || '-' }}</span>
        </div>
        <div class="text-group">
          <label class="label">Status</label>
          <span class="label" [ngClass]="{ 'label-success' : item.active, 'label-gray' : !item.active }">
            {{ item.active ? 'Active': 'Inactive' }}
          </span>
        </div>
        <i class="text-gray">
          <div class="text-group">
            <label class="label">Last update by</label>
            <span>
              {{ item.lastChangedInfo.refUser.firstname }}
              {{ item.lastChangedInfo.refUser.lastname }}
            </span>
          </div>
          <div class="text-group">
            <label class="label">Last update date</label>
            <span>{{ utilitiesService.convertDateTimeFromSystem(item.lastChangedInfo.date) || '-' }}</span>
          </div>
        </i>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<mat-paginator *ngIf="paging.length > minPageSize" [length]="paging.length" [pageIndex]="paging.pageIndex"
  [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions" (page)="pageEvent = changePaging($event)">
</mat-paginator>