<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
    <nb-card-header>
        <div class="title">
            <label [nbTooltip]="candidateName">{{ candidateName }}</label>
            <small class="status text-gray m-0">
                {{ jrName }}
            </small>
        </div>
        <div class="actions">
            <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body class="dialog-body">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-control-group">
                    <label class="label">Training Date </label>
                    <nb-datepicker #datepicker1 format="dd/MM/yyyy" [disabled]="editable"></nb-datepicker>
                    <div class="input-group">
                        <input [nbDatepicker]="datepicker1" [(ngModel)]="training.date" nbInput fullWidth
                            style="cursor: pointer;" [disabled]="editable">
                        <div class="input-group-addon" style="pointer-events: none;">
                            <nb-icon icon="calendar-outline"
                                [ngClass]="{ 'text-green' : !editable, 'text-gray' : editable}">
                            </nb-icon>
                        </div>
                    </div>
                </div>
                <div class="form-control-group">
                    <label class="label">Training Time </label>
                    <ngb-timepicker [(ngModel)]="training.time" [minuteStep]="minuteStep" [spinners]="false" required=""
                        [disabled]="editable"></ngb-timepicker>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-control-group">
                    <label class="label">Onboarding Date </label>
                    <nb-datepicker #datepicker2 format="dd/MM/yyyy" [disabled]="editable"></nb-datepicker>
                    <div class="input-group">
                        <input [nbDatepicker]="datepicker2" [(ngModel)]="onboard.date" nbInput fullWidth
                            style="cursor: pointer;" [disabled]="editable">
                        <div class="input-group-addon" style="pointer-events: none;">
                            <nb-icon icon="calendar-outline"
                                [ngClass]="{ 'text-green' : !editable, 'text-gray' : editable}">
                            </nb-icon>
                        </div>
                    </div>
                </div>
                <div class="form-control-group">
                    <label class="label">Onboarding Time </label>
                    <ngb-timepicker [(ngModel)]="onboard.time" [minuteStep]="minuteStep" [spinners]="false" required=""
                        [disabled]="editable"></ngb-timepicker>
                </div>
            </div>
        </div>
        <div class="form-control-group m-0">
            <label class="label">Remark</label>
            <textarea nbInput fullWidth [(ngModel)]="note" placeholder="Remark" rows="3"></textarea>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-collapse">
            <button nbButton shape="semi-round" status="default" [size]="(devices.isMobile)? 'tiny' : 'medium'"
                (click)="ref.close(result)">CANCEL</button>
        </div>
        <button nbButton shape="semi-round" status="primary" [size]="(devices.isMobile)? 'tiny' : 'medium'"
            (click)="save()">SAVE</button>
    </nb-card-footer>
</nb-card>