<nb-card [style.width.px]="innerWidth" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <span>{{ jrDetail.hc_id || '-' }}</span>
      <!-- <small class="status">
        Status: <label class="label"
          [ngClass]="utilitiesService.getJrStatusClass(jrDetail.refStatus?.status)">{{ jrDetail.refStatus.name || '-' }}</label>
      </small> -->
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close()"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <div class="text-group">
      <label class="label">Job ID</label>
      <span>{{ jrDetail.refJD?.job_id || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Job Name</label>
      <span>{{ jrDetail.refJD?.position || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Public Job Name (TH)</label>
      <span>{{ jrDetail.refJD?.publicJobName?.th || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Public Job Name (EN)</label>
      <span>{{ jrDetail.refJD?.publicJobName?.en || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Branch</label>
      <span>{{ jrDetail.refLocation?.name || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Number of Opening</label>
      <span>{{ jrDetail.demandNumber || '0' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Group</label>
      <span>{{ jrDetail.group || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Start Date</label>
      <span>{{ utilitiesService.convertDate(jrDetail.duration?.startDate) || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">End Date</label>
      <span>{{ utilitiesService.convertDate(jrDetail.duration?.endDate) || '-' }}</span>
    </div>
  </nb-card-body>
</nb-card>