<nb-card [style.width.px]="innerWidth" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label [nbTooltip]="jrDetail.refJD?.position">{{ jrDetail.refJD?.position }}</label>
      <small class="status">
        Status: <label class="label"
          [ngClass]="utilitiesService.getJrStatusClass(jrDetail.refStatus?.status)">{{ jrDetail.refStatus.name || '-' }}</label>
      </small>
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close()"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <div class="text-group">
      <label class="label">Capacity</label>
      <span>{{ jrDetail.capacity || '0' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Start Date</label>
      <span>{{ utilitiesService.convertDate(jrDetail.duration.startDate) || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">End Date</label>
      <span>{{ utilitiesService.convertDate(jrDetail.duration.endDate) || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Onboard Date</label>
      <span>{{ utilitiesService.convertDate(jrDetail.onboardDate) || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Remark</label>
      <span>{{ jrDetail.remark || '-' }}</span>
    </div>
    <div class="text-group">
      <label class="label">Sourcing</label>
      <span *ngFor="let sourcing of jrDetail.refSource" class="m-r-5">{{ sourcing.name }}</span>
    </div>
    <div class="text-group">
      <label class="label">Exam</label>
      <nb-icon *ngIf="jrDetail.requiredExam" icon="checkmark-outline" class="text-green"></nb-icon>
      <nb-icon *ngIf="!jrDetail.requiredExam" icon="close-outline" class="text-red"></nb-icon>
    </div>
    <div class="text-group">
      <label class="label">User Interviews</label>
      <span *ngIf="jrDetail.userInterviews.length === 0">-</span>
      <div *ngFor="let user of jrDetail.userInterviews" class="m-l-10">
        <nb-icon icon="person-outline"></nb-icon>
        <span class="m-l-5">{{ utilitiesService.setFullname(user.refUser) }}</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>