<div class="content-header with-shadow">
  <h3>Profile</h3>
</div>

<div class="row">
  <div class="col-md-5">
    <nb-card>
      <nb-card-body>
        <div class="box-body box-profile">
          <img class="img-default" (click)="fileInput.click()"
            [src]="url ? url : 'https://image.flaticon.com/icons/png/512/55/55089.png'">
          <br>
          <!-- <a (click)="fileInput.click()"><span class="fa fa-images"></span>
            <input #fileInput type="file" (change)="onFileInput($event.target.files)" style="display:none;"
              accept="image/*" ng2FileSelect [uploader]="uploader" />
            Select Profile Picture</a> -->

          <a style="cursor: pointer;" (click)="fileInput.click()"><span class="fa fa-images"></span>
            <input #fileInput type="file" (change)="fileChangeEvent($event,dialog,$event.target.files)"
              style="display:none;" accept="image/*" />Select Profile Picture</a>

          <h6 class="text-ellipsis text-center">
            {{ profileDetail.firstname }} {{ profileDetail.lastname }}
          </h6>

          <div class="cardNew">
            <div class="card-icon-left">
              <i class="fa fa-building"></i>
            </div>
            <div class="card-content2">
              <div class="card-title">Company</div>
              <div class="card-desc">
                {{ profileDetail.refCompany?.name || '-' }}
              </div>
            </div>
          </div>
          <div class="cardNew">
            <div class="card-icon-left">
              <i class="fa fa-briefcase"></i>
            </div>
            <div class="card-content2">
              <div class="card-title">Department</div>
              <div class="card-desc">
                {{ profileDetail.thisDepartments?.name || '-' }}
              </div>
            </div>
          </div>
          <div class="cardNew">
            <div class="card-icon-left">
              <i class="fas fa-project-diagram"></i>
            </div>
            <div class="card-content2">
              <div class="card-title">Position</div>
              <div class="card-desc">
                {{ role.refHero.name || '-' }}
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-7">
    <nb-card>
      <nb-card-header>
        Edit Profile
      </nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label class="label" for="name">Username</label>
          <input type="text" disabled [(ngModel)]="profileDetail.username" nbInput fullWidth>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="label">First name <small class="text-red">*</small></label><br>
              <input type="text" [(ngModel)]="profileDetail.firstname" [formControl]="firstName" nbInput fullWidth
                placeholder="first name">
              <small *ngIf="touched && firstName.errors" class="text-red">{{ sErrorFirstName }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="label">Last name <small class="text-red">*</small></label><br>
              <input type="text" [(ngModel)]="profileDetail.lastname" [formControl]="lastName" nbInput fullWidth
                placeholder="last name">
              <small *ngIf="touched && lastName.errors" class="text-red">{{ sErrorLastName }}</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="label">Notification email<small class="text-red">*</small></label><br>
              <input type="text" [(ngModel)]="profileDetail.notifyEmail" [formControl]="email" nbInput fullWidth
                placeholder="email">
              <small *ngIf="touched && email.errors" class="text-red">{{ sErrorEmail }}</small>
            </div>
          </div>
          <div class="col-md-12">
            <label class="label">Notification Setting</label>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.talentPool.mail">
                Talent Pool
              </nb-checkbox><br>
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.pendingExam.mail">
                Pending Exam
              </nb-checkbox><br>
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.pendingAppointment.mail">
                Pending Appointment
              </nb-checkbox><br>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.pendingInterview.mail">
                Pending Interview
              </nb-checkbox><br>
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.pendingSignContract.mail">
                Pending Sign Contract
              </nb-checkbox><br>
              <nb-checkbox [(ngModel)]="profileDetail.setting?.notification.onboard.mail">
                Onboard
              </nb-checkbox><br>
            </div>
          </div>
          <div class="col-md-12">
            <div class="change-collapse">
              <label class="link" (click)="togglePassword()"><span class="fa" [ngClass]="{
                      'fa-angle-double-up': isChangePassword,
                      'fa-angle-double-down': !isChangePassword }"></span> Change Password</label>
            </div>
          </div>
          <div *ngIf="isChangePassword" class="col-md-12">
            <div class="form-group">
              <label class="label" for="name">Current Password <small class="text-red">*</small></label>
              <div class="input-group">
                <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="profileDetail.passwordCur"
                  [formControl]="passwordCur" nbInput fullWidth placeholder="Current Password">
                <div class="input-group-addon">
                  <nb-icon icon="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}"
                    (click)="showPassword=!showPassword">
                  </nb-icon>
                </div>
                <small *ngIf="touched && passwordCur.errors" class="text-red">{{ sErrorPasswordCur }}</small>
              </div>
            </div>

            <div class="form-group">
              <label class="label" for="name">New Password<small class="text-red">*</small></label>
              <div class="input-group">
                <input type="{{ showPassword2 ? 'text' : 'password' }}" [(ngModel)]="profileDetail.passwordNew"
                  [formControl]="passwordNew" nbInput fullWidth placeholder="New Password">
                <div class="input-group-addon">
                  <nb-icon icon="{{ showPassword2 ? 'eye-off-outline' : 'eye-outline' }}"
                    (click)="showPassword2=!showPassword2">
                  </nb-icon>
                </div>
                <small *ngIf="touched && passwordNew.errors" class="text-red">{{ sErrorPasswordNew }}</small>
              </div>
            </div>

            <div class="form-group">
              <label class="label" for="name">Confirm Password<small class="text-red">*</small></label>
              <div class="input-group">
                <input type="{{ showPassword3 ? 'text' : 'password' }}" [(ngModel)]="profileDetail.passwordCon"
                  [formControl]="passwordCon" nbInput fullWidth placeholder="Confirm Password">
                <div class="input-group-addon">
                  <nb-icon icon="{{ showPassword3 ? 'eye-off-outline' : 'eye-outline' }}"
                    (click)="showPassword3=!showPassword3">
                  </nb-icon>
                </div>
                <small *ngIf="touched && passwordCon.errors || passwordCon != passwordNew"
                  class="text-red">{{ sErrorPasswordCon }}</small>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="default" nbTooltip="CANCEL" (click)="cancel()">CANCEL</button>
        <button nbButton status="success" nbTooltip="SAVE" (click)="save()">SAVE</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<!-- popup -->

<!-- <a (click)="fileInput.click()">click me
  <input #fileInput type="file" (change)="fileChangeEvent($event,dialog,$event.target.files)" style="display:none;"
    accept="image/*" ng2FileSelect [uploader]="uploader" /></a> -->

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card [style.width.px]="utilitiesService.getWidthOfPopupCard()" [style.height.px]="innerHeight">
    <nb-card-body>
      <div style="text-align:center;">
        <span>Preview profile</span><br>
        <img class="img-default" [src]="croppedImage" />
      </div>
      <div>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3 / 3"
          [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="default" (click)="close()">Cancel</button>
      <button nbButton status="success" (click)="saveNewImage(imageChangedEvent)">Save</button>
    </nb-card-footer>
  </nb-card>
</ng-template>