<div class="content-header with-shadow">
  <div class="breadcrumb">
    <span><a [routerLink]="'/employer/onboard/list'" class="text-green">Onboard</a></span>
    <span class="fa fa-angle-right"></span>
    <span>{{ jrName }}</span>
  </div>
</div>

<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" [(ngModel)]="keyword" nbInput fullWidth placeholder="Search"
            (keyup.enter)="paging.pageIndex = 0; search()">
          <div class="input-group-addon" nbTooltip="Search">
            <nb-icon icon="search-outline" class="link" (click)="paging.pageIndex = 0; search()"></nb-icon>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin-top: 3px;">
        <nb-radio-group [(ngModel)]="collapseAll" class="inline" (valueChange)="onClickCollapseAll($event)">
          <nb-radio [value]="true">Collapse All</nb-radio>
          <nb-radio [value]="false">Expand All</nb-radio>
        </nb-radio-group>
      </div>
    </div>
    <div *ngIf="!isExpress">
      <label class="label">Sourcing</label>
      <div class="row">
        <div class="col-md-12 inline">
          <div *ngFor="let sol of soList">
            <nb-checkbox (checkedChange)="filterSource($event,sol._id)" [(ngModel)]="sol.active">{{ sol.name }}
            </nb-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isExpress && questionFilter.length">
      <label class="label">Filter</label>
      <div class="row">
        <div *ngFor="let filter of questionFilter" class="col-md-6">
          <mat-form-field [color]="primary" appearance="outline" class="p-b-0">
            <mat-label>{{ filter.name }}</mat-label>
            <mat-select multiple (selectionChange)="changeQuestionFilter(filter.name, $event)"
              placeholder="{{ filter.name }}">
              <mat-option *ngFor="let value of filter.value" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- filter hubs -->
    <div *ngIf="filter.isFilter && isExpress" class="filter-block">
      <label class="label">Filters:</label>
      <div class="row">
        <div class="col-md-12">
          <nb-radio-group class="inline" id="filterSort" name="filterSort" [(ngModel)]="filterSort"
            (valueChange)="sortData($event)">
            <nb-radio value="apply">
              Apply Date
            </nb-radio>
            <nb-radio value="score">
              Scoring
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-control-group">
            <label class="label">Province</label>
            <mat-form-field [color]="primary" appearance="outline">
              <mat-select [(ngModel)]="filter.selected.provinces" (ngModelChange)="changeFilter(true,'province')"
                multiple>
                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'" [array]="filter.data.provinces"
                  (filteredReturn)="filteredProvince =$event"></mat-select-filter>
                <mat-option *ngFor="let option of filteredProvince" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-control-group">
            <label class="label">Area</label>
            <mat-form-field [color]="primary" appearance="outline">
              <mat-select [(ngModel)]="filter.selected.areas" (ngModelChange)="changeFilter(true,'area')" multiple>
                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'" [array]="filter.data.areas"
                  (filteredReturn)="filteredDistrict =$event"></mat-select-filter>
                <mat-option *ngFor="let option of filteredDistrict" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-control-group">
            <label class="label">Training Date</label>
            <nb-rangepicker (rangeChange)="onEventStartEndRange($event, 'train')" #trainDate></nb-rangepicker>
            <div class="input-group">
              <input [nbDatepicker]="trainDate" [(ngModel)]="filterTrain" nbInput fullWidth style="cursor: pointer;">
              <div class="input-group-addon" style="pointer-events: none;">
                <nb-icon icon="calendar-outline" class="text-green">
                </nb-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-control-group">
            <label class="label">Onboarding Date</label>
            <nb-rangepicker (rangeChange)="onEventStartEndRange($event, 'onboard')" #onDate></nb-rangepicker>
            <div class="input-group">
              <input [nbDatepicker]="onDate" [(ngModel)]="filterOn" nbInput fullWidth style="cursor: pointer;">
              <div class="input-group-addon" style="pointer-events: none;">
                <nb-icon icon="calendar-outline" class="text-green">
                </nb-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <div *ngIf="filter.isFilter" class="row" style="text-align: center;">
      <div class="col-md-12">
        <button nbButton status="default" (click)="clearFilter()">
          Clear Filter
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body style="padding: 0.5rem;">
    <nb-tabset fullWidth="true" (changeTab)="onSelectTab($event)">
      <nb-tab *ngFor="let tab of tabs" [tabTitle]="tab.name" [active]="tabSelected && tabSelected === tab.name"
        [badgeText]="tab.badgeText" [badgeStatus]="tab.badgeStatus" responsive="true" [tabIcon]="tab.icon"
        [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
        <div *ngIf="!items.length && !loading" class="text-center text-gray">No data found !</div>
        <div *ngIf="items.length">
          <nb-card *ngFor="let item of items" accent="success">
            <nb-card-header>
              <div class="title">
                <label [ngClass]="{ 'link' : !isExpress, 'text-black' : isExpress}"
                  [nbTooltip]="utilitiesService.setFullname(item.refCandidate) || '-'"
                  (click)="openCandidateDetail(item)">
                  {{ utilitiesService.setFullname(item.refCandidate) || '-' }}
                </label>
                <small class="status">
                  <span>
                    Status: <label
                      class="label label-gray">{{ item.refStage?.name || item.refStage }}</label>&nbsp;&nbsp;
                    <span *ngIf="isExpress">HUB:</span> <label *ngFor="let hub of item.hubs"
                      class="label label-info">{{ hub.refProvince.name.th }}&nbsp;
                      ({{ hub.areaName }})</label>
                  </span><br *ngIf="devices.isMobile">
                  <span *ngIf="!isExpress">
                    <span *ngIf="!devices.isMobile">|</span> Source:
                    <label class="label"
                      [ngClass]="utilitiesService.sourcingColors(item.refSource?.key)">{{ item.refSource?.name || 'Email' }}</label>
                  </span>
                </small>
              </div>
              <div *ngIf="!isExpress" class="actions">
                <div class="link" (mouseenter)="itemSelected = item" [nbPopover]="score" nbPopoverTrigger="hint"
                  nbPopoverPlacement="left">
                  <span class="fa fa-star text-orange">&nbsp;</span>
                  <span>{{ item.weightScore?.accumulativeScore || 0 }}</span>
                  <small>/{{ item.weightScore?.total || 0 }}</small>
                </div>
              </div>
              <div *ngIf="isExpress" class="actions">
                <div class="link" (mouseenter)="itemSelected = item" [nbPopover]="expressScore" nbPopoverTrigger="hint"
                  nbPopoverPlacement="left">
                  <span class="fa fa-star text-orange">&nbsp;</span>
                  <span>{{ item.submitScore || 0 }}</span>
                  <small>/{{ item.maxScore || 0 }}</small>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body *ngIf="!item.collapse">
              <div class="row">
                <div class="col-md-6 m-b-15">
                  <div class="text-group">
                    <label class="label">Age</label>
                    <span>{{ item.refCandidate?.age > 0 ? item.refCandidate?.age : '-' }}</span>
                  </div>
                  <div class="text-group">
                    <label class="label">Work Experience</label>
                    <span>{{ utilitiesService.convertMonthToYearText(item.refCandidate?.workExperience?.totalExpMonth) || '-' }}</span>
                  </div>
                  <div class="text-group">
                    <label class="label">Phone</label>
                    <span>{{ item.refCandidate?.phone || '-' }}</span>
                  </div>
                  <div class="text-group">
                    <label class="label">Reserve Phone</label>
                    <span>{{ item.refCandidate?.reservePhone || '-' }}</span>
                  </div>
                  <div class="text-group">
                    <label class="label">Email</label>
                    <span>{{ item.refCandidate?.email || '-' }}</span>
                  </div>
                  <div *ngIf="!isExpress" class="text-group">
                    <span class="link" (click)="info(item)">
                      <nb-icon icon="info-outline" class="font-inherit"></nb-icon> More Details
                    </span>
                  </div>
                  <!-- isExpress -->
                  <div *ngIf="item.refSource.name === 'App-Form'" class="text-group m-t-10 m-b-10">
                    <span class="link underline" (click)="openApplicationForm(item)">
                      <nb-icon icon="file-text-outline" class="font-inherit m-r-5"></nb-icon>
                      <span>Application Form</span>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngIf="isExpress" class="m-t-5">
                    <label class="label text-black m-r-5">Information</label>
                    <nb-icon *ngIf="item.condition.button.nextStep && isExpress" icon="edit-2-outline" class="link"
                      nbTooltip="Edit Infomation" (click)="openPopupTrainingDate(item)">
                    </nb-icon>
                    <div class="m-l-15">
                      <!-- <span>
                        <nb-checkbox *ngIf="item.condition.button.nextStep && isExpress"
                          (checkedChange)="changeTraining(item)" [(ngModel)]="item.training.finished"
                          [ngModelOptions]="{standalone: true}">
                          <span>Training Date</span>
                        </nb-checkbox>
                      </span> -->
                      <div class="text-group text-icon-center">
                        <nb-icon *ngIf="item.condition.button.nextStep && isExpress"
                          [ngClass]="{ 'text-green': item.training.finished, 'text-light-gray': !item.training.finished }"
                          style="width: 20px;height: 20px;" (click)="changeTraining(item)" icon="checkmark-outline"
                          class="font-inherit link"></nb-icon>
                        <label class="label">Training Date</label>
                        <span>{{  utilitiesService.convertDateTimeFromSystem(item.training?.date) || '-' }}</span>
                      </div>
                      <div class="text-group">
                        <label class="label">Onboarding Date</label>
                        <span>{{ utilitiesService.convertDateTimeFromSystem(item.onboard?.date) || '-' }}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isExpress" class="m-t-5">
                    <label class="label text-light-gray m-r-5">Sign Contract Info</label>
                    <div class="m-l-15">
                      <div class="text-group" *ngIf="!isExpress">
                        <label class="label">Sign Contract Date</label>
                        <span>{{ utilitiesService.convertDateTime(item.pendingSignContractInfo?.sign?.date) || '-' }}</span>
                      </div>
                      <div class="text-group" *ngIf="isExpress">
                        <label class="label">Sign Contract Date</label>
                        <span>{{ utilitiesService.convertDateTimeFromSystem(item.pendingSignContractInfo?.sign?.date) || '-' }}</span>
                      </div>
                      <div class="text-group">
                        <label class="label">Email Sent Date</label>
                        <span>{{ utilitiesService.convertDateTimeFromSystem(item.pendingSignContractInfo?.mail?.date) || '-' }}</span>
                      </div>
                      <div class="text-group">
                        <label class="label">Remark</label>
                        <span>{{ item.pendingSignContractInfo?.note || '-' }}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isExpress" class="m-t-5">
                    <label class="label text-light-gray m-r-5">Onboard Info</label>
                    <nb-icon *ngIf="item.condition.icon.signContract" icon="edit-2-outline" class="link"
                      nbTooltip="Edit Agree Start Date"
                      (click)="openPopupOnboardDate(item ,item.condition.icon.signContract ,item.condition.icon.onBoard)">
                    </nb-icon>
                    <div class="m-l-15">
                      <div class="text-group">
                        <label class="label">Onboard Date</label>
                        <span>{{ utilitiesService.convertDate(item.pendingSignContractInfo?.agreeStartDate) || '-' }}</span>
                      </div>
                      <div class="text-group">
                        <label class="label">Remark</label>
                        <span>{{ item.onboard?.note || '-' }}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="tabSelected === 'REJECTED' && item.reject.flag" class="m-t-5">
                    <label class="label text-light-gray">Reject Info</label>
                    <div class="m-l-15">
                      <div class="text-group">
                        <label class="label">Reject Reason</label>
                        <span class="text-red">{{ item.reject.rejectBy.refReject.name || '-' }}</span>
                      </div>
                      <div *ngIf="item.reject.remark" class="text-group">
                        <label class="label">Reject Remark</label>
                        <span class="text-red">{{ item.reject.remark || '-' }}</span>
                      </div>
                      <i class="text-gray">
                        <div class="text-group">
                          <label class="label">Reject By</label>
                          <span>{{ utilitiesService.setFullname(item.reject.rejectBy.refUser) || '-' }}</span>
                        </div>
                        <div class="text-group">
                          <label class="label">Reject Date</label>
                          <span>{{ utilitiesService.convertDateTimeFromSystem(item.reject.rejectBy.date) || '-' }}</span>
                        </div>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <div class="footer-collapse">
                <button *ngIf="item.collapse && !devices.isMobile" nbButton outline shape="round" size="small"
                  status="default" (click)="item.collapse = !item.collapse" nbTooltip="Expand">
                  <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
                </button>
                <button *ngIf="!item.collapse && !devices.isMobile" nbButton outline shape="round" size="small"
                  status="default" (click)="item.collapse = !item.collapse" nbTooltip="Collapse">
                  <nb-icon icon="arrow-ios-upward-outline"></nb-icon>
                </button>
                <div *ngIf="item.collapse && devices.isMobile"
                  style="padding-top: 5px;border-radius: 15px;border: 1px solid #edf1f7;">
                  <nb-icon (click)="item.collapse = !item.collapse" icon="arrow-ios-downward-outline"></nb-icon>
                </div>
                <div *ngIf="!item.collapse && devices.isMobile"
                  style="padding-top: 5px;border-radius: 15px;border: 1px solid #edf1f7;">
                  <nb-icon (click)="item.collapse = !item.collapse" icon="arrow-ios-upward-outline"
                    nbTooltip="Collapse"></nb-icon>
                </div>
              </div>

              <button class="facebook-btn" *ngIf="isExpress && item.haveFbId" nbButton
                [size]="(devices.isMobile)? 'tiny' : 'medium'" (click)="openChatUser(item)">
                <nb-icon icon="facebook-outline" style="margin-right: 0;"></nb-icon>
              </button>
              <!-- Mobile -->
              <button *ngIf="item.condition.button.comment && devices.isMobile" nbButton style="text-align: left;"
                [size]="(devices.isMobile)? 'tiny' : 'medium'" status="info" nbTooltip="Comment"
                (click)="openPopupComment(item)">
                <nb-icon icon="message-circle" style="margin-right: 0;"></nb-icon>
                <nb-badge *ngIf="item.comments?.length" [text]="item.comments?.length" status="danger"
                  position="top right"></nb-badge>
              </button>
              <!-- Desktop -->
              <button *ngIf="item.condition.button.comment && !devices.isMobile" nbButton
                [size]="(devices.isMobile)? 'tiny' : 'medium'" status="info" nbTooltip="Comment"
                (click)="openPopupComment(item)">
                <nb-icon icon="message-circle" style="margin-right: 0;"></nb-icon>
                <nb-badge *ngIf="item.comments?.length" [text]="item.comments?.length" status="danger"
                  position="top right"></nb-badge>
              </button>
              <button
                *ngIf="item.condition.button.nextStep &&  !utilitiesService.convertDate(item.pendingSignContractInfo.agreeStartDate) && !isExpress"
                nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="success"
                nbTooltip="Edit Agree Start Date"
                (click)="openPopupOnboardDate(item ,item.condition.icon.signContract ,item.condition.icon.onBoard)"
                [disabled]="item.condition.isExpired">
                <nb-icon *ngIf="!item.condition.isExpired" icon="edit-2-outline"></nb-icon>
                <span *ngIf="item.condition.isExpired">
                  {{ item.refJR?.refStatus?.name }}
                </span>
              </button>

              <button
                *ngIf="item.condition.button.nextStep && utilitiesService.convertDate(item.pendingSignContractInfo.agreeStartDate) && !isExpress"
                nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="success"
                [nbTooltip]="item.condition.button.step.button" (click)="approve(item, item.condition.button.step)"
                [disabled]="item.condition.isExpired || !utilitiesService.isDateLowerThanToday(item.pendingSignContractInfo?.agreeStartDate) 
                || (item.refCandidate.email !== '' && !item.onboard.mail.flag )">
                <nb-badge *ngIf="!utilitiesService.isDateLowerThanToday(item.pendingSignContractInfo?.agreeStartDate)"
                  nbTooltip="Agree start date is not arrived yet" text=" ! " status="warning" position="top right">
                </nb-badge>
                <nb-badge
                  *ngIf="utilitiesService.isDateLowerThanToday(item.pendingSignContractInfo?.agreeStartDate) && !item.onboard.mail.flag"
                  nbTooltip="Plesae send email in onboard info" text=" ! " status="warning" position="top right">
                </nb-badge>
                <nb-icon *ngIf="!item.condition.isExpired" icon="checkmark-circle-2"></nb-icon>
                <span *ngIf="item.condition.isExpired">
                  {{ item.refJR?.refStatus?.name }}
                </span>
              </button>

              <button *ngIf="item.condition.button.nextStep && isExpress" nbButton
                [size]="(devices.isMobile)? 'tiny' : 'medium'" status="success"
                [nbTooltip]="item.condition.button.step.button" (click)="approve(item, item.condition.button.step)">
                <nb-icon *ngIf="!item.condition.isExpired" icon="checkmark-circle-2"></nb-icon>
                <span *ngIf="item.condition.isExpired">
                  {{ item.refJR?.refStatus?.name }}
                </span>
              </button>

              <button *ngIf="item.condition.button.reject" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'"
                status="danger" nbTooltip="Reject" (click)="reject(item)">
                <nb-icon icon="close-circle"></nb-icon>
              </button>

              <button *ngIf="item.condition.button.revoke && !isExpress" nbButton
                [size]="(devices.isMobile)? 'tiny' : 'medium'" status="primary" nbTooltip="Revoke"
                (click)="revoke(item)">
                <nb-icon icon="undo"></nb-icon>
              </button>
              <button *ngIf="item.condition.button.revoke && isExpress && item.canRevoke" nbButton
                [size]="(devices.isMobile)? 'tiny' : 'medium'" status="primary" nbTooltip="Revoke"
                (click)="revoke(item)">
                <nb-icon icon="undo"></nb-icon>
              </button>

            </nb-card-footer>
          </nb-card>
          <mat-paginator *ngIf="paging.length > minPageSize" [length]="paging.length" [pageIndex]="paging.pageIndex"
            [pageSize]="paging.pageSize" [pageSizeOptions]="paging.pageSizeOptions"
            (page)="pageEvent = changePaging($event)">
          </mat-paginator>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<ng-template #score>
  <div class="text-center m-b-10">
    <label class="label text-top text-black">CV Score</label>
  </div>
  <div class="m-b-10">
    <div class="label">Work Experience
      <span class="pull-right">
        {{ itemSelected.weightScore?.workExperience?.accumulativeScore || 0 }}/{{ itemSelected.weightScore?.workExperience?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                itemSelected.weightScore?.workExperience?.accumulativeScore,
                itemSelected.weightScore?.workExperience?.total)" status="primary" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Education
      <span class="pull-right">
        {{ itemSelected.weightScore?.education?.accumulativeScore || 0 }}/{{ itemSelected.weightScore?.education?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                itemSelected.weightScore?.education?.accumulativeScore,
                itemSelected.weightScore?.education?.total)" status="info" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Hard Skill
      <span class="pull-right">
        {{ itemSelected.weightScore?.hardSkill?.accumulativeScore || 0 }}/{{ itemSelected.weightScore?.hardSkill?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                itemSelected.weightScore?.hardSkill?.accumulativeScore,
                itemSelected.weightScore?.hardSkill?.total)" status="success" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Soft Skill
      <span class="pull-right">
        {{ itemSelected.weightScore?.softSkill?.accumulativeScore || 0 }}/{{ itemSelected.weightScore?.softSkill?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                itemSelected.weightScore?.softSkill?.accumulativeScore,
                itemSelected.weightScore?.softSkill?.total)" status="warning" size="tiny">
    </nb-progress-bar>
  </div>
  <div>
    <div class="label">Certificate
      <span class="pull-right">
        {{ itemSelected.weightScore?.certificate?.accumulativeScore || 0 }}/{{ itemSelected.weightScore?.certificate?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                itemSelected.weightScore?.certificate?.accumulativeScore,
                itemSelected.weightScore?.certificate?.total)" status="danger" size="tiny">
    </nb-progress-bar>
  </div>
</ng-template>

<ng-template #expressScore>
  <div class="text-center m-b-10">
    <label class="label text-top text-black">Application Form Score</label>
  </div>
  <div *ngFor="let score of itemSelected.scores; let i = index;" class="m-b-10">
    <div class="label m-b-5">{{ score.title }}
      <span class="pull-right m-l-20">
        {{ score.submitScore || 0 }}/{{ score.maxScore || 0 }}
      </span>
    </div>
    <nb-progress-bar [status]="getProgressBarColor(i)" size="tiny"
      [value]="utilitiesService.calculatePercentage(score.submitScore,score.maxScore)">
    </nb-progress-bar>
  </div>
</ng-template>