.btn-date { 
    float: left;
    margin-left: 0px;
}
.icon-date {
    cursor: pointer;
    color: #35c4b2;
}
.btn-outline-upload{
    height: 40px;
    margin-top: -1px;
    color: var(--color-gray);
    background-color: transparent;
    background-image: none;
    border-color: #edf1f7
  }
  .btn-outline-upload:disabled{
    color: var(--color-light-gray);
    background-color: transparent;
    background-image: none;
    border-color: var(--color-light-gray);
    cursor: not-allowed;
  }
  .btn-date{ 
    margin-left: 0rem;
    background-color: #35c4b2;
    color: white;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 700;
    font-size: 14px;
  }