<div class="font-family">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top mt-md-4">
    <div class="container">
      <div class="navbar-brand d-flex align-items-center" href="">
        <img src="../../../assets/images/logo.png" class="d-inline-block align-middle" alt="Buddy Recruit Logo" />
        <strong class="pl-md-3 pl-2 d-none d-md-block"> Buddy Recruit</strong>
      </div>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active">
          <a class="nav-link btn btn-outline-primary px-3" href="auth/login" role="button">
            Log In
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div id="item-1" class="carousel-item active">
          <div class="carousel-caption text-left">
            <h1>
              Match : Get qualified candidates & Collaborate effectively
            </h1>
            <p class="lead">
              Lack of understanding between the recruiters and hiring manager
              ?
            </p>
            <!-- <a class="btn btn-primary btn-lg mb-5" href="#" role="button">
                Register for Buddy Recruit
              </a> -->
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div id="item-2" class="carousel-item">
          <div class="carousel-caption text-left">
            <h1>
              Organize : Easy Application Tracking & effective onboarding.
            </h1>
            <p class="lead">
              A modern , Intelligent & friendly applicant tracking system.
            </p>
            <!-- <a class="btn btn-primary btn-lg mb-5" href="#" role="button">
                Register for Buddy Recruit
              </a> -->
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div id="item-3" class="carousel-item">
          <div class="carousel-caption text-left">
            <h1>
              Big Data : The hardest part of recruitment is screening &
              evaluating candidate from a large application pool.
            </h1>
            <p class="lead">
              <i class="fas fa-long-arrow-alt-right pr-3"></i>Candidate
              screening is a BIG CHALLENGE.
            </p>
            <p class="lead">
              <i class="fas fa-long-arrow-alt-right pr-3"></i>Inability in
              using data effectively
            </p>
            <!-- <a class="btn btn-primary btn-lg mb-5" href="#" role="button"
                >Register for Buddy Recruit
              </a> -->
          </div>
        </div>
        <div id="item-4" class="carousel-item">
          <div class="carousel-caption text-left">
            <h1>
              Let " <strong style="font-weight: 600;">BUDDY RECRUIT</strong> "
              help you!
            </h1>
            <p class="lead">
              Your Buddy for Successful Recruitment
            </p>
            <!-- <a class="btn btn-primary btn-lg mb-5" href="#" role="button"
                >Register for Buddy Recruit
              </a> -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

</div>