<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label [nbTooltip]="candidateName">{{ candidateName }}</label>
      <small class="status text-gray m-0">
        {{ jrName }}
      </small>
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <div class="form-control-group">
      <label class="label">Sign Contract Date <span class="text-red">*</span></label>
      <nb-datepicker #datepicker format="dd/MM/yyyy"></nb-datepicker>
      <input [nbDatepicker]="datepicker" [(ngModel)]="signDate" nbInput placeholder="dd/mm/yyyy">
    </div>
    <div class="form-control-group">
      <label class="label">Sign Contract Time <span class="text-red">*</span></label>
      <ngb-timepicker [(ngModel)]="signTime" [minuteStep]="minuteStep" [spinners]="false" required=""></ngb-timepicker>
    </div>
    <div class="form-control-group">
      <label class="label">Agree Start Date</label>
      <nb-datepicker #datepicker2 format="dd/MM/yyyy"></nb-datepicker>
      <input [nbDatepicker]="datepicker2" [(ngModel)]="agreeDate" nbInput placeholder="dd/mm/yyyy">
    </div>
    <div class="form-control-group m-0">
      <label class="label">Note</label>
      <textarea nbInput fullWidth [(ngModel)]="note" placeholder="Note" rows="3"></textarea>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-collapse">
      <button nbButton status="default" (click)="ref.close(result)">CANCEL</button>
    </div>
    <button nbButton status="primary" (click)="save()" [disabled]="!signDate || !signTime">SAVE</button>
    <button nbButton status="success" (click)="sendEmail()" [disabled]="!signDate || !signTime">SEND
      EMAIL</button>
  </nb-card-footer>
</nb-card>