<div class="content-header with-shadow">
  <h3>Department <small class="text-cap">({{ state }})</small></h3>
</div>

<nb-card>
  <nb-card-header>
    Department Detail
    <div class="pull-right">
      <mat-checkbox [(ngModel)]="departmentDetail.active">Active</mat-checkbox>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Name <span class="text-red">*</span></label>
          <input type="text" [(ngModel)]="departmentDetail.name" nbInput fullWidth placeholder="Name"
            [ngClass]="{ 'status-danger': errMsg.name }">
          <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">Use Company Address</label>
          <nb-radio-group [(ngModel)]="departmentDetail.useCompanyAddress" name="useCompanyAddress" class="inline">
            <nb-radio name="useCompanyAddress" [value]="true">Yes</nb-radio>
            <nb-radio name="useCompanyAddress" [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="!departmentDetail.useCompanyAddress">
          <div *ngFor="let address of departmentDetail.addresses">
            <div class="form-control-group">
              <label class="label">Address <span class="text-red">*</span></label>
              <textarea rows="3" [(ngModel)]="address.address" nbInput fullWidth placeholder="Address"
                [ngClass]="{ 'status-danger': errMsg.address }"></textarea>
              <small *ngIf="errMsg.address" class="text-red">{{ errMsg.address }}</small>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-control-group">
                  <label class="label">Province <span class="text-red">*</span></label>
                  <input type="text" [(ngModel)]="address.province" nbInput fullWidth placeholder="Province"
                    [ngClass]="{ 'status-danger': errMsg.province }">
                  <small *ngIf="errMsg.province" class="text-red">{{ errMsg.province }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                  <label class="label">Postal code <span class="text-red">*</span></label>
                  <input type="number" [(ngModel)]="address.postalCode" nbInput fullWidth placeholder="Postal Code"
                    [ngClass]="{ 'status-danger': errMsg.postalCode }" max="99999"
                    onKeyPress="if(this.value.length==5) return false;" digitOnly >
                  <small *ngIf="errMsg.postalCode" class="text-red">{{ errMsg.postalCode }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Has Division</label>
          <nb-radio-group [(ngModel)]="departmentDetail.hasDivision" name="hasDivision" class="inline">
            <nb-radio name="hasDivision" [value]="true">Yes</nb-radio>
            <nb-radio name="hasDivision" [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <div *ngIf="departmentDetail.hasDivision">
          <label class="label">Division</label>
          <div class="division-bg">
            <nb-card *ngFor="let division of departmentDetail.divisions; let i = index">
              <nb-card-body>
                <div class="icon-close link" nbTooltip="Remove Division" (click)="removeDivision(i)">
                  <nb-icon icon="close-outline"></nb-icon>
                </div>
                <div class="form-control-group">
                  <label class="label">Name <span class="text-red">*</span></label>
                  <input type="text" [(ngModel)]="division.name" nbInput fullWidth placeholder="Name">
                </div>
                <div class="form-control-group m-0">
                  <label class="label">Use Department Address</label>
                  <nb-radio-group [(ngModel)]="division.useDepartmentAddress" [name]="'grp'+i" class="inline">
                    <nb-radio [name]="'grp'+i" [value]="true">Yes
                    </nb-radio>
                    <nb-radio [name]="'grp'+i" [value]="false" (click)="checkDivisionAddress(i)">No</nb-radio>
                  </nb-radio-group>
                </div>
                <div *ngIf="!division.useDepartmentAddress">
                  <div *ngFor="let address of division.addresses">
                    <div class="form-control-group">
                      <label class="label">Address <span class="text-red">*</span></label>
                      <textarea rows="3" [(ngModel)]="address.address" nbInput fullWidth
                        placeholder="Address"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label class="label">Province <span class="text-red">*</span></label>
                          <input type="text" [(ngModel)]="address.province" nbInput fullWidth placeholder="Province">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-control-group">
                          <label class="label">Postal code <span class="text-red">*</span></label>
                          <input type="text" [(ngModel)]="address.postalCode" nbInput fullWidth
                            placeholder="Postal Code" max="99999" onKeyPress="if(this.value.length==5) return false;" digitOnly >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
            <div class="text-center m-t-10">
              <button nbButton status="success" (click)="addDivision()" nbTooltip="Add More Division"
                [disabled]="!departmentDetail.hasDivision">
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="default" (click)="back()">Back</button>
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>