<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="pull-left">
      <label>Send us your feedback!</label>
      <small class="status m-0">Field: <span class="label text-green">{{ bugLabel || bugName }}</span></small>
    </div>
    <div class="actions">
      <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="TogglePage">
        <mat-button-toggle value="comment" matTooltip="Comment">
          <span class="fa fa-comment-dots"></span>
        </mat-button-toggle>
        <mat-button-toggle value="history" matTooltip="History">
          <span class="fa fa-history"></span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body" *ngIf="TogglePage === 'comment'">
    <nb-radio-group [(ngModel)]="feedbackType">
      <nb-radio value="missing">Missing data</nb-radio>
      <nb-radio value="wrong">Wrong data</nb-radio>
      <nb-radio value="other">Other</nb-radio>
    </nb-radio-group>
  </nb-card-body>
  <nb-card-body class="dialog-body" *ngIf="TogglePage === 'history'">
    <div>
      <h4 *ngIf="bugLists.length === 0" class="text-center" style="margin: 40px 0 20px;">
        No data
      </h4>
      <div class="post">
        <nb-card *ngFor="let bugList of bugLists"
          [accent]="bugList.createdInfo.refUser._id === this.role._id ? 'success' : 'default'">
          <nb-card-header>
            <div class="title">
              <nb-user size="medium" [name]="utilitiesService.setFullname(bugList.createdInfo.refUser)"
                [title]="utilitiesService.convertDateTime(bugList.createdInfo.date)"
                [picture]="bugList.createdInfo.refUser.imageData"></nb-user>
            </div>
            <div class="actions">
              <nb-icon *ngIf="bugList.createdInfo.refUser._id === userKey" icon="trash-2-outline" class="link text-red"
                nbTooltip="Delete" (click)="deleteBug(bugList)"></nb-icon>
            </div>
          </nb-card-header>
          <nb-card-body>
            <p style="padding-top: 10px;" class="comment-message"><span
                [ngClass]="{ 'text-green' : bugList.feedbackType==='Correct', 'text-red' : bugList.feedbackType!='Correct' }">{{ bugList.feedbackType }}</span>
              {{ bugList.remark || '' }}
            </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="TogglePage === 'comment'">
    <input class="pull-left" type="text" [(ngModel)]="bugComment" nbInput fullWidth placeholder="Message">
    <button nbButton status="success" (click)="postBug()">SEND</button>
  </nb-card-footer>
</nb-card>


<!-- 
<div mat-dialog-content>
  <div *ngIf="TogglePage === 'comment'" class="post">
    <mat-radio-group [(ngModel)]="feedbackType">
      <div class="row">
        <div class="col-sm-12 mg-b-10">
          <mat-radio-button value="missing">Missing data</mat-radio-button>
        </div>
        <div class="col-sm-12 mg-b-10">
          <mat-radio-button value="wrong">Wrong data</mat-radio-button>
        </div>
        <div class="col-sm-12">
          <mat-radio-button value="other">Other</mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
  </div>
  <div *ngIf="TogglePage === 'history'">
    <h4 *ngIf="bugLists.length === 0" class="text-center" style="margin: 40px 0 20px;">
      No data
    </h4>
    <div *ngFor="let bugList of bugLists; let i = index">
      <div *ngIf="i > 0" class="post" style="border-top: 1px solid #d2d6de;">
        <div class="user-block">
          <img class="img-circle" src="https://s3-ap-southeast-1.amazonaws.com/img-in-th/55613ac85c767ce0c72fc9825f111d0e.png" alt="user image">

          <span class="username">
            {{ utilitiesService.setFullname(bugList.createdInfo.refUser)  }}
            <button mat-mini-fab color="danger" class="pull-right" type="button" tabindex="-1"
              *ngIf="bugList.createdInfo.refUser._id === userKey" (click)="deleteBug(bugList)">
              <i class="fa fa-trash-alt"></i>
            </button>
          </span>
          <span class="description">{{ utilitiesService.convertDateTimeFromSystem(bugList.createdInfo.date) }}</span>
        </div>
        <p style="padding-top: 10px;" class="comment-message"><span
            [ngClass]="{ 'text-green' : bugList.feedbackType==='success', 'text-red' : bugList.feedbackType!='success' }">{{ bugList.feedbackType }}</span>
          {{ bugList.remark || '' }}</p>
      </div>
      <div *ngIf="i === 0" class="post">
        <div class="user-block">
          <img class="img-circle" src="https://s3-ap-southeast-1.amazonaws.com/img-in-th/55613ac85c767ce0c72fc9825f111d0e.png" alt="user image">

          <span class="username">
            {{ utilitiesService.setFullname(bugList.createdInfo.refUser)  }}
            <button mat-mini-fab color="danger" class="pull-right" type="button" tabindex="-1"
              *ngIf="bugList.createdInfo.refUser._id === userKey" (click)="deleteBug(bugList)">
              <i class="fa fa-trash-alt"></i>
            </button>
          </span>
          <span class="description">{{ utilitiesService.convertDateTimeFromSystem(bugList.createdInfo.date) }}</span>
        </div>
        <p style="padding-top: 10px;" class="comment-message"><span
            [ngClass]="{ 'text-green' : bugList.feedbackType==='success', 'text-red' : bugList.feedbackType!='success' }">{{ bugList.feedbackType }}</span>
          {{ bugList.remark || '' }}</p>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="with-border" *ngIf="TogglePage === 'comment'">
  <div class="row">
    <div class="col-sm-9 left">
      <textarea class="form-control comment" placeholder="Type a comment" [rows]="rows"
        [style.height.px]="textareaHeight" [(ngModel)]="bugComment" (keyup.enter)="onKeyup($event)"
        (input)="onKeyInput($event)" autofocus>
      </textarea>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button color="success" class="w-100 mg-0" (click)="postBug()" type="button">
        SEND
      </button>
    </div>
  </div>
</div> -->