.user-block {
    line-height: 20px;
  }
  .user-block img {
    width: 40px;
    height: 40px;
    float: left;
    border: 2px solid #d2d6de;
    padding: 2px;
    border-radius: 50%;
  }
  .user-block .username {
    display: block;
    margin-left: 50px;
  }
  .user-block .username small {
    color: #999;
    font-weight: 100;
  }
  .user-block .description {
    display: block;
    margin-left: 50px;
    color: #999;
    font-size: 13px;
  }