<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label [nbTooltip]="candidateName">{{ candidateName }}</label>
      <small class="status text-gray m-0">
        {{ jrName }}
      </small>
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <div class="form-control-group">
      <label class="label">Available Date <span class="text-red">*</span></label>
      <nb-datepicker #date format="dd/MM/yyyy"></nb-datepicker>
      <div class="input-group">
        <input [nbDatepicker]="date" [(ngModel)]="availableDate" nbInput fullWidth style="cursor: pointer;">
        <div class="input-group-addon" style="pointer-events: none;">
          <nb-icon icon="calendar-outline" class="text-green"></nb-icon>
        </div>
      </div>
    </div>
    <div class="form-control-group">
      <label class="label">After Sign Contract (Days) <span class="text-red">*</span></label>
      <input type="number" [(ngModel)]="afterSignContract" nbInput placeholder="0" pattern="[0-9]*" inputmode="numeric"
        digitOnly>
    </div>
    <div class="form-control-group m-0">
      <label class="label">Remark</label>
      <textarea nbInput fullWidth [(ngModel)]="remark" placeholder="Remark" rows="3"></textarea>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-collapse">
      <button nbButton status="default" (click)="ref.close(result)">CANCEL</button>
    </div>
    <button nbButton status="primary" (click)="save()"
      [disabled]="!canApprove && (!availableDate && !afterSignContract)">SAVE</button>
    <button *ngIf="canApprove" nbButton status="success" (click)="examTaken()"
      [disabled]="!availableDate && !afterSignContract">
      EXAM TAKEN
    </button>
  </nb-card-footer>
</nb-card>