.mat-icon {
  color: var(--color-gray);
}
.loading {
  height: 3rem;
}

nb-accordion {
  margin-bottom: 1.875rem;
}

.table-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #eee;
  font-size: 0.85rem;

  .table-control-name {
    font-weight: 600;
  }
  .table-control-actions {
    display: flex;

    .table-control-actions-item {
      width: 70px;
      text-align: center;
    }
    span {
      font-weight: 600;
    }
  }
}
.table-control.table-control-header {
  padding-left: 0;
  border: none;
}
.table-control:not(.table-control-header):last-child {
  margin-bottom: 1rem;
  border: none;
}

.console {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select-label {
    vertical-align: super;
    margin-left: 10px;
  }

  .text-right {
    .mat-icon {
      color: var(--color-gray);
    }
  }
}

.url-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

  input {
    cursor: text !important;
  }
  button {
    margin-left: 10px;
  }
}

.radio-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-form-field {
    width: 100%;
    margin-left: 10px;
  }
  // .showPhoto {
  //   display: none;
  // }
  .button-close {
    width: 50px;
  }
}
.radio-line:hover {
  .showPhoto {
    display: inline-block;
  }
}
.radio-line-add {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  span.link {
    color: #999;
  }
}

.add-question {
  text-align: center;

  button {
    width: auto;
    height: auto;
    line-height: 3rem;
    padding: 1rem;
  }
  .mat-icon {
    font-size: 3rem;
    height: auto;
    width: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.question-block {
  padding: 1rem;
  border: 1px dashed var(--color-light-gray);
  margin-bottom: 2rem;

  nb-card {
    position: relative;

    .icon-move {
      position: absolute;
      left: calc(50% - 15px);
      top: 0;
      opacity: 0;
      transform: rotate(90deg);
      cursor: move;

      .mat-icon {
        color: #999;
      }
    }
    nb-card-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: gray;

      .divider {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
    }

    .answer {
      margin: 0;
      box-shadow: none;
      border: 1px solid #edf1f7;
      border-top: none;
    }
    .image-preview {
      margin: 0.5rem 2rem 1rem;
      position: relative;
      display: inline-block;
      padding: 5px;
      border: 1px solid #eee;

      .icon-remove {
        position: absolute;
        top: -20px;
        right: -20px;
        background: #eee;
        border-radius: 50%;
      }
    }
    .score {
      margin: 0;
      box-shadow: none;
      border: 1px solid #edf1f7;
      border-top: none;

      .toggle {
        font-size: 1rem;
        font-weight: 500;
      }

      .score-body {
        padding: 1rem;
        border-radius: 5px;
        border-style: dashed;
        border-width: 1px;
        border-color: var(--color-light-gray);

        .score-scale-left {
          color: var(--color-gray);
          margin-left: 8px;
        }
        .score-scale-right {
          color: var(--color-gray);
          float: right;
          margin-right: 8px;
        }
        .h-36 {
          height: 36px;
        }
      }
    }
  }
  nb-card:hover .icon-move {
    opacity: 1;
  }

  .linear {
    display: flex;
    align-items: center;

    .linear-label {
      width: 2rem;
    }
    .linear-to {
      margin: 0 1.5rem;
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drop-list-dragging nb-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

#app-form {
  ::-webkit-scrollbar-thumb {
    background: red; 
}
}
// ::-webkit-scrollbar {
//   width: 1.25rem !important;
//   background-color: red !important;
//   padding-top:5rem !important;
// }
