.mat-icon {
  color: var(--color-gray);
}
.loading {
  height: 3rem;
}

.table-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;

  .table-control-name {
    font-weight: 500;
  }
  .table-control-actions {
    .table-control-actions-item {
      width: 70px;
      display: inline-block;
      text-align: center;
    }
    span {
      font-weight: 500;
    }
  }
}

.console {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .select-label {
    vertical-align: super;
    margin-left: 10px;
  }

  .text-right {
    .mat-icon {
      color: var(--color-gray);
    }
  }
}

.url-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

  input {
    cursor: text !important;
  }
  button {
    margin-left: 10px;
  }
}

.radio-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-form-field {
    width: 100%;
    margin-left: 10px;
  }
  // .showPhoto {
  //   display: none;
  // }
}
.radio-line:hover {
  .showPhoto {
    display: inline-block;
  }
}
.radio-line-add {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  span.link {
    color: #999;
  }
}

.add-question {
  text-align: center;

  button {
    width: auto;
    height: auto;
    line-height: 3rem;
    padding: 1rem;
  }
  .mat-icon {
    font-size: 3rem;
    height: auto;
    width: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

nb-card .icon-move {
  position: absolute;
  left: calc(50% - 15px);
  top: 0;
  opacity: 0;
  transform: rotate(90deg);
  cursor: pointer;

  .mat-icon {
    color: #999;
  }
}
nb-card:hover .icon-move {
  opacity: 1;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
