<!-- Comfirmation -->
<div id="comfirmation-popup" *ngIf="data.type === 'C'">
  <div mat-dialog-title>
    <span class="icon fa fa-question"></span>
    <div class="title">{{ data.title }}</div>
    <div *ngIf="data.content" class="message content-message">{{ data.content }}</div>
    <div *ngFor="let content of data.contents" class="message content-message">{{ content }}</div>
  </div>
  <div mat-dialog-content>
  </div>
  <div mat-dialog-actions align="end">
    <button nbButton status="default" tabindex="-1" [mat-dialog-close]="false">CANCEL</button>
    <button nbButton status="success" tabindex="-1" [mat-dialog-close]="true">{{ data.btnText.toUpperCase() }}</button>
  </div>
</div>

<!-- Success -->
<div id="success-popup" *ngIf="data.type === 'S'">
  <div mat-dialog-title>
    <div class="icon">
      <span class="fa fa-check"></span>
    </div>
  </div>
  <div mat-dialog-content class="m-0">
    <div *ngIf="data.content" class="message">{{ data.content }}</div>
    <div *ngFor="let content of data.contents" class="message">{{ content }}</div>
  </div>
  <div mat-dialog-actions align="center">
    <button nbButton status="success" tabindex="-1" [mat-dialog-close]="true">{{ data.btnText.toUpperCase() }}</button>
  </div>
</div>

<!-- Information -->
<div id="information-popup" *ngIf="data.type === 'I'">
  <div mat-dialog-title>
    <div class="icon">
      <span class="fa fa-exclamation"></span>
    </div>
  </div>
  <div mat-dialog-content class="m-0">
    <div *ngIf="data.content" class="message">{{ data.content }}<br>
      <span *ngIf="userEmail">
        <a href="http://m.me/LazadaExpress">กดเพื่อไปยัง
          Inbox ของ Lazada</a>
      </span></div>
    <div *ngFor="let content of data.contents" class="message">{{ content }}</div>
  </div>
  <div mat-dialog-actions align="center">
    <button nbButton status="success" tabindex="-1" [mat-dialog-close]="true">{{ data.btnText.toUpperCase() }}</button>
  </div>
</div>

<!-- Expect -->
<div [style.max-height.px]="innerHeight" id="expect-popup" *ngIf="data.type === 'E'">
  <div mat-dialog-title>
    <div class="icon">
      <span class="fa fa-exclamation"></span>
    </div>
  </div>
  <div mat-dialog-content class="m-0">
    <div *ngIf="data.content" class="message">{{ data.content }}</div>
    <ul>
      <li *ngFor="let content of data.contents" class="message" style="text-align: left;">
        {{ content }}
      </li>
    </ul>
  </div>
  <div mat-dialog-actions align="center">
    <button nbButton status="primary" tabindex="-1" style="padding-left: 2.75rem;padding-right: 2.75rem;"
      [mat-dialog-close]="false">{{ data.btnText.toUpperCase() }}</button>
    <button nbButton status="basic" tabindex="-1" [mat-dialog-close]="true">{{ data.btnText2.toUpperCase() }}</button>
  </div>
</div>

<!-- Warning -->
<div id="warning-popup" *ngIf="data.type === 'W'">
  <div mat-dialog-title>
    <div class="icon">
      <span class="fa fa-exclamation"></span>
    </div>
  </div>
  <div mat-dialog-content class="m-0">
    <div *ngIf="data.content" class="message">{{ data.content }}</div>
    <div *ngFor="let content of data.contents" class="message">{{ content }}</div>
  </div>
  <div mat-dialog-actions align="end">
    <button *ngIf="!userEmail" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="info" tabindex="-1"
      style="float: left;" mat-dialog-close="edit">EDIT</button>
    <button nbButton status="default" [size]="(devices.isMobile)? 'tiny' : 'medium'" tabindex="-1"
      [mat-dialog-close]="false">CANCEL</button>
    <button nbButton status="success" [size]="(devices.isMobile)? 'tiny' : 'medium'" tabindex="-1"
      [mat-dialog-close]="true">{{ data.btnText.toUpperCase() }}</button>
  </div>
</div>

<!-- Delete -->
<div id="delete-popup" *ngIf="data.type === 'D'">
  <div mat-dialog-title>
    <span class="icon fa fa-trash text-danger"></span>
    <div class="title text-danger">{{ data.title }}</div>
    <div class="message text-gray">{{ data.content }}</div>
  </div>
  <div mat-dialog-content>

  </div>
  <div mat-dialog-actions align="end">
    <button nbButton status="default" [mat-dialog-close]="false">CANCEL</button>
    <button nbButton status="danger" [mat-dialog-close]="true">DELETE</button>
  </div>
</div>