/* -------------------------------------------------------------------- */
/* DIALOG */

.mat-dialog-container {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.mat-dialog-title {
  margin-bottom: 20px;
}
.mat-dialog-actions {
  border-top: 1px solid #ffffff;
  margin-bottom: -12px;
}
.mat-dialog-actions button {
  margin-left: 10px;
}
.content-message {
  white-space: pre-wrap;
}

/* -------------------------------------------------------------------- */
/* CONFIRMATION POPUP */

#comfirmation-popup .icon {
  font-size: 58px;
  float: left;
  color: var(--color-orange);
}
#comfirmation-popup .title {
  margin-left: 55px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--color-orange);
}
#comfirmation-popup .message {
  margin-left: 58px;
  font-size: 14px;
  color: var(--color-gray);
}

/* -------------------------------------------------------------------- */
/* INFORMATION POPUP */

#information-popup {
  text-align: center;
}
#information-popup .icon {
  height: 48px;
  width: 48px;
  margin: auto;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-orange);
}
#information-popup .icon span {
  font-size: 32px;
  margin: 8px;
}
#information-popup .message {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-gray);
}

/* -------------------------------------------------------------------- */
/* WARNING POPUP */

#warning-popup {
  text-align: center;
}
#warning-popup .icon {
  height: 48px;
  width: 48px;
  margin: auto;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-orange);
}
#warning-popup .icon span {
  font-size: 32px;
  margin: 8px;
}
#warning-popup .message {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-gray);
  text-align: left;
}

/* -------------------------------------------------------------------- */
/* SUCCESS POPUP */

#success-popup {
  text-align: center;
}
#success-popup .icon {
  height: 48px;
  width: 48px;
  margin: auto;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-green);
}
#success-popup .icon span {
  font-size: 32px;
  margin: 8px;
}
#success-popup .message {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-gray);
}

/* -------------------------------------------------------------------- */
/* DELETE POPUP */

#delete-popup .icon {
  font-size: 58px;
  float: left;
}
#delete-popup .title {
  margin-left: 60px;
  font-size: 24px;
  font-weight: 800;
}
#delete-popup .message {
  margin-left: 62px;
  font-size: 14px;
}
