<nb-card [style.max-height.px]="innerHeight" [style.width.px]="innerWidth" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label [nbTooltip]="candidateName">Available Date</label>
      <!-- <small class="status text-gray m-0"></small> -->
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-control-group">
      <label class="label">Date
        <small class="text-gray">(click for change date)</small>
      </label>
      <nb-datepicker #datepicker format="dd/MM/yyyy" (dateChange)="changeDate($event)"></nb-datepicker>
      <div class="input-group">
        <input [nbDatepicker]="datepicker" [(ngModel)]="date" nbInput fullWidth style="cursor: pointer;">
        <div class="input-group-addon" style="pointer-events: none;">
          <nb-icon icon="calendar-outline"></nb-icon>
        </div>
      </div>
    </div>
    <label class="label">Time</label>
    <div *ngIf="!devices.isMobile">
      <div *ngFor="let period of periods; let i = index" class="form-control-group text-center">
        <ngb-timepicker [(ngModel)]="period.startTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
          [disabled]="disabled">
        </ngb-timepicker>
        <span class="label m-l-10 m-r-10">To</span>
        <ngb-timepicker [(ngModel)]="period.endTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
          [disabled]="disabled">
        </ngb-timepicker>
        <nb-icon *ngIf="!disabled" icon="minus-square-outline" class="link text-red m-l-5" (click)="removePeriod(i)">
        </nb-icon>
      </div>
    </div>
    <div *ngIf="devices.isMobile">
      <nb-card *ngFor="let period of periods; let i = index">
        <nb-card-body>
          <nb-icon *ngIf="!disabled" style="float: right;" icon="minus-square-outline" class="link text-red m-l-5"
            (click)="removePeriod(i)">
          </nb-icon><br>
          <div class="form-control-group text-center">
            <ngb-timepicker [(ngModel)]="period.startTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
              [disabled]="disabled">
            </ngb-timepicker>
            <br>
            <span class="label m-l-10 m-r-10">To</span>
            <br>
            <ngb-timepicker [(ngModel)]="period.endTime" [minuteStep]="minuteStep" [spinners]="false" class="inline"
              [disabled]="disabled">
            </ngb-timepicker>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div *ngIf="periods.length < 5 && !disabled" class="text-center">
      <button nbButton status="success" size="tiny" (click)="addPeriod()">
        <nb-icon icon="plus-outline" nbTooltip="Add Available Time"></nb-icon>
      </button>
    </div>
    <div class="m-t-20">
      <small *ngIf="errMsg" class="text-red">
        * {{ errMsg }}
      </small>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="default" (click)="ref.close(result)">Cancel</button>
    <button *ngIf="!disabled" nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>