<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
    nbSpinnerMessage="Loading...">
    <nb-card-body></nb-card-body>
</nb-card>
<div *ngIf="!loading">
    <nb-card *ngIf="!done && !checkStart">
        <nb-card-header>
            <h5 class="text-center text-green">Exam Online</h5>
            <h4 class="text-black"><b>{{ examName || '' }}</b></h4>
        </nb-card-header>
        <nb-card-body id="preview">
            <div class="row" *ngFor="let topic of topicOption;let i = index;">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <h3 class="text-black"> {{ topic.name }}</h3>
                    </div>
                    <div *ngIf="topic.examOptions">
                        <div *ngFor="let option of topic.examOptions;let j = index;">
                            <img *ngIf="option.src" class="img-default" [src]="option.src"><br *ngIf="option.src">
                            <label *ngIf="option.type === 'label'"> {{ option.value }} </label>
                            <input *ngIf="option.type === 'input'" type="text" [(ngModel)]="option.value" nbInput
                                fullWidth placeholder="answer here" [disabled]="actionView">
                            <textarea *ngIf="option.type === 'area'" [(ngModel)]="option.value" nbInput fullWidth
                                placeholder="Answer here" [disabled]="actionView"></textarea>
                            <!-- radio -->
                            <div *ngIf="option.type === 'radio'">
                                <nb-radio-group [name]="option._id" [(ngModel)]="option.value" [disabled]="actionView">
                                    <nb-radio *ngFor="let group of option.group" [value]="group.value">
                                        <img *ngIf="group.src" class="img-incard" (click)="open(content,group.src)"
                                            [src]="group.src ? group.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                        {{ group.label }}
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                            <div class="row" *ngIf="option.type === 'file'" style="text-align:center">
                                <div class="col-md-12 col-lg-12">
                                    <img class="img-default" (click)="open(content,option.src)"
                                        [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="option.type === 'getFile'" style="text-align: center">
                                <div *ngIf="!actionView">
                                    <small class="text-gray">
                                        <a style="cursor: pointer;" (click)="fileInput.click()">
                                            <span class="fa fa-images"></span>
                                            <input #fileInput type="file"
                                                (change)="fileChangeEvent(option,$event.target.files)"
                                                style="display:none;" accept="image/*" />
                                            <span class="m-l-5">Upload Your File</span>
                                        </a>
                                        <span *ngIf="fileText" class="m-l-5"> {{ fileText }} </span>
                                    </small>
                                </div>
                                <div *ngIf="actionView">
                                    <img class="img-default" (click)="open(content,option.src)"
                                        [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer *ngIf="!actionView">
            <button nbButton size="small" status="success" (click)="save()">SEND</button>
            <div [ngClass]="{  'time': TotalTime > 30, 'time-out': TotalTime < 31 }" *ngIf="timeCount">
                <label>{{ miN }} นาที {{ seC }} วินาที</label>
            </div>
            <!-- <countdown-timer class="time" (zeroTrigger)="handleEvent()" [end]="30"></countdown-timer> -->
            <!-- <countdown *ngIf="timeCount"
                [ngClass]="{  'time': countConfig.leftTime > 30, 'time-out': countConfig.leftTime < 31 }" #countdown
                [config]="countConfig" (event)="handleEvent($event)">
                $!m!:$!s!
            </countdown> -->
        </nb-card-footer>
    </nb-card>
    <!-- Before Start -->
    <div id="start" style="padding: 8%;" *ngIf="checkStart" [style.height.px]="innerHeight">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <label>ข้อสอบนี้เป็นแบบทดสอบเพื่อคัดเลือกบุคคลเข้าทำงานกับ
                            บริษัท ไซเจ็น จำกัด ห้ามผู้ใดทำซ้ำ คัดลอก ลอกเลียน ดัดแปลง ปลอมแปลง จัดเผยแพร่ เข้าครอบครอง
                            เรียกดึงข้อมูล บันทึก ส่งผ่าน หรือกระทำการใดๆ
                            เกี่ยวกับข้อมูลในชุดข้อสอบนี้ โดยไม่ได้รับอนุญาตอย่างเป็นทางการจากบริษัทฯ
                            หรือโดยก่อให้เกิดความเสียหาย อันเป็นการกระทำความผิด
                            ตามพระราชบัญญัติทรัพย์สินทางปัญญาฯและกฎหมายอื่นที่เกี่ยวข้อง
                            บริษัทฯ สงวนสิทธิในการยับยั้งการกระทำนั้นในทันที
                            และจะดำเนินการทางกฎหมายต่อผู้กระทำละเมิดอย่างเด็ดขาดโดยไม่มีข้อยกเว้น </label>
                        <br>
                        <b>คำแนะนำในการทำข้อสอบออนไลน์ </b>
                        <br>
                        <label>1. ให้ผู้สอบทำข้อสอบด้วยความสามารถของตนเอง หากข้อสอบข้อใดไม่ชัดเจน
                            ให้ผู้สอบทำข้อสอบโดยเขียนสมมุติฐานประกอบไว้ในคำตอบ </label><br>
                        <label>2. ไม่อนุญาตให้ผู้เข้าสอบใช้เครื่องคิดเลขในการคำนวณ </label><br>
                        <label>3. หลังจากกด Start ข้อสอบจะจับเวลาทันที และไม่สามารถกดหยุดเวลาได้
                            ให้ผู้สอบเตรียมตัวให้พร้อมก่อนกด Start </label><br>
                        <label>4. ไม่อนุญาตให้ผู้เข้าสอบปิด Browser ระหว่างการทำข้อสอบ
                            จะทำให้ข้อสอบนั้นๆสูญหายและไม่ได้คะแนน ในกรณีที่หมดเวลาสอบ ระบบจะ submit คำตอบอัตโนมัติ
                        </label><br>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button class="btn-start" nbButton size="giant" status="success" (click)="start()">Start</button>
            </nb-card-footer>
        </nb-card>
        <!-- <div class="btn-start">
         
        </div> -->
    </div>

    <!-- Thank you for your information  External-->
    <div *ngIf="actionView === false && done" class="thankExam" [style.height.px]="innerHeight">
        <div class="thankExam-wrapper">
            <h2>You successfully created your answer</h2>
            <!-- <br>
            <br>
            <p>We have received your information and would like to thank you for writing to us.</p>
            <p>If your inquiry is urgent,</p>
            <p>please use the email listed below to talk to one of our staff members.</p>
            <p>Otherwise, we will reply by email as soon as possible.</p>
            <br>
            <br>
            <h5>Talk to you soon,</h5>
            <br>
            <h5>hr@zygencenter.com</h5>
            <h5><b>ZyGen Company Limited</b></h5> -->
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="getOptionImg ? getOptionImg : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
</ng-template>