#preview{
    line-height: 2.75rem;
  }
h2{
    position: absolute;
    top: 45%;
}
.img-incard{
  width: 150px;
  height: 150px;
}
img{
  cursor: pointer;
}
::ng-deep .modal-dialog {
  max-width: fit-content;
}
.img-default {
  padding: 3px;
  border: none;
  position: relative;
  margin: 10px auto 10px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  
}
  /* Thank you for your information */
  .thankExam {
    height: 100%;
  }
  .thankExam-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 8%;
    text-align: center;
  }
  .time{
    position: fixed;
    top: 10px;
    right: 17px;
    z-index: 1030;
    font-size: 1.75rem;
  }
  .time-out{
    position: fixed;
    top: 10px;
    right: 17px;
    z-index: 1030;
    font-size: 1.75rem; 
    color:red;
  }
  .btn-start{
    position: relative;
    text-align: center;
    top: 50%;
  }

  #start{
    label{
      line-height: 3rem;
      font-size: 1.35rem;
    }
    b{
      font-size: 2rem;
    line-height: 5rem;
    }
  }
  .box-dashed {
    padding: 1rem;
    border-radius: 5px;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--color-light-gray);
  }
  .upload-file {
    text-align: center;
    margin-top: 20px;
  
    .file-preview {
      color: gray;
  
      .mat-icon {
        vertical-align: middle;
        margin-right: 5px;
      }
      .delete {
        margin-left: 10px;
        font-size: 1rem;
        vertical-align: middle;
        width: auto;
        height: auto;
        cursor: pointer;
      }
      span {
        vertical-align: middle;
      }
    }
  }