.card {
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-header {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  background: var(--color-green);
  color: var(--color-white);
}
.card-header.with-border {
  border-bottom: 1px solid var(--color-light-gray);
}
.card-content {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.inInput{
  height: 40px;
  width: -webkit-fill-available;
}
.logo-img{
  .image-preview {
    position: relative;
    display: inline-block;

    .icon-remove {
      position: absolute;
      top: -15px;
      right: -10px;
      width: 30px;
      height: 30px;
      background: #eee;
      border-radius: 50%;
      .img-logo{
        top: -5px !important;
        position: relative !important;
        right: 5px !important;
        font-size: 1rem !important;
      }
    }
  }
}