<div class="content-header with-shadow">
  <h3>Company <small class="text-cap">({{ state }})</small></h3>
</div>

<nb-card *ngIf="role.refHero.isSuperAdmin" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-header>
    Select User Role
  </nb-card-header>
  <nb-card-body>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="roleSelected">
      <div class="row">
        <!-- HR only -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'1'">HR only</mat-radio-button>
              <div class="text-gray m-t-10">
                HR only
              </div>
            </div>
          </div>
        </div>
        <!-- HR + MNG -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user-friends"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'2'">HR + MNG</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Manager
              </div>
            </div>
          </div>
        </div>
        <!-- HR + PY -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user-friends"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'3'">HR + PY</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Payroll
              </div>
            </div>
          </div>
        </div>
        <!-- ALL -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-users"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'4'">ALL</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Manager + Payroll
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-radio-group>
    <mat-checkbox *ngIf="roleSelected === '2'" [(ngModel)]="companyDetail.startByHR">Start flow from HR
    </mat-checkbox>
  </nb-card-body>
</nb-card>

<nb-card [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    Company Detail
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="role.refHero.isSuperAdmin" class="row">
      <div class="col-md-6">
        <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.refCompanyType }">
          <label class="label">Company Type <span class="text-red">*</span></label>
          <nb-select [(ngModel)]="companyDetail.refCompanyType" fullWidth>
            <nb-option *ngFor="let typeOption of typeOptions" [value]="typeOption.value">{{ typeOption.label }}
            </nb-option>
          </nb-select>
          <small *ngIf="errMsg.refCompanyType" class="text-red">{{ errMsg.refCompanyType }}</small>
        </div>
        <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.name }">
          <label class="label">Name <span class="text-red">*</span></label>
          <input type="text" [(ngModel)]="companyDetail.name" nbInput fullWidth>
          <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
        </div>
        <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.startDate }">
          <label class="label">Start Date <span class="text-red">*</span></label>
          <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
          <div class="input-group">
            <input [nbDatepicker]="startDate" [(ngModel)]="companyDetail.startDate" nbInput fullWidth
              style="cursor: pointer;">
            <div class="input-group-addon" style="pointer-events: none;">
              <nb-icon icon="calendar-outline"></nb-icon>
            </div>
            <small *ngIf="errMsg.startDate" class="text-red">{{ errMsg.startDate }}</small>
          </div>
        </div>
        <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.expiryDate }">
          <label class="label">Expiry Date <span class="text-red">*</span></label>
          <nb-datepicker #expiryDate format="dd/MM/yyyy"></nb-datepicker>
          <div class="input-group">
            <input [nbDatepicker]="expiryDate" [(ngModel)]="companyDetail.expiryDate" nbInput fullWidth
              style="cursor: pointer;">
            <div class="input-group-addon" style="pointer-events: none;">
              <nb-icon icon="calendar-outline"></nb-icon>
            </div>
            <small *ngIf="errMsg.expiryDate" class="text-red">{{ errMsg.expiryDate }}</small>
          </div>
        </div>
        <div class="form-control-group">
          <label class="label">Company Size </label>
          <input type="number" [(ngModel)]="companyDetail.companySize" nbInput>
        </div>
        <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.adminEmail }">
          <label class="label">Admin Username / Email <span class="text-red">*</span></label>
          <nb-select *ngIf="state != 'create'" [(ngModel)]="companyDetail.adminEmail"
            [ngModelOptions]="{ standalone: true }" fullWidth>
            <nb-option *ngFor="let ad of bigAdmin" [value]="ad.value">
              {{ ad.label }}
            </nb-option>
          </nb-select>
          <input *ngIf="state === 'create'" type="text" [(ngModel)]="companyDetail.adminEmail" nbInput fullWidth
            [disabled]="!editabled">
          <small *ngIf="errMsg.adminEmail" class="text-red">{{ errMsg.adminEmail }}</small>
        </div>
        <!-- <div class="form-control-group" [ngClass]="{ 'has-error': touched }">
          <label class="label" for="name">Admin Username / Email <span class="text-red">*</span></label>
          <nb-select [(ngModel)]="companyDetail.adminEmail" [ngModelOptions]="{ standalone: true }" fullWidth>
            <nb-option *ngFor="let ad of bigAdmin" [value]="ad.value">
              {{ ad.label }}
            </nb-option>
          </nb-select>
        </div> -->
        <div *ngIf="state === 'create'" class="form-control-group">
          <label class="label">Admin Password <small>(Initial Password)</small></label>
          <input type="text" [(ngModel)]="companyDetail.adminPassword" nbInput fullWidth>
        </div>
        <div *ngFor="let address of companyDetail.addresses">
          <div class="form-control-group m-b-10">
            <label class="label">Address</label>
            <textarea type="text" nbInput fullWidth placeholder="Address" [(ngModel)]="address.address"></textarea>
          </div>
          <div class="form-control-group">
            <label class="label">Province</label>
            <input type="text" [(ngModel)]="address.province" nbInput fullWidth>
          </div>
          <div class="form-control-group">
            <label class="label">Postal code</label>
            <input type="text" [(ngModel)]="address.postalCode" pattern="[0-9]*" inputmode="numeric" digitOnly nbInput>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Enable JobsDB</label>
          <nb-radio-group [(ngModel)]="companyDetail.activeJobsDB" name="activeJobsDB" class="inline">
            <nb-radio name="activeJobsDB" [value]="true">Yes</nb-radio>
            <nb-radio name="activeJobsDB" [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <!-- <div class="form-control-group">
          <label class="label">Enable Pending Exam</label>
          <nb-radio-group [(ngModel)]="companyDetail.activeExam" name="activeExam" class="inline">
            <nb-radio [value]="true">Yes</nb-radio>
            <nb-radio [value]="false">No</nb-radio>
          </nb-radio-group>
        </div> -->
        <div class="form-control-group">
          <label class="label">Transfer Agreement</label>
          <nb-radio-group [(ngModel)]="companyDetail.transferable" name="transferable" class="inline">
            <nb-radio [value]="true">Yes</nb-radio>
            <nb-radio [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <div>
          <div class="form-control-group">
            <label class="label">Is Subsidiary Company</label>
            <nb-radio-group [(ngModel)]="companyDetail.isSubCompany" name="isSubCompany" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div *ngIf="companyDetail.isSubCompany" class="form-control-group">
            <label class="label">Parent Company <span *ngIf="companyDetail.isSubCompany"
                class="text-red">*</span></label>
            <nb-select [(ngModel)]="companyDetail.refParent" fullWidth [disabled]="!companyDetail.isSubCompany">
              <nb-option [disabled]="!companyDetail.isSubCompany" *ngFor="let companyOption of companyOptions"
                [value]="companyOption.value">
                {{ companyOption.label }}
              </nb-option>
            </nb-select>
            <small *ngIf="errMsg.refParent" class="text-red">{{ errMsg.refParent }}</small>
          </div>
          <hr>
          <div class="form-control-group">
            <label class="label">Trial version</label>
            <nb-radio-group [(ngModel)]="companyDetail.isTrial" name="isTrial" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-control-group">
            <label class="label">Express version</label>
            <nb-radio-group [(ngModel)]="companyDetail.isExpress" name="isExpress" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div *ngIf="!companyDetail.isSubCompany">
            <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.maxJR }">
              <label class="label">Number of JR <span class="text-red">*</span></label>
              <input type="number" [(ngModel)]="companyDetail.maxJR" nbInput>
              <div>
                <small *ngIf="errMsg.maxJR" class="text-red">{{ errMsg.maxJR }}</small>
              </div>
            </div>
            <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.maxUser }">
              <label class="label">Number of User <span class="text-red">*</span></label>
              <input type="number" [(ngModel)]="companyDetail.maxUser" nbInput>
              <div>
                <small *ngIf="errMsg.maxUser" class="text-red">{{ errMsg.maxUser }}</small>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-control-group">
            <label class="label">Use Line Bot</label>
            <nb-radio-group [(ngModel)]="companyDetail.lineInfo.active" name="lineBot" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-control-group">
            <label class="label">Enable Consent</label>
            <nb-radio-group [(ngModel)]="companyDetail.consentFlag" name="consent" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div *ngIf="companyDetail.lineInfo.active">
            <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.lineInfo }">
              <label class="label">Line ID. *</label>
              <input type="text" [(ngModel)]="companyDetail.lineInfo.lineId" nbInput fullWidth>
            </div>
            <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.lineInfo }">
              <label class="label">Line QR Code url * <small>(https://line-qrcode.png)</small> </label>
              <input type="text" [(ngModel)]="companyDetail.lineInfo.imageUrl" nbInput fullWidth>
              <div>
                <small *ngIf="errMsg.lineInfo" class="text-red">{{ errMsg.lineInfo }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!role.refHero.isSuperAdmin">
      <div class="row">
        <div class="col-md-12">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.name }">
            <label class="label">Name <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.name" nbInput fullWidth>
            <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Start Date</label>
            <input [value]="utilitiesService.convertDate(companyDetail.startDate)" nbInput fullWidth disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Expiry Date</label>
            <input [value]="utilitiesService.convertDate(companyDetail.expiryDate)" nbInput fullWidth disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.smtpHost }">
            <label class="label">SMTP Host <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.smtpHost" nbInput fullWidth>
            <small *ngIf="errMsg.smtpHost" class="text-red">{{ errMsg.smtpHost }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.smtpPort }">
            <label class="label">SMTP Port <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.smtpPort" nbInput fullWidth>
            <small *ngIf="errMsg.smtpPort" class="text-red">{{ errMsg.smtpPort }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.imapHost }">
            <label class="label">IMAP Host <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.imapHost" nbInput fullWidth>
            <small *ngIf="errMsg.imapHost" class="text-red">{{ errMsg.imapHost }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.imapPort }">
            <label class="label">IMAP Port <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.imapPort" nbInput fullWidth>
            <small *ngIf="errMsg.imapPort" class="text-red">{{ errMsg.imapPort }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.intEmailUser }">
            <label class="label">Internal Email <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.intEmailUser" nbInput fullWidth>
            <small *ngIf="errMsg.intEmailUser" class="text-red">{{ errMsg.intEmailUser }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.intEmailPass }">
            <label class="label">Internal Password <span class="text-red">*</span></label>
            <div class="input-group">
              <input type="{{ showPassword1 ? 'text' : 'password' }}" [(ngModel)]="companyDetail.intEmailPass" nbInput
                fullWidth autocomplete="off" [ngClass]="{ 'status-danger': errMsg.intEmailPass }">
              <div class="input-group-addon">
                <nb-icon icon="{{ showPassword1 ? 'eye-off-outline' : 'eye-outline' }}"
                  (click)="showPassword1=!showPassword1">
                </nb-icon>
              </div>
            </div>
            <small *ngIf="errMsg.intEmailPass" class="text-red">{{ errMsg.intEmailPass }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.extEmailUser }">
            <label class="label">External Email <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.extEmailUser" nbInput fullWidth>
            <small *ngIf="errMsg.extEmailUser" class="text-red">{{ errMsg.extEmailUser }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.extEmailPass }">
            <label class="label">External Password <span class="text-red">*</span></label>
            <div class="input-group">
              <input type="{{ showPassword2 ? 'text' : 'password' }}" [(ngModel)]="companyDetail.extEmailPass" nbInput
                fullWidth autocomplete="off" [ngClass]="{ 'status-danger': errMsg.extEmailPass }">
              <div class="input-group-addon">
                <nb-icon icon="{{ showPassword2 ? 'eye-off-outline' : 'eye-outline' }}"
                  (click)="showPassword2=!showPassword2">
                </nb-icon>
              </div>
            </div>
            <small *ngIf="errMsg.extEmailPass" class="text-red">{{ errMsg.extEmailPass }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.incomingEmailUser }">
            <label class="label">Incoming Email User <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.incomingEmailUser" nbInput fullWidth>
            <small *ngIf="errMsg.incomingEmailUser" class="text-red">
              {{ errMsg.incomingEmailUser }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.incomingEmailPass }">
            <label class="label">Incoming Email Password <span class="text-red">*</span></label>
            <div class="input-group">
              <input type="{{ showPassword3 ? 'text' : 'password' }}" [(ngModel)]="companyDetail.incomingEmailPass"
                nbInput fullWidth autocomplete="off" [ngClass]="{ 'status-danger': errMsg.incomingEmailPass }">
              <div class="input-group-addon">
                <nb-icon icon="{{ showPassword3 ? 'eye-off-outline' : 'eye-outline' }}"
                  (click)="showPassword3 = !showPassword3">
                </nb-icon>
              </div>
            </div>
            <small *ngIf="errMsg.incomingEmailPass" class="text-red">{{ errMsg.incomingEmailPass }}</small>
          </div>
        </div>
      </div>
      <div *ngFor="let address of companyDetail.addresses" class="row">
        <div class="col-md-12">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.address }">
            <label class="label">Address <span class="text-red">*</span></label>
            <textarea type="text" nbInput fullWidth placeholder="Address" [(ngModel)]="address.address"></textarea>
            <small *ngIf="errMsg.address" class="text-red">{{ errMsg.address }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.province }">
            <label class="label">Province <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="address.province" nbInput fullWidth>
            <small *ngIf="errMsg.province" class="text-red">{{ errMsg.province }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'has-error': errMsg.postalCode }">
            <label class="label">Postal code <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="address.postalCode" pattern="[0-9]*" inputmode="numeric" digitOnly nbInput>
            <div>
              <small *ngIf="errMsg.postalCode" class="text-red">{{ errMsg.postalCode }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="role.refHero.isAdmin">
        <div class="col-md-6">
          <div class="form-control-group" [ngClass]="{ 'select-red': errMsg.adminEmail }">
            <label class="label" for="name">Admin Company <span class="text-red">*</span>
            </label>
            <mat-form-field [color]="primary" appearance="outline">
              <mat-select [(ngModel)]="companyDetail.adminEmail">
                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'" [array]="bigAdmin"
                  (filteredReturn)="filteredList5 =$event"></mat-select-filter>
                <mat-option *ngFor="let item of filteredList5" [value]="item.value">
                  {{item.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="errMsg.adminEmail" class="text-red">{{ errMsg.adminEmail }}</small>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="role.refHero.isAdmin">
        <div class="col-md-6">
          <label style="font-weight: bold;">Consent Settings</label><br>
          <div class="form-control-group">
            <label class="label">Waiting Period</label>
            <input type="text" [(ngModel)]="companyDetail.waitingPeriod" pattern="[0-9]*" inputmode="numeric" digitOnly
              onKeyPress="if(this.value.length==3) return false;" nbInput>
          </div>
          <!-- <div>
            <small *ngIf="errMsg.waitinPeriod" class="text-red">{{ errMsg.waitinPeriod }}</small>
          </div> -->
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="default" (click)="back()">Cancel</button>
    <button nbButton status="success" (click)="save()" [nbSpinner]="buttonLoading" nbSpinnerStatus="success"
      nbSpinnerSize="tiny" [disabled]="buttonLoading">Save</button>
  </nb-card-footer>
</nb-card>