<div class="content-header with-shadow">
  <h3>Company <small class="text-cap">({{ state }})</small></h3>
</div>

<nb-card *ngIf="role.refHero.isSuperAdmin">
  <nb-card-header>
    Select User Role
  </nb-card-header>
  <nb-card-body>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="roleSelected">
      <div class="row">
        <!-- HR only -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'1'">HR only</mat-radio-button>
              <div class="text-gray m-t-10">
                HR only
              </div>
            </div>
          </div>
        </div>
        <!-- HR + MNG -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user-friends"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'2'">HR + MNG</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Manager
              </div>
            </div>
          </div>
        </div>
        <!-- HR + PY -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-user-friends"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'3'">HR + PY</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Payroll
              </div>
            </div>
          </div>
        </div>
        <!-- ALL -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="card-header with-border">
              <span class="fa fa-users"></span>
            </div>
            <div class="card-content">
              <mat-radio-button [value]="'4'">ALL</mat-radio-button>
              <div class="text-gray m-t-10">
                HR + Manager + Payroll
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-radio-group>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Company Detail
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="role.refHero.isSuperAdmin" class="row">
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Company Type <span class="text-red">*</span></label>
          <nb-select placeholder="Select Company Type" [(ngModel)]="companyDetail.refCompanyType" fullWidth>
            <nb-option *ngFor="let typeOption of typeOptions" [value]="typeOption.value">{{ typeOption.label }}
            </nb-option>
          </nb-select>
          <small *ngIf="errMsg.refCompanyType" class="text-red">{{ errMsg.refCompanyType }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">Name <span class="text-red">*</span></label>
          <input type="text" [(ngModel)]="companyDetail.name" nbInput fullWidth placeholder="Name">
          <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">Start Date <span class="text-red">*</span></label>
          <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
          <input [nbDatepicker]="startDate" [(ngModel)]="companyDetail.startDate" nbInput fullWidth
            placeholder="dd/mm/yyyy">
          <small *ngIf="errMsg.startDate" class="text-red">{{ errMsg.startDate }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">Expiry Date <span class="text-red">*</span></label>
          <nb-datepicker #expiryDate format="dd/MM/yyyy"></nb-datepicker>
          <input [nbDatepicker]="expiryDate" [(ngModel)]="companyDetail.expiryDate" nbInput fullWidth
            placeholder="dd/mm/yyyy">
          <small *ngIf="errMsg.expiryDate" class="text-red">{{ errMsg.expiryDate }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">Company Size </label>
          <input type="number" [(ngModel)]="companyDetail.companySize" nbInput fullWidth placeholder="Company Size">
        </div>
        <div class="form-control-group">
          <label class="label">Admin Username / Email <span class="text-red">*</span></label>
          <input type="text" [(ngModel)]="companyDetail.adminEmail" nbInput fullWidth placeholder="Useraname / Email">
          <small *ngIf="errMsg.adminEmail" class="text-red">{{ errMsg.adminEmail }}</small>
        </div>
        <div *ngIf="state === 'create'" class="form-control-group">
          <label class="label">Admin Password <small>(Initial Password)</small></label>
          <input type="text" [(ngModel)]="companyDetail.adminPassword" nbInput fullWidth disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Enable JobsDB</label>
          <nb-radio-group [(ngModel)]="companyDetail.activeJobsDB" name="activeJobsDB" class="inline">
            <nb-radio name="activeJobsDB" [value]="true">Yes</nb-radio>
            <nb-radio name="activeJobsDB" [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <!-- <div class="form-control-group">
          <label class="label">Enable Pending Exam</label>
          <nb-radio-group [(ngModel)]="companyDetail.activeExam" name="activeExam" class="inline">
            <nb-radio [value]="true">Yes</nb-radio>
            <nb-radio [value]="false">No</nb-radio>
          </nb-radio-group>
        </div> -->
        <div class="form-control-group">
          <label class="label">Transfer Agreement</label>
          <nb-radio-group [(ngModel)]="companyDetail.transferable" name="transferable" class="inline">
            <nb-radio [value]="true">Yes</nb-radio>
            <nb-radio [value]="false">No</nb-radio>
          </nb-radio-group>
        </div>
        <div>
          <div class="form-control-group">
            <label class="label">Is Subsidiary Company</label>
            <nb-radio-group [(ngModel)]="companyDetail.isSubCompany" name="isSubCompany" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div *ngIf="companyDetail.isSubCompany" class="form-control-group">
            <label class="label">Parent Company <span *ngIf="companyDetail.isSubCompany"
                class="text-red">*</span></label>
            <nb-select placeholder="Select Parent Company" [(ngModel)]="companyDetail.refParent" fullWidth
              [disabled]="!companyDetail.isSubCompany">
              <nb-option [disabled]="!companyDetail.isSubCompany" *ngFor="let companyOption of companyOptions"
                [value]="companyOption.value">
                {{ companyOption.label }}
              </nb-option>
            </nb-select>
            <small *ngIf="errMsg.refParent" class="text-red">{{ errMsg.refParent }}</small>
          </div>
          <hr>
          <div class="form-control-group">
            <label class="label">Trial version</label>
            <nb-radio-group [(ngModel)]="companyDetail.isTrial" name="isTrial" class="inline">
              <nb-radio [value]="true">Yes</nb-radio>
              <nb-radio [value]="false">No</nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-control-group">
            <label class="label">Number of JR <span class="text-red">*</span></label>
            <input type="number" [(ngModel)]="companyDetail.maxJR" nbInput placeholder="Number of JR">
            <small *ngIf="errMsg.maxJR" class="text-red">{{ errMsg.maxJR }}</small>
          </div>
          <div class="form-control-group">
            <label class="label">Number of User <span class="text-red">*</span></label>
            <input type="number" [(ngModel)]="companyDetail.maxUser" nbInput placeholder="Number of User">
            <small *ngIf="errMsg.maxUser" class="text-red">{{ errMsg.maxUser }}</small>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!role.refHero.isSuperAdmin">
      <div class="row">
        <div class="col-md-12">
          <div class="form-control-group">
            <label class="label">Name <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.name" nbInput fullWidth placeholder="Name">
            <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Start Date</label>
            <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
            <input [nbDatepicker]="startDate" [(ngModel)]="companyDetail.startDate" nbInput fullWidth
              placeholder="dd/mm/yyyy" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Expiry Date</label>
            <nb-datepicker #expiryDate format="dd/MM/yyyy"></nb-datepicker>
            <input [nbDatepicker]="expiryDate" [(ngModel)]="companyDetail.expiryDate" nbInput fullWidth
              placeholder="dd/mm/yyyy" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">SMTP Server <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.smtpHost" nbInput fullWidth>
            <small *ngIf="errMsg.smtpHost" class="text-red">{{ errMsg.smtpHost }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">SMTP Port <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.smtpPort" nbInput fullWidth>
            <small *ngIf="errMsg.smtpPort" class="text-red">{{ errMsg.smtpPort }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">IMAP Host <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.imapHost" nbInput fullWidth>
            <small *ngIf="errMsg.imapHost" class="text-red">{{ errMsg.imapHost }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">IMAP Port <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.imapPort" nbInput fullWidth>
            <small *ngIf="errMsg.imapPort" class="text-red">{{ errMsg.imapPort }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Internal Email <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.intEmailUser" nbInput fullWidth>
            <small *ngIf="errMsg.intEmailUser" class="text-red">{{ errMsg.intEmailUser }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">Internal Password <span class="text-red">*</span></label>
            <div class="input-group">
              <input type="{{ showPassword1 ? 'text' : 'password' }}" [(ngModel)]="companyDetail.intEmailPass" nbInput
                fullWidth placeholder="Password" autocomplete="off"
                [ngClass]="{ 'status-danger': errMsg.intEmailPass }">
              <div class="input-group-addon">
                <nb-icon icon="{{ showPassword1 ? 'eye-off-outline' : 'eye-outline' }}"
                  (click)="showPassword1=!showPassword1">
                </nb-icon>
              </div>
            </div>
            <small *ngIf="errMsg.intEmailPass" class="text-red">{{ errMsg.intEmailPass }}</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">External Email <span class="text-red">*</span></label>
            <input type="text" [(ngModel)]="companyDetail.extEmailUser" nbInput fullWidth>
            <small *ngIf="errMsg.extEmailUser" class="text-red">{{ errMsg.extEmailUser }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-control-group">
            <label class="label">External Password <span class="text-red">*</span></label>
            <div class="input-group">
              <input type="{{ showPassword2 ? 'text' : 'password' }}" [(ngModel)]="companyDetail.extEmailPass" nbInput
                fullWidth placeholder="Password" autocomplete="off"
                [ngClass]="{ 'status-danger': errMsg.extEmailPass }">
              <div class="input-group-addon">
                <nb-icon icon="{{ showPassword2 ? 'eye-off-outline' : 'eye-outline' }}"
                  (click)="showPassword2=!showPassword2">
                </nb-icon>
              </div>
            </div>
            <small *ngIf="errMsg.extEmailPass" class="text-red">{{ errMsg.extEmailPass }}</small>
          </div>
        </div>
      </div>

    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="default" (click)="back()">Cancel</button>
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>