@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://code.jquery.com/jquery-3.2.1.slim.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js");
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: sukhumvit;
  src: url(../../../assets/font/SukhumvitSet/SukhumvitSet-Medium.ttf) format('truetype');
}
:root {
  --color-blue: #1B74B6;
  --color-green: #35C4B2;
  --color-red: #ED5154;
  --color-orange: #FFC816;
  --color-aqua: #6BCAF2;
  --color-purple: #9675CC;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #707070;

  --color-light-green: rgba(53, 196, 178, 0.1);
  --color-light-gray: #D2D6D9;

  --color-dark-green: #34B76B;
}

.nb-theme-default {

  nb-layout .layout,
  nb-card {
    font-family: sukhumvit !important;
  }
  
  .bg-gray {
    color: #000;
    line-height: 1.4;
    padding: .5em 1.5em .5em;
    border-radius: 8px;
    color: #fff;
    background-color: #d2d6de !important;
  }
  .box-pad {
    padding-left: 20px;
  }
  .label-pad {
    padding-left: 15px;
  }
  .user-block .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post .user-block .description {
    font-size: 12px;
    margin-top: -4px;
  }
  .example-box .user-block {
    width: 100%;
  }
  .example-box .user-block .ranking {
    font-size: 13px;
    color: #999;
    margin-right: 5px;
    font-weight: 100;
  }

  // --------------------------------------------------------------------
  // LAYOUT

  nb-layout-column {
    height: auto;
  }

  nb-layout-header nav {
    background: var(--color-green);
  }

  .header-container {
    .sidebar-toggle nb-icon {
      color: var(--color-white);
    }
    .sidebar-toggle nb-icon:hover {
      opacity: 0.8;
    }
    .logo, .logo:hover {
      color: var(--color-white);
    }
    nb-action nb-icon {
      color: var(--color-white);
    }
    nb-action nb-icon:hover {
      opacity: 0.8;
    }
    nb-user .user-name {
      color: var(--color-white);
    }
  }

  .menu-item a .menu-title {
    text-align: left;
  }

  nb-sidebar.compacted nb-menu .menu-item a.active::before {
    background: var(--color-green);
  }
  nb-sidebar nb-menu {
    margin: 0 -1.25rem 0;
  }
  nb-menu {
    .menu-item {
      border-bottom: none;

      .menu-item:first-child 
      {
        border-top: none;
      }
      a.active {
        color: var(--color-green);
        background-color: rgba(53, 196, 178, 0.1);
        border-left: 4px solid var(--color-green);
      }
      a:hover {
        color: var(--color-green);
        background-color: rgba(53, 196, 178, 0.1);
      }
      a.active .menu-icon,
      a:hover .menu-icon {
        color: var(--color-green);
      }
      a.active:hover {
        opacity: 0.8;
      }
    }
    .menu-group, .menu-item a,
    .menu-item > .menu-items > .menu-item a {
      padding: 0.5rem 1rem;
    }
    .menu-item > .menu-items > .menu-item a.active,
    .menu-item > .menu-items > .menu-item a.active:hover,
    .menu-item > .menu-items > .menu-item a:hover {
      color: var(--color-green);
    }
    .menu-item > .menu-items > .menu-item a.active:hover {
      opacity: 0.8;
    }
  }

  // nb-layout .layout .layout-container .content .columns nb-layout-column {
  //   padding: 1.75rem 1.75rem 0.75rem;
  // }

  .form-control-group {
    margin-bottom: 1rem;
    label {
      display: block;
    }
  }

  .form-control {
    background-color: #f7f9fc;
    border-color: #edf1f7;
    border-style: solid;
    border-width: 1px;
    color: #1a2138;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.4375rem 1.125rem;
    -webkit-appearance: none;
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
  }
  .form-control:hover {
    border-color: var(--color-green);
  }
  .form-control:focus {
    outline: none;
    border-color: var(--color-green);
    box-shadow: 0 0 0 0.375rem #e4e9f2;
  }
  .form-control[disabled],
  .form-control[readonly] {
    background-color: #f7f9fc;
    border-color: #edf1f7;
    color: #c5cee0;
    cursor: not-allowed;
  }
  fieldset {
    padding: 0;
  }


  nb-dialog-container {
    nb-card {
      min-width: 20rem;
    }
  }

  // --------------------------------------------------------------------
  // CONTENT

  .content-wrapper {
    background-color: #FAFFFE;
  }
  .content-header {
    margin-bottom: 2rem;
  }
  .content-header.with-shadow {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
  }
  .content-header h1,
  .content-header h2,
  .content-header h3,
  .content-header h4,
  .content-header h5 {
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    color: var(--color-gray);
  }  
  .content-header .breadcrumb {
    font-size: 1.25rem;
    color: var(--color-gray);
    text-align: left;
    font-weight: 600;
    border: none;
    background: none;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    float: none;
    display: block;
    margin: 0;

    .fa-angle-right {
      margin: 0 5px;
    }
  }
  .content-header .action button {
    vertical-align: top;
  }  
  .content-header nb-stepper .step-content {
    display: none;
  }

  // --------------------------------------------------------------------
  // TEXT COLOR

  .text-primary, .text-blue {
    color: var(--color-blue) !important;
  }
  .text-success, .text-green {
    color: var(--color-green) !important;
  }
  .text-danger, .text-red {
    color: var(--color-red) !important;
  }
  .text-warning, .text-orange {
    color: var(--color-orange) !important;
  }
  .text-info, .text-aqua {
    color: var(--color-aqua) !important;
  }
  .text-purple {
    color: var(--color-purple) !important;
  }
  .text-black {
    color: var(--color-black) !important;
  }
  .text-gray {
    color: var(--color-gray) !important;
  }
  .text-light-gray {
    color: var(--color-light-gray) !important;
  }
  .text-dark-green {
    color: var(--color-dark-green) !important;
  }
  .text-red-right{
    color: var(--color-red) !important;
    text-align: right;
    margin-right: 25px;
  }
  .text-red-left{
    color: var(--color-red) !important;
    text-align: left;
    margin-right: 25px;
  }

  // --------------------------------------------------------------------
  // BUTTON

  button:focus,
  [nbButton]:focus {
    box-shadow: none;
    outline: none;
  }
  [nbButton].appearance-filled {
    position: relative;
    nb-badge {
      border-radius: 50%;
      padding: 0.25rem 0.45rem;
    }
  }
  [nbButton].appearance-filled.size-medium {
    nb-icon {
      margin: -0.125rem 0;
    }
  }
  [nbButton].appearance-filled,
  [nbButton].appearance-filled:not([disabled]):focus {
    background-color: var(--color-light-gray);
    border-color: var(--color-light-gray);
    color: var(--color-black);
  }
  [nbButton].appearance-filled:not([disabled]):hover,
  [nbButton].appearance-filled:not([disabled]):active {
    background-color: var(--color-light-gray);
    border-color: var(--color-light-gray);
    color: var(--color-black);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-primary {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-primary:not([disabled]):hover,
  [nbButton].appearance-filled.status-primary:not([disabled]):active,
  [nbButton].appearance-filled.status-primary:not([disabled]):focus {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-success {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-success:not([disabled]):hover,
  [nbButton].appearance-filled.status-success:not([disabled]):active,
  [nbButton].appearance-filled.status-success:not([disabled]):focus {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-white);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-info {
    background-color: var(--color-aqua);
    border-color: var(--color-aqua);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-info:not([disabled]):hover,
  [nbButton].appearance-filled.status-info:not([disabled]):active,
  [nbButton].appearance-filled.status-info:not([disabled]):focus {
    background-color: var(--color-aqua);
    border-color: var(--color-aqua);
    color: var(--color-white);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-warning {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-warning:not([disabled]):hover,
  [nbButton].appearance-filled.status-warning:not([disabled]):active,
  [nbButton].appearance-filled.status-warning:not([disabled]):focus {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
    color: var(--color-white);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-danger {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-danger:not([disabled]):hover,
  [nbButton].appearance-filled.status-danger:not([disabled]):active,
  [nbButton].appearance-filled.status-danger:not([disabled]):focus {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-white);
    opacity: 0.8;
  }
  [nbButton].appearance-filled.status-black {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
  }
  [nbButton].appearance-filled.status-black:not([disabled]):hover,
  [nbButton].appearance-filled.status-black:not([disabled]):active,
  [nbButton].appearance-filled.status-black:not([disabled]):focus {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
    opacity: 0.8;
  }

  [nbButton].appearance-outline {
    background: none;
    border-style: solid;
    border-width: 0.125rem;
    text-transform: uppercase;
  }
  [nbButton].appearance-outline:not([disabled]):hover {
    background: var(--color-light-gray);
    opacity: 0.8;
  }
  [nbButton].appearance-filled[disabled] {
    background-color: #edf1f7;
    border-color: #edf1f7;
    color: #c5cee0;
  }

  // --------------------------------------------------------------------
  // INPUT

  [nbInput]:not([disabled]):hover,
  [nbInput]:not([disabled]):focus {
    border-color: var(--color-green);
  }
  [nbInput]:disabled {
    background-color: #f7f9fc;
    border-color: #edf1f7;
    color: #c5cee0;
    cursor: not-allowed;
  }
  .input-group {
    .input-group-addon {
      position: absolute;
      right: 10px;
      margin-top: 10px;
      color: #8f9bb3;
      cursor: pointer;
    }
    .input-group-addon:hover {
      opacity: 0.8;
    }    
    .input-group-addon.left {
      color: var(--color-white);
      background-color: var(--color-green);
      border-color: var(--color-green);
      cursor: pointer;
      border-radius: 8px 0 0 8px !important;
    }
    .input-group-addon.right {
      color: var(--color-white);
      background-color: var(--color-green);
      border-color: var(--color-green);
      cursor: pointer;
      border-radius: 0 16px 16px 0 !important;
    }
  }

  .input-hidding {
    width: 92px;
    height: 34px;
    opacity: 0;
    position: absolute;
    margin-left: -12px;
    margin-top: -10px;
    cursor: pointer;
  }
  .text-group {

    line-height: 1.5rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    label {
      font-size: 0.8rem;
    }
    label::after {
      content: ' :';
      margin-right: 0.25rem;
    }
  }

  // --------------------------------------------------------------------
  // CARD

  nb-card.accent {
    border-top-color: var(--color-light-gray);
  }
  nb-card.accent-primary {
    border-top-color: var(--color-blue);
  }
  nb-card.accent-success {
    border-top-color: var(--color-green);
  }
  nb-card.accent-danger {
    border-top-color: var(--color-red);
  }
  nb-card.accent-warning {
    border-top-color: var(--color-orange);
  }
  nb-card.accent-info {
    border-top-color: var(--color-aqua);
  }

  nb-card-header {
    label {
      margin-bottom: 0;
    }
    .title {
      float: left;
      width: calc(100% - 92px);      
      label {
        max-width: 100%;
        margin: 0;
        vertical-align: middle;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
     }
    .actions {
      float: right;
      nb-icon {
        vertical-align: middle;
      }
      nb-icon:not(:first-child) {
        margin-left: 1rem;
      }
      .fa-star {
        font-size: 150%;
        vertical-align: top;
      }
    }
    .status {
      display: block;
      margin-top: 0.25rem;
    }
    .mat-checkbox label.mat-checkbox-layout {
      display: inline-flex;
      margin-bottom: 0;
    }
  }

  nb-card-body {
    min-height: 4.5rem;

    .filter-block {
      margin-top: 1rem;
      margin-bottom: -1rem;
    }
    .topic {
      color: var(--color-light-gray);
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      margin-right: 5px;
    }
  }

  nb-card-body hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  nb-card-footer {
    text-align: right;
    button {
      margin-left: 0.5rem;
    }
    .footer-collapse {
      float: left;
      button {
        margin: 0;
        background: none;        
        nb-icon {
          margin: 0 !important;
        }
      }
    }
  }

  nb-tabset {
    .tab .tab-text {
      line-height: 1.2rem;
    }
    nb-tab {
      padding: 2rem 1rem;

      nb-card:last-child {
        margin-bottom: 0;
      }

      .mat-paginator-container {
        margin: -1rem 0 -1.5rem;
        padding: 0;
      }
    }
  }

  // --------------------------------------------------------------------
  // Window

  nb-window {
    nb-card nb-card-header .title {
      width: auto;
    }
  }

  // --------------------------------------------------------------------
  // Radio

  nb-radio-group.inline {
    nb-radio {
      display: inline-block;
    }
  }
  .options-list:not(.full-width) {
    max-width: inherit;
  }

  // --------------------------------------------------------------------
  // Dropdown

  nb-select.appearance-outline.size-medium {    
    .select-button:hover,
    .select-button:focus,
    .select-button:active {
      border-color: var(--color-green);
    }
    .select-button:disabled {
      cursor: not-allowed;
      color: #c5cee0;
      background-color: #f7f9fc;
      border-color: #f7f9fc;
    }
  }
  nb-option:hover,
  nb-option:focus,
  nb-option:active {
    background: var(--color-light-gray);
  }

  // --------------------------------------------------------------------
  // Spinner

  nb-spinner.status-primary .spin-circle {
    border-top-color: var(--color-blue);
    border-right-color: transparent;
    border-bottom-color: var(--color-blue);
    border-left-color: var(--color-blue);
  }
  nb-spinner.status-success .spin-circle {
    border-top-color: var(--color-green);
    border-right-color: transparent;
    border-bottom-color: var(--color-green);
    border-left-color: var(--color-green);
  }
  nb-spinner.status-danger .spin-circle {
    border-top-color: var(--color-red);
    border-right-color: transparent;
    border-bottom-color: var(--color-red);
    border-left-color: var(--color-red);
  }
  nb-spinner.status-warning .spin-circle {
    border-top-color: var(--color-orange);
    border-right-color: transparent;
    border-bottom-color: var(--color-orange);
    border-left-color: var(--color-orange);
  }
  nb-spinner.status-info .spin-circle {
    border-top-color: var(--color-orange);
    border-right-color: transparent;
    border-bottom-color: var(--color-orange);
    border-left-color: var(--color-orange);
  }

  // --------------------------------------------------------------------
  // Progress Bar

  nb-progress-bar.size-tiny {
    .progress-container{
      height: 0.75rem;
    }
  }

  nb-action.active nb-icon {
    color: var(--color-green);
  }

  // --------------------------------------------------------------------
  // Badge

  nb-badge, .badge {
    background: var(--color-light-gray);
    color: var(--color-black);
  }
  nb-badge.status-primary, .badge-primary {
    background: var(--color-blue);
    color: var(--color-white);
  }
  nb-badge.status-success, .badge-success {
    background: var(--color-green);
    color: var(--color-white);
  }
  nb-badge.status-danger, .badge-danger {
    background: var(--color-red);
    color: var(--color-white);
  }
  nb-badge.status-warning, .badge-warning {
    background: var(--color-orange);
    color: var(--color-white);
  }
  nb-badge.status-info, .badge-info {
    background: var(--color-aqua);
    color: var(--color-white);
  }

  // --------------------------------------------------------------------
  // Popover

  nb-popover {
    min-width: 300px;
    padding: 1rem;
  }

  // --------------------------------------------------------------------
  // Stepper

  nb-stepper .header .connector {
    background-color: #ffffff;
  }
  nb-stepper .header .step.selected,
  nb-stepper .header .step.selected .label span {
    color: var(--color-green);
  }
  nb-stepper .header .step.selected .label-index {
    border-color: var(--color-green);
  }

  // --------------------------------------------------------------------
  // Toastr

  nb-toastr-container {
    margin-top: 5rem;
  }

  // --------------------------------------------------------------------
  // Notification

  .notification-card {
    position: absolute;
    width: 400px;
    top: 40px;
    right: 0;
    z-index: 1001;
    // border: 1px solid #dddfe2;

    nb-card-header {
      border-bottom: 1px solid #dddfe2;
      padding: 10px;
    }
    nb-card-body {
      overflow-y: scroll;
      padding: 0;
    }
    nb-card-body .notification-body {
      padding: 1rem;
    }
    nb-card-body .notification-body:not(:last-child) {
      border-bottom: 1px solid #dddfe2;
    }
    nb-card-body .notification-body.unread {
      background-color: #edf2fa;
    }
    nb-card-body .notification-body:hover {
      background-color: #f3f3f3;
    }
    nb-card-footer {
      border-top: 1px solid #dddfe2;
    }
    nb-user .user-picture {
      border: 1px solid var(--color-green);
    }
    nb-user .user-name {
      color: var(--color-black);
      font-size: 0.85rem;
      line-height: 1rem;
    }
    nb-user .user-title {
      color: var(--color-gray);
      margin-top: 5px;
    }
  }

  // --------------------------------------------------------------------
  // Table

  .table {
    margin-bottom: 0;
    th {
      text-align: center;
      vertical-align: middle;
      color: var(--color-white);
      background-color: var(--color-green);
    }
    tbody {
      td {
        text-align: center;
        vertical-align: middle;
        padding: 0.5rem 0.75rem;
      }
      td.actions {
        text-align: center;
        padding: 0.2rem;
        vertical-align: middle;
        button {
          margin: 0 0.1rem;
        }
      }
    }
  }

  // --------------------------------------------------------------------
  // Labal

  .label-gray {
    display: inline-block;
    color: var(--color-black);
    background: var(--color-light-gray);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .label-primary {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-blue);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .label-success {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-green);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .label-danger {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-red);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .label-warning {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-orange);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .label-info {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-aqua);
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
  }
  .icon-green {
    cursor: pointer;
    color: var(--color-green);
  }
  .icon-default {
    cursor: pointer;
    color: var(--color-gray);  ;
  }
  .icon-red {
    cursor: pointer;
    color: var(--color-red);  ;
  }
  // --------------------------------------------------------------------
  // Calendar

  .cal-event-title {    
    color: var(--color-white);
  }
  .cal-event-action {
    color: var(--color-light-gray);
  }
  .cal-event-action:hover {
    opacity: 0.8;
  }
  .cal-event-action .fa-pencil-alt {
    color: var(--color-orange);
  }
  .cal-event-action .fa-times {
    color: var(--color-red);
  }

  // --------------------------------------------------------------------
  // Scrollbar

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #EEEEEE;
    border-radius: 0px;
    background-color: #EEEEEE;
  } 
  ::-webkit-scrollbar-thumb {
    background: #A1A1A1;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-gray);
  }

  // --------------------------------------------------------------------
  // ALL

  .h-100 {
    height: 100%;
  }
  .w-100 {
    width: 100%;
  }
  .m-0 {
    margin: 0;
  }
  .m-t-0 {
    margin-top: 0;
  }
  .m-t-5 {
    margin-top: 5px;
  }
  .m-t-10 {
    margin-top: 10px;
  }
  .m-t-15 {
    margin-top: 15px;
  }
  .m-t-20 {
    margin-top: 20px;
  }
  .m-b-5 {
    margin-bottom: 5px;
  }
  .m-b-10 {
    margin-bottom: 10px;
  }
  .m-b-15 {
    margin-bottom: 15px;
  }
  .m-b-20 {
    margin-bottom: 20px;
  }
  .m-l-5 {
    margin-left: 5px;
  }
  .m-l-10 {
    margin-left: 10px;
  }
  .m-l-15 {
    margin-left: 15px;
  }
  .m-l-20 {
    margin-left: 20px;
  }
  .m-r-5 {
    margin-right: 5px;
  }
  .m-r-10 {
    margin-right: 10px;
  }
  .m-r-15 {
    margin-right: 15px;
  }
  .m-r-20 {
    margin-right: 20px;
  }
  .p-l-15 {
    padding-left: 15px;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .link {
    color: var(--color-green);
    cursor: pointer;
  }
  .link.underline,
  .link.underline:hover {
    text-decoration: underline;
  }
  .link:hover {
    opacity: 0.85;
  }
  .link.active 
  .transitions {
    transition-property: background-color,border-color,box-shadow,color,-webkit-box-shadow,opacity !important;
  }
  .text-top {
    vertical-align: top;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-cap {
    text-transform: capitalize;
  }
  .first-letter-cap:first-letter {
    text-transform: uppercase;
  }
  .text-no-data {
    text-align: center;
    color: var(--color-light-gray);
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
  }

  #toast-container > div {
    opacity:1;
  }

  // --------------------------------------------------------------------
  // ANGULAR MATERIAL

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--color-green);
  }
  mat-spinner {
    margin: auto;
    margin-top: 100px;
  }
  .mat-accordion .mat-expansion-panel,
  .mat-accordion .mat-expansion-panel:not([class*=mat-elevation-z]) {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .16);
    margin-bottom: 10px;
  }
  .mat-accordion .mat-expansion-panel.mat-expanded {
    box-shadow: 0 0 12px rgba(0, 0, 0, .16);
  }
  .mat-accordion .mat-expansion-panel-header {
    font-family: sukhumvit;
    height: auto !important;
    padding: 15px 24px;
  }
  .mat-accordion .mat-expansion-panel-header-description,
  .mat-accordion  .mat-expansion-panel-header-title {
    display: block;
  }
  .mat-calendar-period-button {
    color: var(--color-gray) !important;
  }
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent
  .mat-checkbox-background {
    background-color: var(--color-green);
  }
  .mat-checkbox label.mat-checkbox-layout {
    display: inline-flex;
  }
  .mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
  .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #b0b0b0;
  }
  .group-checkbox {
    margin-left: 1.5rem;
  }
  .group-checkbox .mat-checkbox .mat-checkbox-layout {
    display: inline-flex;
    margin-right: 1.5rem;
  }
  .mat-form-field {
    display: block !important;
  }
  .btn .chevron {
    color: var(--color-green) !important;
  }
  .angular-editor-textarea { 
    min-height: 200px !important;
  }
  .mat-badge-content {
    font-family: sukhumvit !important;
  }

  // TOGGLE BUTTON
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:  var(--color-green);
    cursor: pointer;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0, 176, 156, 0.3);
    cursor: pointer;
  }
  
  .mat-radio-inner-circle {
    background-color: var(--color-green);
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--color-green);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:var(--color-green);
  }
  ngb-timepicker.inline fieldset {
    display: inline-block;
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:  var(--color-green);
  }
  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0, 176, 156, 0.3); 
  }    
  .mat-button-toggle-group-appearance-standard {
    border: solid 1px var(--color-green);
  }
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px !important;
    font-size: 16px;
  }
  .mat-button-toggle-checked {
    background-color: var(--color-green);
    color: var(--color-white) !important;
  }
  .mat-dialog-title.with-border {
    // padding: 0 24px 10px;
    position: relative;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 20px;
  }
  .mat-dialog-content {
    margin-top: -20px;
    margin-bottom: -20px;
    // padding: 0;
  }
  .header-title {
    line-height: 1;
  }
  .header-desc {
    font-size: 14px;
  }
  .mat-dialog-actions {
    border-top: 1px solid #EAEAEA;
    margin-top: 20px;
    display: block;
  }
  .mat-dialog-actions .left {
    padding-right: 0;
  }
  .mat-dialog-actions .right {
    padding-right: 0;
  }
  .comment-message {
    white-space: pre-wrap;
  }
  .mat-mini-fab {
    font-size: 14px;
    width: 25px !important;
    height: 25px !important;
  }
  .mat-mini-fab .fa {
    vertical-align: top !important;
  }
  .post {
    padding: 20px;
    margin: 0;
  }
  .comment-message {
    white-space: pre-wrap;
  }
  textarea.comment {
    resize: none;
    overflow-y: hidden;
    min-height: 34px;
    max-height: 78px;
  }
  .user-block .user-img {
    float: left;
  }
  /* Danger */
  .mat-button.mat-danger {
    color: var(--color-red) !important;
  }
  .mat-flat-button.mat-danger {
    background-color: var(--color-red) !important;
  }
  .btn-danger,
  .mat-raised-button.mat-danger {
    background-color: var(--color-red) !important;
    box-shadow: 0 3px 6px rgba(237, 81, 84, 0.3) !important;
  }
  .btn-stroked-danger,
  .mat-stroked-button.mat-danger {
    color: var(--color-red) !important;
    border-color: var(--color-red) !important;
    box-shadow: 0 3px 6px rgba(237, 81, 84, 0.3) !important;
  }
  .btn-stroked-danger:hover,
  .mat-stroked-button.mat-danger:hover {
    background-color :rgba(237, 81, 84, 0.16) !important;
  }
  .mat-fab.mat-danger ,
  .mat-mini-fab.mat-danger {
    color: var(--color-white) !important;
    background-color: rgba(237, 81, 84, 0.75) !important;
    box-shadow: 0 3px 6px rgba(237, 81, 84, 0.3) !important;
  }
  .mat-fab.mat-danger:hover:not([disabled]),
  .mat-mini-fab.mat-danger:hover:not([disabled]) {
    color: var(--color-red) !important;
    background-color: var(--color-white) !important;
    box-shadow: 0 3px 6px rgba(237, 81, 84, 0.5) !important;
  }
  .mat-fab.mat-red ,
  .mat-mini-fab.mat-red {
    color: var(--color-red) !important;
    background-color: rgba(237, 81, 84, 0.3) !important;
    box-shadow: 0 3px 6px rgba(237, 81, 84, 0) !important;
  }  

  // --------------------------------------------------------------------
  // TAG INPUT

  .ng2-tag-input {
    border: 1px solid var(--color-light-gray) !important;
    border-radius: 8px !important;
    padding: 2px 5px 0px !important;
    min-height: 40px !important;
  }
  .ng2-tag-input.ng2-tag-input--focused {
    border-color: var(--color-green) !important;
  }
  tag {
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 4px !important;
    color: var(--color-black) !important;
    background-color: var(--color-green) !important;
  }
  .ng2-tag-input__text-input {
    height: 37px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    margin-top: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 11px 12px;
    cursor: pointer;
    background-color: var(--color-green);
    color:#ffffff;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .custom-file-upload2 {
    margin-top: 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--color-green);
  }
  
  .cal-month-view .cal-day-badge {
    display: none;
    background-color: var(--color-blue);
  }

  
  // --------------------------------------------------------------------
  // HAS ERROR

  .form-control-group.has-error {
    input,
    input:hover,
    input:focus,
    input:active,
    nb-select .select-button,
    nb-select .select-button:hover,
    nb-select .select-button:focus,
    nb-select .select-button:active {
      border-color: var(--color-red);
    }

  }
  .form-control-group.has-error {
    .ng2-tag-input,
    .ng2-tag-input.ng2-tag-input--focused {
      border-color: var(--color-red) !important;
    }

  }

  // --------------------------------------------------------------------
  // MOBILE && TABLET

  @media (max-width: 767px) {

    // nb-layout .layout .layout-container .content .columns nb-layout-column {
    //   padding: 1rem 1rem 0.75rem;
    // }
    
    nb-card {
      margin-bottom: 1rem;

      nb-actions {
        padding-top: 1rem;
      }
    }
    
    .content-header {
      .input-group {
        margin-bottom: 1rem;
      }
      .action {
        margin-top: 55px;
      }
    }
    
    .fixed .content-wrapper,
    .fixed .right-side {
      padding-top: 54px;
    }
    .content-header .breadcrumb {
      text-align: left;
      margin-top: 10px;
    }
  }

  /* Thank you for your information */
  .thank {
    height: 100%;
    background: #d2d6de;
  }
  .thank-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 8%;
    text-align: center;
  }
  .thank-wrapper p {
    color: #737373;
  }
  .language {
    width: 75px;
    margin-top: -5px;
    float: right;
  }
}

