.link:hover {
    text-decoration: none;
  }
::ng-deep .nb-theme-default [nbButton].appearance-filled.status-primary{

      background-color: #1299f6 !important;
      border-color: #1299f6 !important;
}