<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
    <nb-card-header>
        <div class="title">
            <label [nbTooltip]="candidateName"><span class="label">Name: </span>{{ candidateName }}</label>
            <small class="status" *ngIf="fbName"> <span class="label">Facebook: </span><span
                    style="color: black;font-weight: 700;">{{ fbName || '' }}</span></small>
            <small class="status text-gray m-0">
                <span class="label">Position: </span><span style="color: black;font-weight: 700;">{{ jrName }}</span>
            </small>
            <label style="margin-top:0.25rem;padding-left: 0.125rem;" *ngIf="fbLink">
                <a [href]="fbLink" class="link" target="_blank"><i class="fab fa-facebook-square fa-lg"
                        style="color: #3B5998"></i>
                    Direct Message</a>
            </label>
        </div>
        <div class="actions">
            <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="!loading" class="dialog-body">
        <h6 *ngIf="!items.length" class="text-gray text-center">No Chat</h6>
        <nb-card *ngFor="let item of items" [accent]="item.accent">
            <nb-card-header>
                <div class="title">
                    <nb-user size="medium" [name]="item.name" [title]="item.title" [picture]="item.picture"></nb-user>
                </div>
            </nb-card-header>
            <nb-card-body style="min-height: auto">
                <span *ngIf="!item.editFlag" style="word-wrap: break-word;">{{ item.message }}</span>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-control-group">
            <textarea nbInput fullWidth [(ngModel)]="textTemp" placeholder="Text..." rows="5"></textarea>
        </div>
        <div class="footer-collapse">
            <!-- <small>
                จำนวนตัวอักษรตอนนี้: {{ textTemp.length }}
            </small><br>
            <nb-checkbox [(ngModel)]="infoFlag" style="text-align: left;" [disabled]="condition.responsed"><span
                    style="font-family: kanit;"> Offering
                    Infomation</span></nb-checkbox> -->
            <!-- <button nbButton status="default" shape="semi-round" [size]="(devices.isMobile)? 'tiny' : 'medium'"
                (click)="ref.close(result)">CLOSE</button> -->
        </div>
        <!-- <small *ngIf="textTemp.length > 2000" class="text-red">
            <nb-icon icon="alert-circle-outline" class="font-inherit"></nb-icon>
            จำนวนตัวอักษรทั้งหมดเกิน 2000 ตัวอักษร
        </small> -->
        <button nbButton status="success" shape="semi-round" [size]="(devices.isMobile)? 'tiny' : 'medium'"
            (click)="save()" [disabled]="!textTemp || loading">SEND</button>
    </nb-card-footer>
</nb-card>