<div class="content-header with-shadow">
  <div class="row">
    <div [ngClass]="{ 'col-sm-6':role.refAuthorize.configuration.jobPosition.editable, 
        'col-sm-8':!role.refAuthorize.configuration.jobPosition.editable}">
      <h3>Email</h3>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" [(ngModel)]="keyword" nbInput fullWidth placeholder="Search"
          (keyup.enter)="this.paging.pageIndex = 0; search(true)">
        <div class="input-group-addon" nbTooltip="Search">
          <nb-icon icon="search-outline" class="link" (click)="this.paging.pageIndex = 0; search(true)"></nb-icon>
        </div>
      </div>
    </div>
    <div *ngIf="role.refAuthorize.configuration.jobPosition.editable" class="col-sm-2">
      <button nbButton fullWidth status="success" nbTooltip="Create" [routerLink]="'/setting/mail-template-detail'">
        CREATE</button>
    </div>
  </div>
</div>

<!-- Tab switch -->
<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth (changeTab)="onSelectTab($event)">
      <nb-tab tabTitle="Internal">
        <!-- list all item  Internal   -->
        <div class="row">
          <div class="col-md-6 col-lg-6 m-b-20" *ngFor="let item of internal;">
            <nb-card accent="success">
              <nb-card-header>
                <div class="title">
                  <label [nbTooltip]="item.name">{{item.name}}</label>
                </div>
                <div class="actions">
                  <nb-icon *ngIf="role.refAuthorize.configuration.mailTemplate.editable" icon="edit-outline" class="link" nbTooltip="Edit"
                    [routerLink]="'/setting/mail-template-detail/'+item._id">
                  </nb-icon>
                  <nb-icon *ngIf="role.refAuthorize.configuration.mailTemplate.editable" icon="trash-2-outline" class="link"
                    nbTooltip="Delete" (click)="delete(item)"></nb-icon>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="text-group">
                  <label class="label">Subject</label>
                  <span [nbTooltip]="item.subject">{{ item.subject }}</span>
                </div>
                <div class="text-group">
                  <label class="label">Remark</label>
                  {{item.remark || '-'}}
                </div>
                <div class="text-group">
                  <label class="label">CC</label>
                  {{item.cc || '-'}}
                </div>
                <div class="text-group">
                  <label class="label">BCC</label>
                  {{item.bcc || '-'}}
                </div>
                <i class="text-gray">
                  <div class="text-group">
                    <label class="label">Last update by</label>
                    {{ item.lastChangedInfo.refUser.firstname }}
                    {{ item.lastChangedInfo.refUser.lastname }}
                  </div>
                  <div class="text-group">
                    <label class="label">Last update date</label>
                    {{ utilitiesService.convertDateTimeFromSystem(item.lastChangedInfo.date) || '-' }}
                  </div>
                </i>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="External">
        <!-- list all item External  -->
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 m-b-20" *ngFor="let item of external;">
            <nb-card accent="success">
              <nb-card-header>
                <div class="title">
                  <label [nbTooltip]="item.name">{{item.name}}</label>
                </div>
                <div class="actions">
                  <nb-icon *ngIf="role.refAuthorize.configuration.mailTemplate.editable" icon="edit-outline" class="link" nbTooltip="Edit"
                    [routerLink]="'/setting/mail-template-detail/'+item._id">
                  </nb-icon>
                  <nb-icon *ngIf="role.refAuthorize.configuration.mailTemplate.editable" icon="trash-2-outline" class="link"
                    nbTooltip="Delete" (click)="delete(item)"></nb-icon>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="text-group">
                  <label class="label">Subject</label>
                  <span [nbTooltip]="item.subject">{{ item.subject }}</span>
                </div>
                <div class="text-group">
                  <label class="label">Remark</label>
                  {{item.remark || '-'}}
                </div>
                <div class="text-group">
                  <label class="label">CC</label>
                  {{item.cc || '-'}}
                </div>
                <div class="text-group">
                  <label class="label">BCC</label>
                  {{item.bcc || '-'}}
                </div>
                <i class="text-gray">
                  <div class="text-group">
                    <label class="label">Last update by</label>
                    {{ item.lastChangedInfo.refUser.firstname }}
                    {{ item.lastChangedInfo.refUser.lastname }}
                  </div>
                  <div class="text-group">
                    <label class="label">Last update date</label>
                    {{ utilitiesService.convertDateTimeFromSystem(item.lastChangedInfo.date) || '-' }}
                  </div>
                </i>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>

<mat-paginator [length]="paging.length" [pageIndex]="paging.pageIndex" [pageSize]="paging.pageSize"
  [pageSizeOptions]="paging.pageSizeOptions" (page)="pageEvent = changePaging($event)">
</mat-paginator>