<div class="card">
  <img class="login-image" width="80px" height="80px" src="../../../../assets/images/logo.png" />
  <h6 class="text-center">Buddy Recruit</h6>
  <br>
  <form *ngIf="!changeText" [formGroup]="emailForm" (ngSubmit)="forgot(emailForm.value)">
    <div class="form-control-group">
      <label class="label">Email</label>
      <input type="text" [formControl]="email" nbInput fullWidth placeholder="Email@">
      <small *ngIf="touched && email.errors" class="text-red">{{ sErrorEmail }}</small>
    </div>
    <button nbButton fullWidth status="success" type="submit" class="m-b-10">Submit</button>
  </form>
  <div *ngIf="changeText">
    <div class="title text-warning" style="text-align: center"><b>Please Check Email</b></div>
    <label class="text-gray">Link for reset password has been send.</label>
    <label class="text-gray">Please check your email.</label>
  </div>
  <small>
    <a [routerLink]="'/jobseeker/login'"><b>Back to login</b></a>
  </small>
</div>