.btn-select{
    background-color: #35c4b2 !important;
    color: white !important;
    cursor: pointer !important;
    font-family: kanit;
  }
  .btn-disable{
    cursor: default !important;
    background-color: #eeeeee !important;
    color: black !important;
    font-family: kanit;
  }
  .img-logo{
    width: 80px;
    height: 80px; 
  }
  