<nb-card [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label [nbTooltip]="candidateName">{{ candidateName }}</label>
      <small class="status text-gray m-0">
        {{ jrName }}
      </small>
    </div>
    <div class="actions">
      <nb-icon icon="close-outline" class="close" nbTooltip="Close" (click)="ref.close(result)"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <div class="form-control-group">
      <label class="label">Location <span class="text-red">*</span></label>
      <nb-select placeholder="Select Location" [(ngModel)]="location" fullWidth>
        <nb-option *ngFor="let location of locations" [value]="location.value">{{ location.label }}
        </nb-option>
      </nb-select>
    </div>
    <div class="form-control-group">
      <label class="label">Exam Date <span class="text-red">*</span></label>
      <nb-datepicker #datepicker format="dd/MM/yyyy"></nb-datepicker>
      <div class="input-group">
        <input [nbDatepicker]="datepicker" [(ngModel)]="date" nbInput fullWidth style="cursor: pointer;">
        <div class="input-group-addon" style="pointer-events: none;">
          <nb-icon icon="calendar-outline"></nb-icon>
        </div>
      </div>
    </div>
    <div class="form-control-group m-0">
      <label class="label">Exam Time <span class="text-red">*</span></label>
      <ngb-timepicker [(ngModel)]="time" [minuteStep]="minuteStep" [spinners]="false" required=""></ngb-timepicker>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-collapse">
      <button nbButton status="default" (click)="ref.close(result)">CANCEL</button>
    </div>
    <button nbButton status="primary" (click)="save()" [disabled]="!canApprove && (!date || !time)">SAVE</button>
    <button *ngIf="!canApprove" nbButton status="success" (click)="sendEmail()">SEND
      EMAIL</button>
    <button *ngIf="canApprove" nbButton status="success" (click)="passToExam()" [disabled]="!date || !time">PASS
      TO EXAM</button>
  </nb-card-footer>
</nb-card>