<div class="content-header with-shadow">
  <h3>Authorize <small class="text-cap">({{ state }})</small></h3>
</div>

<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body></nb-card-body>
</nb-card>

<nb-card *ngIf="!loading">
  <nb-card-header>
    Authorize Detail
    <div class="pull-right">
      <mat-checkbox [(ngModel)]="authDetail.active">Active</mat-checkbox>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label">Authorize Name <span class="text-red">*</span></label>
          <input type="text" [(ngModel)]="authDetail.name" nbInput fullWidth placeholder="Authorize Name"
            [ngClass]="{ 'status-danger': errMsg.name }">
          <small *ngIf="errMsg.name" class="text-red">{{ errMsg.name }}</small>
        </div>
        <div class="form-control-group">
          <label class="label">User Role <span class="text-red">*</span></label>
          <nb-select placeholder="Select User Role" [(ngModel)]="authDetail.refHero" fullWidth
            (selectedChange)="changeUserRole($event)" [ngClass]="{ 'status-danger': errMsg.refHero }">
            <nb-option *ngFor="let option of roleOptions" [value]="option.value">
              {{ option.label }}
            </nb-option>
          </nb-select>
          <small *ngIf="errMsg.refHero" class="text-red">{{ errMsg.refHero }}</small>
        </div>
        <div *ngIf="authDetail.refHero">
          <nb-tabset fullWidth>
            <nb-tab tabTitle="MENU">
              <div class="form-control-group">
                <div class="group-checkbox">
                  <label class="label">Dashboard</label>
                  <mat-checkbox [(ngModel)]="authDetail.showDashboard">Visible</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Job Description</label>
                  <mat-checkbox [(ngModel)]="authDetail.jd.visible" (change)="onChangeCheckbox('JD','VISIBLE')">Visible
                  </mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.jd.editable" (change)="onChangeCheckbox('JD','EDITABLE')">
                    Editable
                  </mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Job Request</label>
                  <mat-checkbox [(ngModel)]="authDetail.jr.visible" (change)="onChangeCheckbox('JR','VISIBLE')">Visible
                  </mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.jr.editable" (change)="onChangeCheckbox('JR','EDITABLE')">
                    Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Report</label>
                  <mat-checkbox [(ngModel)]="authDetail.showReport">Visible</mat-checkbox>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="SETTING">
              <div class="form-control-group">
                <div class="group-checkbox">
                  <label class="label">Company</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.company.visible"
                    (change)="onChangeCheckbox('COMPANY','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.company.editable"
                    (change)="onChangeCheckbox('COMPANY','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Department</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.department.visible"
                    (change)="onChangeCheckbox('DEPARTMENT','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.department.editable"
                    (change)="onChangeCheckbox('DEPARTMENT','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Authorize</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.authorize.visible"
                    (change)="onChangeCheckbox('AUTHORIZE','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.authorize.editable"
                    (change)="onChangeCheckbox('AUTHORIZE','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">User</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.user.visible"
                    (change)="onChangeCheckbox('USER','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.user.editable"
                    (change)="onChangeCheckbox('USER','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Job Position</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.jobPosition.visible"
                    (change)="onChangeCheckbox('JOBPOSITION','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.jobPosition.editable"
                    (change)="onChangeCheckbox('JOBPOSITION','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Location</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.location.visible"
                    (change)="onChangeCheckbox('LOCATION','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.location.editable"
                    (change)="onChangeCheckbox('LOCATION','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Mail Template</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.mailTemplate.visible"
                    (change)="onChangeCheckbox('MAIL','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.mailTemplate.editable"
                    (change)="onChangeCheckbox('MAIL','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Rejection</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.rejection.visible"
                    (change)="onChangeCheckbox('REJECTION','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.rejection.editable"
                    (change)="onChangeCheckbox('REJECTION','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Dashboard</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.dashboard.visible"
                    (change)="onChangeCheckbox('DASHBOARD','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.dashboard.editable"
                    (change)="onChangeCheckbox('DASHBOARD','EDITABLE')">Editable</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Report</label>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.report.visible"
                    (change)="onChangeCheckbox('REPORT','VISIBLE')">Visible</mat-checkbox>
                  <mat-checkbox [(ngModel)]="authDetail.configuration.report.editable"
                    (change)="onChangeCheckbox('REPORT','EDITABLE')">Editable</mat-checkbox>
                </div>
              </div>
            </nb-tab>
            <nb-tab tabTitle="OTHERS">
              <div class="form-control-group">
                <div class="group-checkbox">
                  <label class="label">Original CV</label>
                  <mat-checkbox [(ngModel)]="authDetail.showOriginalCV">Visible</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Edit Candidate Info. Button</label>
                  <mat-checkbox [(ngModel)]="authDetail.editCandidateInfo">Visible</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Application Form</label>
                  <mat-checkbox [(ngModel)]="authDetail.showApplicationForm">Visible</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Salary</label>
                  <mat-checkbox [(ngModel)]="authDetail.showSalary">Visible</mat-checkbox>
                </div>
                <div class="group-checkbox">
                  <label class="label">Close JR Button</label>
                  <mat-checkbox [(ngModel)]="authDetail.closeJR">Visible</mat-checkbox>
                </div>
              </div>
            </nb-tab>
          </nb-tabset>
          <div class="form-control-group">
            <label class="label text-gray">PROCESS FLOW</label>
            <nb-tabset fullWidth>
              <nb-tab tabTitle="Have Exam">
                <div *ngFor="let step of authDetail.processFlow.exam.steps" class="group-checkbox">
                  <mat-checkbox [(ngModel)]="step.editable" [disabled]="step.disabled">
                    {{ step.button || step._id }}
                  </mat-checkbox>
                </div>
              </nb-tab>
              <nb-tab tabTitle="No Exam">
                <div *ngFor="let step of authDetail.processFlow.noExam.steps" class="group-checkbox">
                  <mat-checkbox [(ngModel)]="step.editable" [disabled]="step.disabled">
                    {{ step.button || step._id }}
                  </mat-checkbox>
                </div>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group m-t-20">
          <label class="label text-gray">DEPARTMENT / DIVISION</label>
          <div *ngFor="let department of departments; let i = index" class="group-checkbox">
            <mat-checkbox [(ngModel)]="department.control.visible" (change)="onSelectChangeDepartment(i)">
              {{ department.name || department.refDepartment }}
            </mat-checkbox>
            <div *ngFor="let division of department.divisions" class="group-checkbox">
              <mat-checkbox [(ngModel)]="division.control.visible" (change)="onSelectChangeDivision(i)">
                {{ division.name || division.refDivision }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="default" (click)="back()">Back</button>
    <button nbButton status="success" (click)="save()">Save</button>
  </nb-card-footer>
</nb-card>