<div class="content-header with-shadow">
  <h3>
    <span class="link text-gray" (click)="back()">
      <nb-icon icon="arrow-ios-back-outline" class="font-inherit"></nb-icon>
    </span>
    Job Request <small *ngIf="state" class="text-cap">({{ state }})</small>
  </h3>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="color:#8f9bb3">
        Description
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touched }">
              <label class="label" for="name">Job Position <span class="text-red">*</span></label>
              <nb-select [(ngModel)]="jr.refJD._id" [ngModelOptions]="{ standalone: true }"
                [disabled]="editCheck || duplicateCheck || checkPreview" (selectedChange)="onChangeJobposition($event)"
                fullWidth>
                <nb-option *ngFor="let job of JobPosition" [value]="job.value"
                  [disabled]="editCheck || duplicateCheck || checkPreview">
                  {{ job.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touched" class="text-red">{{ sErrorPosition }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedCap }">
              <label class="label" for="name">Capacity <span class="text-red">*</span></label>
              <input type="number" name="capacity" [(ngModel)]="jr.capacity" min="0.00" max="100.00" step="1.00"
                onKeyPress="if(this.value.length==2) return false;" nbInput fullWidth appNumberDirective
                [disabled]="editCheck || checkPreview" pattern="[0-9]*" inputmode="numeric" digitOnly />
              <small *ngIf="touchedCap" class="text-red">{{ sErrorCap }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedStart }">
              <label class="label">Start Date <span class="text-red">*</span></label>
              <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
              <div class="input-group">
                <input [nbDatepicker]="startDate" [(ngModel)]="jr.duration.startDate" nbInput fullWidth
                  [disabled]="editCheck || checkPreview" style="cursor: pointer;">
                <div class="input-group-addon" style="pointer-events: none;">
                  <nb-icon
                    [ngClass]="{ 'text-green': !editCheck || !checkPreview, 'text-light-gray':  editCheck || checkPreview }"
                    icon="calendar-outline"></nb-icon>
                </div>
                <small *ngIf="touchedStart" class="text-red">{{ sErrorStart }}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedEnd }">
              <label class="label">End Date <span class="text-red">*</span></label>
              <nb-datepicker #endDate format="dd/MM/yyyy"></nb-datepicker>
              <div class="input-group">
                <input [nbDatepicker]="endDate" [(ngModel)]="jr.duration.endDate" nbInput fullWidth
                  [disabled]="checkPreview" style="cursor: pointer;">
                <div class="input-group-addon" style="pointer-events: none;">
                  <nb-icon icon="calendar-outline"
                    [ngClass]="{ 'text-green': !checkPreview, 'text-light-gray': checkPreview }"></nb-icon>
                </div>
                <small *ngIf="touchedEnd" class="text-red">{{ sErrorEnd }}</small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedOn }">
              <label class="label">Onboard Date <span class="text-red">*</span></label>
              <nb-datepicker #onboardDate format="dd/MM/yyyy"></nb-datepicker>
              <div class="input-group">
                <input [nbDatepicker]="onboardDate" [(ngModel)]="jr.onboardDate" nbInput fullWidth
                  [disabled]="checkPreview" style="cursor: pointer;">
                <div class="input-group-addon" style="pointer-events: none;">
                  <nb-icon icon="calendar-outline"
                    [ngClass]="{ 'text-green': !checkPreview, 'text-light-gray': checkPreview }"></nb-icon>
                </div>
                <small *ngIf="touchedOn" class="text-red">{{ sErrorOn }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': sErrorUser }">
              <label class="label">Users Interview <span class="text-red">*</span>
                <small> (Please select Job Position first)</small>
              </label>
              <nb-select multiple [(ngModel)]="jr.userInterviews" [ngModelOptions]="{ standalone: true }" fullWidth
                [disabled]="checkPreview || !jr.refJD._id">
                <nb-option [hidden]="user.group === 'disabled'" *ngFor="let user of Users" [value]="user.value"
                  [disabled]="checkPreview">
                  {{ user.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="sErrorUser" class="text-red">{{ sErrorUser }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedEva }">
              <label class="label">Evaluation Template <span class="text-red">*</span>
                <small> (Configuration data)</small>
              </label>
              <nb-select [(ngModel)]="jr.refEvaluation" [ngModelOptions]="{ standalone: true }" fullWidth
                [disabled]="checkPreview">
                <nb-option *ngFor="let eva of Evaluation" (click)="selectedEva()" [value]="eva.value"
                  [disabled]="checkPreview">
                  {{ eva.label }}
                </nb-option>
              </nb-select>
              <small *ngIf="touchedEva" class="text-red">{{ sErrorEvaluation }}</small>
              <small *ngIf="jr.refEvaluation" class="link" (click)="openPopupEvaluation(jr.refEvaluation)">
                <nb-icon icon="info-outline"></nb-icon>Click to see preview evaluation form
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-control-group">
              <label class="label">Remark</label>
              <textarea nbInput fullWidth placeholder="Remark" [(ngModel)]="jr.remark" rows="3"
                [disabled]="checkPreview"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-md-2">
            <label class="label">Sourcing</label>
            <div>
              <mat-checkbox class="label" [(ngModel)]="emailCheck" disabled>Email</mat-checkbox>
            </div>
            <div *ngIf="role?.refCompany?.activeJobsDB">
              <mat-checkbox class="label" [(ngModel)]="jobDB" [disabled]="!editExam || checkPreview">JobsDB
              </mat-checkbox>
            </div>
          </div>
          <div class="col-sm-2 col-md-2">
            <label class="label">Have Exam</label>
            <div>
              <mat-checkbox class="label" [(ngModel)]="jr.requiredExam" [disabled]="checkPreview || !editExam">Yes
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div *ngIf="checkPreview && jr.refStatus === 'Reject'" class="row">
          <div class="col-md-12">
            <div class="form-control-group">
              <label class="label">Reason for reject</label>
              <textarea type="" nbInput fullWidth [(ngModel)]="jr.refRejection.name" disabled></textarea>
            </div>
          </div>
        </div>
        <div class="row pull-right">
          <small *ngIf="touchedCheck" class="text-red-right">{{ sErrorCheck }}</small>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="default" (click)="back()">Cancel</button>
        <button *ngIf="!checkPreview" nbButton status="success" (click)="save()">Save</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body></nb-card-body>
</nb-card>