<div class="content-header with-shadow">
  <h3>
    <span class="link text-gray" (click)="back()">
      <nb-icon icon="arrow-ios-back-outline" class="font-inherit"></nb-icon>
    </span>
    Job Request <small *ngIf="state" class="text-cap">({{ state }})</small>
  </h3>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="color:#8f9bb3">
        Description
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'select-red': touched,'select-disabled': editCheck || duplicateCheck || checkPreview }">
              <label class="label">HC ID </label>
              <input type="text" name="hc_id" [(ngModel)]="jr.hc_id" nbInput fullWidth
                [disabled]="(!isExpress && (editCheck || checkPreview)) || (isExpress && checkPreview) || isHybrid" />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group" class="select-disabled">
              <label class="label">Priority </label>
              <input type="text" name="priority" [(ngModel)]="priorityId" nbInput fullWidth disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'select-red': touched,'select-disabled': editCheck || duplicateCheck || checkPreview }">
              <label class="label" for="name">Job ID </label>
              <div class="input-link" [routerLink]="'/employer/jd/detail/preview/'+jr.refJD._id">
                <input type="text" name="jobId" [(ngModel)]="jr.refJD.job_id"
                  [disabled]="(!isExpress && (editCheck || checkPreview)) || (isExpress && checkPreview) || isHybrid"
                  nbInput fullWidth />
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'select-red': touched,'select-disabled': editCheck || duplicateCheck || checkPreview }">
              <label class="label" for="name">Job Name
              </label>
              <input type="text" name="jobId" [(ngModel)]="jr.refJD.position" nbInput fullWidth
                [disabled]="(!isExpress && (editCheck || checkPreview)) || (isExpress && checkPreview) || isHybrid" />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'has-error': f.nameTH.invalid,'select-disabled': editCheck || duplicateCheck || checkPreview }">
              <label class="label">Public Job Name (TH) </label>
              <input type="text" [formControl]="f.nameTH" name="nameTH" [(ngModel)]="jr.refJD.publicJobName.th" nbInput
                fullWidth />
              <small *ngIf="f.nameTH.invalid" class="text-red">Please enter public job name (th)</small>
              <!-- <small *ngIf="f.nameTH.invalid" class="text-red">Thai language only</small> -->
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group"
              [ngClass]="{ 'has-error': f.nameEN.invalid,'select-disabled': editCheck || duplicateCheck || checkPreview }">
              <label class="label" for="name">Public Job Name (EN) </label>
              <input type="text" [formControl]="f.nameEN" name="nameEN" [(ngModel)]="jr.refJD.publicJobName.en" nbInput
                fullWidth />
              <small *ngIf="f.nameEN.invalid" class="text-red">Please enter public job name (en)</small>
              <!-- <small *ngIf="f.nameEN.invalid" class="text-red">English language only</small> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-control-group">
              <label class="label" for="name">Branch </label>
              <div class="input-link" (click)="gotoBranch(jr.refLocation)">
                <input type="text" name="branch" [(ngModel)]="jr.refLocation.name" nbInput fullWidth
                  [disabled]="(!isExpress && (editCheck || checkPreview)) || (isExpress && checkPreview) || isHybrid" />
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group">
              <label class="label" for="name">Number of Opening </label>
              <input type="text" name="opening" [(ngModel)]="jr.numberOpen" nbInput fullWidth
                [disabled]="(!isExpress && (editCheck || checkPreview)) || (isExpress && checkPreview) || isHybrid" />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group">
              <label class="label">Group (can change)</label>
              <input type="text" name="group" [(ngModel)]="jr.refJD.group" nbInput [disabled]="checkPreview"
                fullWidth />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedStart }">
              <label class="label">Start Date </label>
              <nb-datepicker #startDate format="dd/MM/yyyy"></nb-datepicker>
              <div class="input-group">
                <input [nbDatepicker]="startDate" [(ngModel)]="jr.duration.startDate" nbInput fullWidth
                  [disabled]="editCheck || checkPreview || isHybrid" style="cursor: pointer;">
                <div class="input-group-addon" style="pointer-events: none;">
                  <nb-icon [ngClass]="{ 'text-green': !checkPreview, 'text-light-gray':  !editCheck || checkPreview }"
                    icon="calendar-outline"></nb-icon>
                </div>
                <small *ngIf="touchedStart" class="text-red">{{ sErrorStart }}</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-control-group" [ngClass]="{ 'has-error': touchedEnd }">
              <label class="label">End Date </label>
              <nb-datepicker #endDate format="dd/MM/yyyy"></nb-datepicker>
              <div class="input-group">
                <input [nbDatepicker]="endDate" [(ngModel)]="jr.duration.endDate" nbInput fullWidth
                  [disabled]="checkPreview || isHybrid" style="cursor: pointer;">
                <div class="input-group-addon" style="pointer-events: none;">
                  <nb-icon icon="calendar-outline"
                    [ngClass]="{ 'text-green': !checkPreview, 'text-light-gray': !editCheck || checkPreview }">
                  </nb-icon>
                </div>
                <small *ngIf="touchedEnd" class="text-red">{{ sErrorEnd }}</small>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="default" (click)="back()">Cancel</button>
        <button *ngIf="!checkPreview" nbButton status="success" (click)="save()">Save</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body></nb-card-body>
</nb-card>