<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
    nbSpinnerMessage="Loading...">
    <nb-card-body></nb-card-body>
</nb-card>
<div *ngIf="!loading">
    <nb-card>
        <nb-card-header>
            <h5 class="text-center text-green">Exam Online</h5>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-control-group" [ngClass]="{ 'has-error': touchedName }">
                        <label *ngIf="!preview" class="text-black"><b>ชื่อแบบทดสอบ/Name Exaเm Form</b> <span
                                class="text-red">*</span></label>
                        <input *ngIf="!preview" type="text" placeholder="ใส่ชื่อแบบทดสอบ" [(ngModel)]="examName"
                            name="name" nbInput fullWidth>
                        <label *ngIf="preview" class="text-black"><b>{{ examName || '' }}</b></label>
                        <small *ngIf="touchedName" class="text-red">{{ sErrorName }}</small>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-control-group">
                        <ngb-timepicker [(ngModel)]="duration"></ngb-timepicker>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body *ngIf="!preview">
            <nb-card *ngFor="let topic of topicOption;let i = index;">
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="input-group">
                                <!-- <label> {{ topic.name }}</label> -->
                                <input type="text" [(ngModel)]="topic.name" nbInput fullWidth
                                    placeholder="Question Here">
                                <div *ngIf="!preview" class="input-group-addon">
                                    <nb-icon status="danger" icon="trash-2-outline" class="text-light-gray" class="link"
                                        (click)="deleteTopic(topicOption,i)">
                                    </nb-icon>
                                </div>
                            </div><br>
                            <div *ngIf="topic.examOptions">
                                <div *ngFor="let option of topic.examOptions;let j = index;"
                                    class="input-group form-control-group">
                                    <textarea *ngIf="option.type === 'label'" type="text" [(ngModel)]="option.value"
                                        nbInput fullWidth placeholder="Question here" [disabled]="preview"></textarea>
                                    <input *ngIf="option.type === 'input'" type="text" [(ngModel)]="option.value"
                                        nbInput fullWidth placeholder="answer here" [disabled]="!preview">
                                    <textarea *ngIf="option.type === 'area'" [(ngModel)]="option.value" nbInput
                                        fullWidth placeholder="answer here" [disabled]="!preview"></textarea>
                                    <!-- radio -->
                                    <div *ngIf="option.type === 'radio'">
                                        <br>
                                        <nb-card>
                                            <nb-card-body>
                                                <div *ngFor="let group of option.group;let r = index"
                                                    class="input-group form-control-group">
                                                    <img *ngIf="group.src" class="img-incard"
                                                        [src]="group.src ? group.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                                    <input type="text" [(ngModel)]="group.label" nbInput fullWidth
                                                        placeholder="choice text here">
                                                    <div *ngIf="!preview" class="input-group-addon">
                                                        <a style="cursor: pointer;" (click)="fileInput.click()">
                                                            <span class="fa fa-images"></span>
                                                            <input #fileInput type="file"
                                                                (change)="fileChangeEvent(group,$event.target.files)"
                                                                style="display:none;" accept="image/*" />
                                                        </a>
                                                        <nb-icon status="danger" icon="minus-square-outline"
                                                            class="text-light-gray" class="link"
                                                            (click)="deleteTopic(option.group, r)">
                                                        </nb-icon>
                                                    </div>
                                                </div>
                                                <button (click)="addRadio(option,j)" nbButton ghost status="danger">
                                                    <nb-icon icon="plus-square-outline" class="text-light-gray"
                                                        class="link">
                                                    </nb-icon>
                                                </button>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <div class="row" *ngIf="option.type === 'file'" style="text-align:center">
                                        <div class="col-md-12 col-lg-12">
                                            <img *ngIf="!preview" class="img-default" (click)="fileInput.click()"
                                                [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                            <img *ngIf="preview" class="img-default"
                                                [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                            <br>
                                            <small *ngIf="!preview" class="text-gray">
                                                <a style="cursor: pointer;" (click)="fileInput.click()">
                                                    <span class="fa fa-images"></span>
                                                    <input #fileInput type="file"
                                                        (change)="fileChangeEvent(option,$event.target.files)"
                                                        style="display:none;" accept="image/*" />
                                                    <span class="m-l-5">Select Exam Picture</span>
                                                </a>
                                            </small>
                                        </div>
                                    </div>
                                    <div *ngIf="option.type === 'getFile'" style="text-align: center">
                                        <small class="text-gray">
                                            <a style="cursor: pointer;" (click)="fileInput.click()">
                                                <span class="fa fa-images"></span>
                                                <input #fileInput type="file"
                                                    (change)="fileChangeEvent(option,$event.target.files)"
                                                    style="display:none;" accept="image/*" />
                                                <span class="m-l-5">Upload Your Picture</span>
                                            </a>
                                        </small>
                                    </div>
                                    <div *ngIf="!preview" class="input-group-addon">
                                        <nb-icon status="danger" icon="minus-square-outline" class="text-light-gray"
                                            class="link" (click)="deleteTopic(topicOption[i].examOptions,j)">
                                        </nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center" *ngIf="!preview">
                            <button [nbPopover]="component" (click)="setTopic(topic)" nbPopoverPlacement="top" nbButton
                                ghost size="small">
                                <nb-icon icon="plus-square-outline" class="text-light-gray" class="link"
                                    style="margin-top:10px">
                                </nb-icon>
                            </button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

            <div class="row" *ngIf="!preview">
                <div class="col-lg-12 text-center">
                    <button (click)="addTopic(dialog,'topic')" nbPopoverPlacement="top" status="success" shape="round"
                        nbButton size="small">
                        <nb-icon icon="plus-outline">
                        </nb-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="!preview" class="row btn-save">
                <div class="col-lg-12">
                    <button (click)="save()" nbPopoverPlacement="top" nbButton size="small">
                        Save
                    </button>
                </div>
            </div>
        </nb-card-body>
        <!-- show preview -->
        <nb-card-body id="preview" *ngIf="preview">
            <div class="row" *ngFor="let topic of topicOption;let i = index;">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <h3 class="text-black"> {{ topic.name }}</h3>
                    </div>
                    <div *ngIf="topic.examOptions">
                        <div *ngFor="let option of topic.examOptions;let j = index;">
                            <label *ngIf="option.type === 'label'"> {{ option.value }} </label>
                            <input *ngIf="option.type === 'input'" type="text" [(ngModel)]="option.value" nbInput
                                fullWidth placeholder="answer here">
                            <textarea *ngIf="option.type === 'area'" [(ngModel)]="option.value" nbInput fullWidth
                                placeholder="Answer here"></textarea>
                            <!-- radio -->
                            <div *ngIf="option.type === 'radio'">
                                <nb-radio-group [name]="option._id" [(ngModel)]="option.value">
                                    <nb-radio *ngFor="let group of option.group" [value]="group.value">
                                        <img *ngIf="group.src" class="img-incard"
                                            [src]="group.src ? group.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                        {{ group.label }}
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                            <div class="row" *ngIf="option.type === 'file'" style="text-align:center">
                                <div class="col-md-12 col-lg-12">
                                    <img *ngIf="preview" class="img-default" (click)="showImg(imgShow,option.src)"
                                        [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="option.type === 'getFile'" style="text-align: center">
                                <small class="text-gray">
                                    <a style="cursor: pointer;" (click)="fileInput.click()">
                                        <span class="fa fa-images"></span>
                                        <input #fileInput type="file"
                                            (change)="fileChangeEvent(option,$event.target.files)" style="display:none;"
                                            accept="image/*" />
                                        <span class="m-l-5">Upload Your File</span>
                                    </a>
                                    <span *ngIf="fileText" class="m-l-5"> {{ fileText }} </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<!-- 4 btn label, input, checkbox, upload -->
<ng-template id="option" #tabs>
    <label class="text-black">Select answer type</label><br>
    <button (click)="addInput('input')" nbTooltip="free text" nbButton ghost>
        <nb-icon icon="text-outline">
        </nb-icon>
    </button>
    <button (click)="addInput('area')" nbTooltip=" paragrape/essay" nbButton ghost>
        <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <button (click)="addInput('radio')" nbTooltip="check list" nbButton ghost>
        <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
    </button>
    <button (click)="addInput('file')" nbTooltip="upload file from user" nbButton ghost>
        <nb-icon icon="file-add-outline"></nb-icon>
    </button>
    <button (click)="addInput('getFile')" nbTooltip="upload file from external" nbButton ghost>
        <nb-icon icon="arrow-circle-down-outline"></nb-icon>
    </button>
</ng-template>

<!-- dialogPopup -->
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <label>Add Question</label></nb-card-header>
        <nb-card-body>
            <div class="form-control-group">
                <input type="text" [(ngModel)]="fieldName" nbInput fullWidth placeholder="Create your question!">
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="default" (click)="ref.close()">Cancel</button>
            <button nbButton status="success" (click)="createField()" [disabled]="!fieldName">OK</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<!-- dialogPopup -->
<ng-template #imgShow let-data let-ref="dialogRef">
    <nb-card [style.width.px]="utilitiesService.getWidthOfPopupCard()" [style.max-height.px]="innerHeight">
        <nb-card-body>
            <img style="width: 100%;"
                [src]="getOptionImg ? getOptionImg : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="default" (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>