<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
    nbSpinnerMessage="Loading...">
    <nb-card-body></nb-card-body>
</nb-card>
<div *ngIf="!loading">
    <nb-card>
        <nb-card-header>
            <h5 class="text-center text-green">Exam Online</h5>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="form-control-group" [ngClass]="{ 'has-error': touchedName }">
                        <label *ngIf="!preview" class="text-black"><b>ชื่อแบบทดสอบ/Name Exam Form</b> <span
                                class="text-red">*</span></label>
                        <input *ngIf="!preview" type="text" placeholder="ใส่ชื่อแบบทดสอบ" [(ngModel)]="examName"
                            name="name" nbInput fullWidth>
                        <!-- <label *ngIf="preview" class="text-black"><b>{{ examName || '' }}</b></label> -->
                        <h4 *ngIf="preview" class="text-black"><b>{{ examName || '' }}</b></h4>
                        <small *ngIf="touchedName" class="text-red">{{ sErrorName }}</small>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-control-group">
                        <label class="text-black">ระยะเวลาในการสอบ <span
                                *ngIf="preview && duration">{{ duration.hour || '' }}
                                :
                                {{ duration.minute || '' }} </span><span *ngIf="preview && !duration">
                                ไม่จำกัดเวลา</span></label>
                        <ngb-timepicker *ngIf="!preview" [(ngModel)]="duration" [spinners]="false">
                        </ngb-timepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group" [ngClass]="{ 'select-red': touchedDep,'select-disabled': preview }">
                        <label class="text-black" for="name">Department <span style="color:red">*</span>
                        </label>
                        <mat-form-field [color]="primary" appearance="outline">
                            <mat-select [(ngModel)]="departmentId" [disabled]="preview"
                                (ngModelChange)="onChangeDepartment($event)">
                                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'"
                                    [array]="departMentAdmin" (filteredReturn)="filteredList2 =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let department of filteredList2" [value]="department.value">
                                    {{department.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <small *ngIf="touchedDep || !departmentId" class="text-red">{{ sErrorDe }}</small>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="!preview && checkDivision">
                    <div class="form-control-group">
                        <label class="text-black" for="name">Division
                        </label>
                        <mat-form-field [color]="primary" appearance="outline">
                            <mat-select [(ngModel)]="divisionId" [disabled]="divisionOptions.length <= 1 || preview">
                                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'"
                                    [array]="divisionOptions" (filteredReturn)="filteredList3 =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let option of filteredList3" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="preview && divisionId" class="col-md-6">
                    <div class="form-control-group">
                        <label class="text-black" for="name">Division
                        </label>
                        <mat-form-field [color]="primary" appearance="outline">
                            <mat-select [(ngModel)]="divisionId" [disabled]="divisionOptions.length <= 1 || preview">
                                <mat-select-filter [placeholder]="'Filter'" [displayMember]="'label'"
                                    [array]="divisionOptions" (filteredReturn)="filteredList3 =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let option of filteredList3" [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <mat-checkbox class="label" [(ngModel)]="allowAll" [disabled]="preview"><span class="text-black"
                                style="font-size: 15px;">Share
                                exam all department</span>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body *ngIf="!preview" style="word-break: break-word;">
            <nb-card *ngFor="let topic of topicOption;let i = index;">
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="input-group">
                                <!-- <label> {{ topic.name }}</label> -->
                                <input [style.color]="topic.color" [nbPopover]="colorPicker" nbPopoverPlacement="top"
                                    (click)="setOption(topic)" type="text" [(ngModel)]="topic.name" nbInput fullWidth
                                    placeholder="Question Here">
                                <div *ngIf="!preview" class="input-group-addon">
                                    <nb-icon (click)="insertTopic(dialog,'topic',i)" icon="plus-square-outline"
                                        class="text-light-gray" class="link">
                                    </nb-icon>
                                    <nb-icon status="danger" icon="trash-2-outline" class="text-light-gray" class="link"
                                        (click)="deleteTopic(topicOption,i)">
                                    </nb-icon>
                                </div>
                            </div><br>
                            <div *ngIf="topic.examOptions">
                                <div *ngFor="let option of topic.examOptions;let j = index;"
                                    class="input-group form-control-group">
                                    <img *ngIf="option.src" class="img-default" [nbPopover]="selectAlign"
                                        nbPopoverPlacement="top" (click)="setOption(option)" [src]="option.src">
                                    <textarea *ngIf="option.type === 'label'" [style.color]="option.color"
                                        [nbPopover]="colorPicker" nbPopoverPlacement="top" (click)="setOption(option)"
                                        type="text" [(ngModel)]="option.value" nbInput fullWidth
                                        placeholder="Question here" [disabled]="preview"></textarea>
                                    <input *ngIf="option.type === 'label'" style="color: red;" type="text"
                                        [(ngModel)]="option.score" nbInput fullWidth placeholder="score here">
                                    <input *ngIf="option.type === 'input'" [style.color]="option.color"
                                        [nbPopover]="colorPicker" nbPopoverPlacement="top" (click)="setOption(option)"
                                        type="text" [(ngModel)]="option.value" nbInput fullWidth
                                        placeholder="answer here" [disabled]="!preview">
                                    <textarea *ngIf="option.type === 'area'" [style.color]="option.color"
                                        [nbPopover]="colorPicker" nbPopoverPlacement="top" (click)="setOption(option)"
                                        [(ngModel)]="option.value" nbInput fullWidth placeholder="answer here"
                                        [disabled]="!preview"></textarea>
                                    <!-- radio -->
                                    <div *ngIf="option.type === 'radio'">
                                        <br>
                                        <nb-card [style.width.px]="utilitiesService.getWidthOfPopupCard()">
                                            <nb-card-body id="imgCard">
                                                <div *ngFor="let group of option.group;let r = index"
                                                    class="input-group form-control-group">
                                                    <img *ngIf="group.src" class="img-incard"
                                                        [src]="group.src ? group.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                                    <input type="text" [(ngModel)]="group.label" nbInput fullWidth
                                                        placeholder="choice text here">
                                                    <div *ngIf="!preview" class="input-group-addon">
                                                        <a style="cursor: pointer;" (click)="fileInput.click()">
                                                            <span class="fa fa-images"></span>
                                                            <input #fileInput type="file"
                                                                (change)="fileChangeEvent(group,$event.target.files)"
                                                                style="display:none;" accept="image/*" />
                                                        </a>
                                                        <nb-icon status="danger" icon="minus-square-outline"
                                                            class="text-light-gray" class="link"
                                                            (click)="deleteTopic(option.group, r)">
                                                        </nb-icon>
                                                    </div>
                                                </div>
                                                <button (click)="addRadio(option,j)" nbButton ghost status="danger">
                                                    <nb-icon icon="plus-square-outline" class="text-light-gray"
                                                        class="link">
                                                    </nb-icon>
                                                </button>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <div class="row" *ngIf="option.type === 'file'" style="text-align:center">
                                        <div class="col-md-12 col-lg-12">
                                            <img *ngIf="!preview" class="img-default" (click)="fileInput.click()"
                                                [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                            <img *ngIf="preview" class="img-default"
                                                [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                            <br>
                                            <small *ngIf="!preview" class="text-gray">
                                                <a style="cursor: pointer;" (click)="fileInput.click()">
                                                    <span class="fa fa-images"></span>
                                                    <input #fileInput type="file"
                                                        (change)="fileChangeEvent(option,$event.target.files)"
                                                        style="display:none;" accept="image/*" />
                                                    <span class="m-l-5">Select Exam Picture</span>
                                                </a>
                                            </small>
                                        </div>
                                    </div>
                                    <div *ngIf="option.type === 'getFile'" class="upload-file box-dashed"
                                        style="text-align: center">
                                        <small class="text-gray">
                                            <a (click)="fileInput.click()">
                                                <span class="fa fa-images"></span>
                                                <input style="display:none;" accept="image/*" />
                                                <span class="m-l-5">Upload Your Picture</span>
                                            </a>
                                        </small>
                                    </div>
                                    <div *ngIf="!preview" class="input-group-addon">
                                        <a *ngIf="option.type === 'label'" style="cursor: pointer;"
                                            (click)="fileInput.click()">
                                            <span class="fa fa-images"></span>
                                            <input #fileInput type="file"
                                                (change)="fileChangeEvent(option,$event.target.files)"
                                                style="display:none;" accept="image/*" />
                                        </a>
                                        <nb-icon [nbPopover]="tabs" (click)="setTopicIndex(topic , j)"
                                            nbPopoverPlacement="top" icon="plus-square-outline" class="text-light-gray"
                                            class="link">
                                        </nb-icon>
                                        <nb-icon status="danger" icon="minus-square-outline" class="text-light-gray"
                                            class="link" (click)="deleteTopic(topicOption[i].examOptions,j)">
                                        </nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center" *ngIf="!preview">
                            <button [nbPopover]="tabs" (click)="setTopic(topic)" nbPopoverPlacement="top" nbButton ghost
                                size="small">
                                <nb-icon icon="plus-square-outline" class="text-light-gray" class="link"
                                    style="margin-top:10px">
                                </nb-icon>
                            </button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

            <div class="row" *ngIf="!preview">
                <div class="col-lg-12 text-center">
                    <button (click)="addTopic(dialog,'topic')" nbPopoverPlacement="top" status="success" shape="round"
                        nbButton size="small">
                        <nb-icon icon="plus-outline">
                        </nb-icon>
                    </button>
                </div>
            </div>
            <!-- <div *ngIf="!preview" class="row btn-save">
                <div class="col-lg-12">
                    <button (click)="save()" nbPopoverPlacement="top" nbButton size="small">
                        Save
                    </button>
                </div>
            </div> -->
        </nb-card-body>
        <!-- show preview -->
        <nb-card-body id="preview" *ngIf="preview">
            <div class="row" *ngFor="let topic of topicOption;let i = index;">
                <div class="col-md-12 col-lg-12">
                    <div>
                        <h3 [style.color]="topic.color"> {{ topic.name }}</h3>
                    </div>
                    <div *ngIf="topic.examOptions">
                        <div *ngFor="let option of topic.examOptions;let j = index;">
                            <div class="row" *ngIf="option.src && option.type !== 'file' && option.type !=='getFile'"
                                style="text-align:center">
                                <div class="col-md-12 col-lg-12">
                                    <img class="img-default" style="text-align:center" [src]="option.src"><br
                                        *ngIf="option.src">
                                </div>
                            </div>
                            <label *ngIf="option.type === 'label'" [style.color]="option.color"> {{ option.value }}
                                <span *ngIf="option.score" style="color: red;">{{ option.score }}</span>
                            </label>
                            <input *ngIf="option.type === 'input'" type="text" [(ngModel)]="option.value" nbInput
                                fullWidth placeholder="answer here">
                            <textarea *ngIf="option.type === 'area'" [(ngModel)]="option.value" nbInput fullWidth
                                placeholder="answer here"></textarea>
                            <!-- radio -->
                            <div id="imgCard" *ngIf="option.type === 'radio'">
                                <nb-radio-group [name]="option._id" [(ngModel)]="option.value">
                                    <nb-radio *ngFor="let group of option.group" [value]="group.value">
                                        <img *ngIf="group.src" class="img-incard"
                                            [src]="group.src ? group.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                        {{ group.label }}
                                    </nb-radio>
                                </nb-radio-group>
                            </div>
                            <div class="row" *ngIf="option.type === 'file'" style="text-align:center">
                                <div class="col-md-12 col-lg-12">
                                    <img *ngIf="preview" class="img-default" (click)="showImg(imgShow,option.src)"
                                        [src]="option.src ? option.src : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
                                    <br>
                                </div>
                            </div>
                            <div *ngIf="option.type === 'getFile'" class="upload-file box-dashed"
                                style="text-align: center">
                                <p><small *ngIf="option.name">{{ option.name }}</small></p>
                                <small class="text-gray">
                                    <a (click)="fileInput.click()">
                                        <span class="fa fa-images"></span>
                                        <input style="display:none;" accept="image/*" />
                                        <span class="m-l-5">Upload Your File</span>
                                    </a>
                                    <span *ngIf="fileText" class="m-l-5"> {{ fileText }} </span>
                                </small>
                                <p><small>Attach file (pdf, doc, docx, jpeg, png -
                                        Max 10 MB</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer *ngIf="!preview">
            <div>
                <button (click)="save()" nbPopoverPlacement="top" nbButton size="small">
                    Save
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</div>
<!-- 4 btn label, input, checkbox, upload -->
<ng-template id="option" #tabs>
    <label class="text-black">Select answer type</label><br>
    <button (click)="addInput('input')" nbTooltip="Short answer" nbButton ghost>
        <nb-icon icon="text-outline">
        </nb-icon>
    </button>
    <button (click)="addInput('area')" nbTooltip="Paragrape/essay" nbButton ghost>
        <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <button (click)="addInput('radio')" nbTooltip="Check list" nbButton ghost>
        <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
    </button>
    <!-- <button (click)="addInput('file')" nbTooltip="Question with picture" nbButton ghost>
        <nb-icon icon="file-add-outline"></nb-icon>
    </button> -->
    <button (click)="addInput('getFile')" nbTooltip="Answer with picture" nbButton ghost>
        <nb-icon icon="arrow-circle-down-outline"></nb-icon>
    </button>
</ng-template>

<!-- color picker -->
<ng-template id="option" #colorPicker>
    <button nbButton ghost>
        <span (click)="setColor('#1B74B6')" class="dot" style="background-color: #1B74B6;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#35C4B2')" class="dot" style="background-color: #35C4B2;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#ED5154')" class="dot" style="background-color: #ED5154;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#FFC816')" class="dot" style="background-color: #FFC816;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#000000')" class="dot" style="background-color: #000000;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#707070')" class="dot" style="background-color: #707070;"></span>&nbsp;&nbsp;
        <span (click)="setColor('#D2D6D9')" class="dot" style="background-color: #D2D6D9;"></span>
    </button>
</ng-template>

<!-- img align -->
<!-- <ng-template id="option" #selectAlign>
    <button nbButton ghost>
        <button (click)="changeAlign('left')" nbTooltip="left" nbButton ghost>
            <i class="fas fa-align-left"></i>
        </button>
        <button (click)="changeAlign('center')" nbTooltip="center" nbButton ghost>
            <i class="fas fa-align-center"></i>
        </button>
        <button (click)="changeAlign('right')" nbTooltip="right" nbButton ghost>
            <i class="fas fa-align-right"></i>
        </button>
    </button>
</ng-template> -->

<!-- Add heading -->
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <label>Add heading</label></nb-card-header>
        <nb-card-body>
            <div class="form-control-group">
                <input type="text" [(ngModel)]="fieldName" nbInput fullWidth placeholder="Create your heading!">
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="default" (click)="ref.close()">Cancel</button>
            <button nbButton status="success" (click)="createField()" [disabled]="!fieldName">OK</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<!-- Show Img -->
<ng-template #imgShow let-data let-ref="dialogRef">
    <nb-card [style.width.px]="utilitiesService.getWidthOfPopupCard()" [style.max-height.px]="innerHeight">
        <nb-card-body>
            <img style="width: 100%;"
                [src]="getOptionImg ? getOptionImg : 'https://image.flaticon.com/icons/svg/2521/2521909.svg'">
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="default" (click)="ref.close()">Cancel</button>
        </nb-card-footer>
    </nb-card>
</ng-template>