.box-header {
  padding: 20px;
}
.box-body .no-data {
  height: 200px;
  text-align: center;
  font-size: 18px;
}
.chart-text {
  font-family: sukhumvit;
  font-size: 15px;
  color: var(--color-green);
}
.text-center {
  text-align: center;
}
.panel-collapse {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
}
#chart {
  max-width: 50%;
  margin: 35px auto;
  padding: 0;
}