<nb-card *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-body class="dialog-body">
  </nb-card-body>
</nb-card>

<nb-card *ngIf="previewEmail" [style.width.px]="innerWidth" [style.max-height.px]="innerHeight" [nbSpinner]="loading"
  nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="box-header">
      <h5 class="box-title">{{ mailOptions.subject }}
        <small class="pull-right">
          <mat-checkbox [(ngModel)]="sendEmail" [disabled]="checkedEmail">Send Email</mat-checkbox>
        </small>
      </h5>
    </div>
    <div class="user-block">
      <img class="img-circle" src="https://s3-ap-southeast-1.amazonaws.com/img-in-th/55613ac85c767ce0c72fc9825f111d0e.png" alt="user image">
      <span class="username">
        {{ mailOptions.from }}
        <small class="pull-right">{{ utilitiesService.convertDateTime(today) }}</small>
      </span>
      <span class="description">
        <strong>to:</strong> <span *ngFor="let mailOption of mailOptions.to;let i = index">
          <span *ngIf="i === 0">
            {{ mailOption }}
          </span>
          <span *ngIf="i > 0" class="mailAfter">
            {{ mailOption }}
          </span>
        </span>
      </span>
      <span *ngIf="mailOptions.cc.length" class="description">
        <strong>cc:</strong>
        <span *ngFor="let cc of mailOptions.cc;let i = index"><span *ngIf="i === 0">
            {{ cc }}
          </span><span *ngIf="i > 0" class="mailAfter"> {{ cc }}</span> </span>
      </span>
      <span *ngIf="mailOptions.bcc.length" class="description">
        <strong>bcc:</strong>
        <span *ngFor="let bcc of mailOptions.bcc;let i = index"><span *ngIf="i === 0">
            {{ bcc }}
          </span><span *ngIf="i > 0" class="mailAfter"> {{ bcc }}</span> </span>
      </span>
    </div>
  </nb-card-header>
  <nb-card-body class="dialog-body">
    <angular-editor placeholder="'Enter text here...'" [(ngModel)]="mailOptions.html"></angular-editor>
  </nb-card-body>
  <nb-card-footer>
    <div class="footer-collapse">
      <button nbButton status="default" [size]="(devices.isMobile)? 'tiny' : 'medium'"
        (click)="ref.close(result)">CANCEL</button>
    </div>
    <button nbButton status="success" [size]="(devices.isMobile)? 'tiny' : 'medium'"
      (click)="nextStep()">{{ buttonName }}</button>
  </nb-card-footer>
</nb-card>