<div class="content-header with-shadow">
  <div class="breadcrumb">
    <h5>
      <span class="link text-gray" (click)="back()">
        <nb-icon icon="arrow-ios-back-outline" style="font-size: 100%;"></nb-icon>Back
      </span>
    </h5>
  </div>
</div>

<nb-card accent="success" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large"
  nbSpinnerMessage="Loading...">
  <nb-card-header>
    <div class="title">
      <label class="text-cap" [nbTooltip]="utilitiesService.setFullname(item)">
        {{ utilitiesService.setFullname(item) }}
      </label>
      <small class="status">
        Status: <label class="label label-gray">{{ item.candidateFlow?.refStage?.name }}</label>
      </small>
    </div>
    <div class="actions">
      <div class="link" [nbPopover]="score" nbPopoverTrigger="hint" nbPopoverPlacement="left">
        <span class="fa fa-star text-orange">&nbsp;</span>
        <span>{{ item.candidateFlow?.weightScore?.accumulativeScore || 0 }}</span>
        <small>/{{ item.candidateFlow?.weightScore?.total || 0 }}</small>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-md-6">

        <!-- Personal Details -->
        <label class="label topic" style="margin-top: 0;">Personal Details</label>
        <div class="m-l-15">
          <div class="text-group">
            <label class="label">Name</label>
            <span class="text-cap">{{ utilitiesService.setFullname(item) || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Birthday</label>
            <span>{{ utilitiesService.convertDate(item.birth) || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Age</label>
            <span>{{ utilitiesService.calculateAgeFromBirthdate(item.birth) || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Phone</label>
            <span>{{ item.phone || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Email</label>
            <span>{{ item.email || '-' }}</span>
          </div>
          <div>
            <label class="label">Address</label>
            <div class="m-l-15">
              <span>{{ item.address || '-' }}</span>
            </div>
          </div>
        </div>

        <!-- Work Experience -->
        <label class="label topic">Work Experience</label>
        <div class="m-l-15">
          <div class="text-group">
            <label class="label">Duration</label>
            <span>{{ 
                utilitiesService.convertMonthToYearText(item.workExperience?.totalExpMonth) || 
                utilitiesService.convertMonthToYearText(item.workExperience?.totalExMonth) || '-' }}
            </span>
          </div>
          <div *ngFor="let exp of item.workExperience?.work">
            <span><span *ngIf="utilitiesService.convertWorkExpToText(exp)">•
              </span>{{ utilitiesService.convertWorkExpToText(exp) }} </span>
          </div>
        </div>

        <!-- Education -->
        <label class="label topic">Education</label>
        <div class="m-l-15">
          <div *ngFor="let education of item.education">
            <span>• {{ utilitiesService.convertEducationToText(education) }} </span>
          </div>
          <span *ngIf="!item.education?.length">-</span>
        </div>

        <!-- Hard Skills -->
        <label class="label topic">Hard Skills</label>
        <div class="m-l-15">
          <span *ngIf="item.hardSkill?.length">• </span>
          <span>{{ utilitiesService.convertStringArrayToLongText(item.hardSkill) || '-' }}</span>
        </div>

        <!-- Soft Skills -->
        <label class="label topic">Soft Skills</label>
        <div class="m-l-15">
          <span *ngIf="item.softSkill?.length">• </span>
          <span>{{ utilitiesService.convertStringArrayToLongText(item.softSkill) || '-' }}</span>
        </div>

        <!-- Certificate -->
        <label class="label topic">Certificate</label>
        <div class="m-l-15">
          <span *ngIf="item.certificate?.length">• </span>
          <span>{{ utilitiesService.convertStringArrayToLongText(item.certificate) || '-' }}</span>
        </div>

      </div>

      <div class="col-md-6 m-b-20">

        <!-- Process Flow -->
        <label class="label topic" style="margin-top: 0;">Process Flow</label>
        <div class="m-l-15">
          <div class="text-group">
            <label class="label">Department</label>
            <span>{{ item.candidateFlow?.refJR?.department?.name || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Division</label>
            <span>{{ item.candidateFlow?.refJR?.division?.name || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Job Position</label>
            <span (click)="gotoJR()" class="link underline"
              nbTooltip="See More Candidate">{{ item.candidateFlow?.refJR?.refJD?.position || '-' }}</span>
          </div>
          <div class="text-group">
            <label class="label">Stage</label>
            <span (click)="gotoStage()" class="link underline"
              nbTooltip="See More Job Positon">{{ item.candidateFlow?.refStage?.refMain?.name || '-' }}</span>
          </div>
        </div>

        <div *ngIf="item.candidateFlow?.refJR?.requiredExam">
          <!-- Exam Date -->
          <div *ngIf="condition.block.examDate">
            <label class="label topic">Exam Date <span *ngIf="condition.icon.examDate" class="text-red">*</span></label>
            <nb-icon *ngIf="condition.icon.examDate" icon="edit-2-outline" class="link" nbTooltip="Edit Exam Date"
              (click)="openPopupExamDate(item)"></nb-icon>
            <div class="m-l-15">
              <div class="text-group">
                <label class="label">Exam Location</label>
                <span>{{ item.candidateFlow?.examInfo?.refLocation?.name || '-' }}</span>
              </div>
              <div class="text-group">
                <label class="label">Exam Date</label>
                <span>{{ utilitiesService.convertDateTime(item.candidateFlow?.examInfo?.date) || '-' }}</span>
              </div>
            </div>
          </div>
          <!-- Exam Info -->
          <div *ngIf="condition.block.examInfo">
            <label class="label topic">Exam Info <span *ngIf="condition.icon.examInfo" class="text-red">*</span></label>
            <nb-icon *ngIf="condition.icon.examInfo" icon="edit-2-outline" class="link" nbTooltip="Edit Exam Info"
              (click)="openPopupExamInfo(item)"></nb-icon>
            <div class="m-l-15">
              <div class="text-group">
                <label class="label">Available Date</label>
                <span>{{ utilitiesService.convertDate(item.candidateFlow?.pendingExamInfo?.availableDate) || '-' }}</span>
              </div>
              <div class="text-group">
                <label class="label">After Sign Contract</label>
                <span>{{ item.candidateFlow?.pendingExamInfo?.afterSignContract || '-' }}</span>
              </div>
              <div class="text-group">
                <label class="label">Remark</label>
                <span>{{ item.candidateFlow?.pendingExamInfo?.remark || '-' }}</span>
              </div>
            </div>
          </div>
          <!-- Exam Score -->
          <div *ngIf="condition.block.examScore">
            <label class="label topic">Exam Score <span *ngIf="condition.icon.examScore"
                class="text-red">*</span></label>
            <nb-icon *ngIf="condition.icon.examScore" icon="edit-2-outline" class="link" nbTooltip="Edit Exam Score"
              (click)="openPopupExamScore(item)"></nb-icon>
            <div class="m-l-15">
              <div class="text-group">
                <label class="label">Exam Score</label>
                <span>{{ item.candidateFlow?.pendingExamScoreInfo?.examScore || '0' }}</span>
              </div>
              <div class="text-group">
                <label class="label">Exam Remark</label>
                <span>{{ item.candidateFlow?.pendingExamScoreInfo?.examRemark || '-' }}</span>
              </div>
              <div class="text-group">
                <label class="label">Attitude Score</label>
                <span>{{ item.candidateFlow?.pendingExamScoreInfo?.attitudeScore || '0' }}</span>
              </div>
              <div class="text-group">
                <label class="label">Attitude Remark</label>
                <span>{{ item.candidateFlow?.pendingExamScoreInfo?.attitudeRemark || '-' }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Interview Info -->
        <div *ngIf="condition.block.interviewDate">
          <label class="label topic">Interview Info <span *ngIf="condition.icon.interviewDate"
              class="text-red">*</span></label>
          <nb-icon *ngIf="condition.icon.interviewDate" icon="edit-2-outline" class="link"
            nbTooltip="Edit Interview Info" (click)="openPopupInterviewDate(item)"></nb-icon>
          <div class="m-l-15">
            <div class="text-group">
              <label class="label">Interview Location</label>
              <span>{{ item.candidateFlow?.pendingInterviewInfo?.refLocation?.name || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Interview Date</label>
              <span>{{ utilitiesService.convertDateTime(item.candidateFlow?.pendingInterviewInfo?.startDate) || '-' }}</span>
            </div>
          </div>
        </div>

        <!-- Interview Score -->
        <div *ngIf="condition.block.interviewScore">
          <label class="label topic">Interview Score <span *ngIf="condition.icon.interviewScore"
              class="text-red">*</span></label>
          <nb-icon *ngIf="condition.icon.interviewScore" icon="edit-2-outline" class="link"
            nbTooltip="Edit Interview Result" (click)="openPopupInterviewScore(item)"></nb-icon>
          <div *ngFor="let interviewScore of interviewScores" class="m-l-15">
            <div class="text-group">
              <label class="label">{{ interviewScore.name }}</label>
              <span>{{ interviewScore.result || '-' }}</span>
            </div>
          </div>
        </div>

        <!-- Sign Contract Info -->
        <div *ngIf="condition.block.signContract">
          <label class="label topic">Sign Contract Info <span *ngIf="condition.icon.signContract"
              class="text-red">*</span></label>
          <nb-icon *ngIf="condition.icon.signContract" icon="edit-2-outline" class="link"
            nbTooltip="Edit Sign Contract Info" (click)="openPopupSignContractDate(item)"></nb-icon>
          <div class="m-l-15">
            <div class="text-group">
              <label class="label">Sign Contract Date</label>
              <span>{{ utilitiesService.convertDateTimeFromSystem(item.candidateFlow?.pendingSignContractInfo?.sign?.date) || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Agree Start Date</label>
              <span>{{ utilitiesService.convertDate(item.candidateFlow?.pendingSignContractInfo?.agreeStartDate) || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Email Sent Date</label>
              <span>{{ utilitiesService.convertDateTimeFromSystem(item.candidateFlow?.pendingSignContractInfo?.mail?.date) || '-' }}</span>
            </div>
            <div class="text-group">
              <label class="label">Remark</label>
              <span>{{ item.candidateFlow?.pendingSignContractInfo?.note || '-' }}</span>
            </div>
          </div>
        </div>

        <!-- Onboard Info -->
        <div *ngIf="condition.block.onboard">
          <label class="label topic">Onboard Info</label>
          <div class="m-l-15">
            <div class="text-group">
              <label class="label">Onboard Date</label>
              <span>{{ utilitiesService.convertDate(item.candidateFlow?.onboard?.date) || '-' }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="condition.button.errMsg" class="pull-right">
      <label class="label text-red m-0">
        * {{ condition.button.errMsg }}
      </label>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="float-left">
      <button *ngIf="role.refAuthorize?.showOriginalCV" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'"
        status="default" (click)="checkCV(item._id)" nbTooltip="Original CV">
        <nb-icon icon="file-text-outline"></nb-icon>
      </button>
      <button nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="default"
        (click)="openPrintCandidate(item)" nbTooltip="Print">
        <nb-icon icon="printer-outline"></nb-icon>
      </button>
    </div>
    <button *ngIf="condition.button.comment" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="info"
      nbTooltip="Comment" (click)="openPopupComment(item)">
      <nb-icon icon="message-circle" style="margin-right: 0;"></nb-icon>
      <nb-badge *ngIf="item.candidateFlow?.comments.length" [text]="item.candidateFlow?.comments.length" status="danger"
        position="top right">
      </nb-badge>
    </button>
    <button *ngIf="condition.button.nextStep" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="success"
      [nbTooltip]="condition.button.step.button" (click)="approve(item, condition.button.step)"
      [disabled]="condition.button.disabled">
      <nb-icon icon="checkmark-circle-2"></nb-icon>
    </button>
    <button *ngIf="condition.button.reject" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="danger"
      nbTooltip="Reject" (click)="reject(item)">
      <nb-icon icon="close-circle"></nb-icon>
    </button>
    <button *ngIf="condition.button.revoke" nbButton [size]="(devices.isMobile)? 'tiny' : 'medium'" status="primary"
      nbTooltip="Revoke" (click)="revoke(item)">
      <nb-icon icon="undo"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>

<ng-template #score>
  <div class="text-center m-b-10">
    <label class="label text-top text-black">CV Score</label>
  </div>
  <div class="m-b-10">
    <div class="label">Work Experience
      <span class="pull-right">
        {{ item.candidateFlow?.weightScore?.workExperience?.accumulativeScore || 0 }}/{{ item.candidateFlow?.weightScore?.workExperience?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.candidateFlow?.weightScore?.workExperience?.accumulativeScore,
                item.candidateFlow?.weightScore?.workExperience?.total)" status="primary" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Education
      <span class="pull-right">
        {{ item.candidateFlow?.weightScore?.education?.accumulativeScore || 0 }}/{{ item.candidateFlow?.weightScore?.education?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.candidateFlow?.weightScore?.education?.accumulativeScore,
                item.candidateFlow?.weightScore?.education?.total)" status="info" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Hard Skill
      <span class="pull-right">
        {{ item.candidateFlow?.weightScore?.hardSkill?.accumulativeScore || 0 }}/{{ item.candidateFlow?.weightScore?.hardSkill?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.candidateFlow?.weightScore?.hardSkill?.accumulativeScore,
                item.candidateFlow?.weightScore?.hardSkill?.total)" status="success" size="tiny">
    </nb-progress-bar>
  </div>
  <div class="m-b-10">
    <div class="label">Soft Skill
      <span class="pull-right">
        {{ item.candidateFlow?.weightScore?.softSkill?.accumulativeScore || 0 }}/{{ item.candidateFlow?.weightScore?.softSkill?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.candidateFlow?.weightScore?.softSkill?.accumulativeScore,
                item.candidateFlow?.weightScore?.softSkill?.total)" status="warning" size="tiny">
    </nb-progress-bar>
  </div>
  <div>
    <div class="label">Certificate
      <span class="pull-right">
        {{ item.candidateFlow?.weightScore?.certificate?.accumulativeScore || 0 }}/{{ item.candidateFlow?.weightScore?.certificate?.total || 0 }}
      </span>
    </div>
    <nb-progress-bar [value]="utilitiesService.calculatePercentage(
                item.candidateFlow?.weightScore?.certificate?.accumulativeScore,
                item.candidateFlow?.weightScore?.certificate?.total)" status="danger" size="tiny">
    </nb-progress-bar>
  </div>
</ng-template>