<div id="resume">
  <div *ngIf="loading" class="container">
    <div class="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="Loading Document...">
    </div>
  </div>

  <div *ngIf="!loading">
    <div class="nav-bar">
      <div class="nav-brand">
        <mat-icon>ballot</mat-icon>
        <div class="title">{{ 'CHECK_STATUS' | translate }}</div>
      </div>
      <div class="nav-right">
        <span class="lang" [ngClass]="{ 'active' : language === 'en' }" (click)="setLang('en')">ENG</span>
        |
        <span class="lang" [ngClass]="{ 'active' : language === 'th' }" (click)="setLang('th')">ไทย</span>
      </div>
    </div>
    <div class="container">
      <div style="margin-top: 2.5rem;">
        <table mat-table [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> {{ 'POSITION' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> {{ 'INTERVIEW_DATE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> {{ 'STATUS' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <span class="{{ element.status.color }}">
                {{ language === 'en' ? element.status.nameEN : element.status.nameTH }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="max-width: 250px;"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button type="button" color="primary" (click)="editAppForm(element.appFormId)"
                [disabled]="!element.status.editable">
                {{ 'EDIT' | translate }}
              </button>
              <button mat-flat-button type="button" color="primary" (click)="reserveDate(dialog, element.flowId)"
                [disabled]="!element.status.reserve">
                {{ 'RESERVE' | translate }}
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>

  <ng-template #dialog let-data let-ref="dialogRef">
    <div class="card">
      <div class="card-header">
        <div class="title">{{ 'CHECK_STATUS' | translate }}</div>
      </div>
      <div class="card-body">
        <mat-form-field appearance="outline" class="fit-content">
          <mat-label>{{ 'SELECT_ANSWER' | translate }}</mat-label>
          <mat-select required>
            <mat-option value="aaa">aaa</mat-option>
            <mat-option value="bbb">bbb</mat-option>
            <mat-option value="ccc">ccc</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- <nb-card>
      <nb-card-header>Template Dialog</nb-card-header>
      <nb-card-body>{{ data }}</nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()">Close Dialog</button>
      </nb-card-footer>
    </nb-card> -->
  </ng-template>

</div>